@media screen and (max-width: 1024px) {
  /* line 3, ../sass/media.scss */
  .header {
    width: 768px;
  }
  /* line 5, ../sass/media.scss */
  .header__text {
    width: 470px;
    top: 9px;
  }
  /* line 8, ../sass/media.scss */
  .header__text__wrapper {
    height: 60px;
  }

  /* line 13, ../sass/media.scss */
  .container {
    width: 750px;
  }

  /* line 17, ../sass/media.scss */
  .content__header {
    width: 668px;
  }
  /* line 20, ../sass/media.scss */
  .content__header__page-bar__frame {
    background-size: 80px 50px,80px 50px,515px 5px, 515px 5px;
  }

  /* line 26, ../sass/media.scss */
  #about {
    width: 675px;
    background-size: 675px 7px;
  }

  /* line 30, ../sass/media.scss */
  .about {
    width: 360px;
    height: 560px;
  }
  /* line 33, ../sass/media.scss */
  .about:before {
    background-position: 0 100%;
    bottom: 5px;
  }

  /* line 39, ../sass/media.scss */
  .reforms__body {
    width: 675px;
    background-size: 675px 7px;
  }
  /* line 42, ../sass/media.scss */
  .reforms__body a {
    width: calc((100% - 68px) / 2);
    margin: 0 16px 35px 16px;
  }
  /* line 45, ../sass/media.scss */
  .reforms__body a div {
    height: 190px;
  }

  /* line 51, ../sass/media.scss */
  #news {
    width: 675px;
  }

  /* line 56, ../sass/media.scss */
  .news__body a {
    width: 300px;
  }
  /* line 58, ../sass/media.scss */
  .news__body a:nth-child(2n) {
    margin-left: 65px;
  }
  /* line 60, ../sass/media.scss */
  .news__body a:nth-child(2n):before {
    left: -46px;
  }

  /* line 67, ../sass/media.scss */
  .footer {
    width: 740px;
    height: 85px;
  }
  /* line 70, ../sass/media.scss */
  .footer a, .footer p {
    font-size: 12px;
  }
  /* line 73, ../sass/media.scss */
  .footer__first-b {
    margin-right: 70px;
  }
  /* line 76, ../sass/media.scss */
  .footer__bottom {
    height: 60px;
    width: 740px;
  }
  /* line 79, ../sass/media.scss */
  .footer__bottom p {
    width: 185px;
  }
  /* line 82, ../sass/media.scss */
  .footer__bottom > a {
    position: relative;
    top: 15px;
  }

  /* line 91, ../sass/media.scss */
  .wrapper-t1 .content__body__pages__line-first {
    width: 220px;
  }
  /* line 94, ../sass/media.scss */
  .wrapper-t1 .content__body__pages__line-second {
    width: 450px;
  }
  /* line 97, ../sass/media.scss */
  .wrapper-t1 .content__body__pages__line-third {
    width: 85%;
    margin: 0 auto;
    display: block;
  }
  /* line 106, ../sass/media.scss */
  .wrapper-t2 .content__body__pages__line-first, .wrapper-t2 .content__body__pages__line-second, .wrapper-t2 .content__body__pages__line-third {
    width: 100%;
  }
  /* line 113, ../sass/media.scss */
  .wrapper-t3 .content__body__pages__line-first, .wrapper-t3 .content__body__pages__line-second, .wrapper-t3 .content__body__pages__line-third {
    width: 100%;
  }

  /* line 119, ../sass/media.scss */
  .cs-mt-one {
    min-height: 55px;
  }
  /* line 121, ../sass/media.scss */
  .cs-mt-one h2 {
    font-size: 21px;
    line-height: 35px;
  }

  /* line 126, ../sass/media.scss */
  #comments {
    width: 600px;
  }

  /* line 131, ../sass/media.scss */
  .comments__card__header {
    height: 80px;
  }
  /* line 134, ../sass/media.scss */
  .comments__card__header div:first-of-type {
    width: 400px;
  }

  /* line 141, ../sass/media.scss */
  #news-card {
    width: 675px;
  }

  /* line 144, ../sass/media.scss */
  .news-card__footer a {
    max-width: 38%;
  }

  /* line 147, ../sass/media.scss */
  .content__header__nav-bar label div {
    width: 730px;
  }
  /* line 149, ../sass/media.scss */
  .content__header__nav-bar label div ol li {
    width: calc((100% - 165px) / 3);
  }

  /* line 153, ../sass/media.scss */
  #calendar-big {
    height: 360px;
    background-size: 660px 9px;
  }

  /* line 157, ../sass/media.scss */
  #calendar {
    height: 160px;
  }
  /* line 160, ../sass/media.scss */
  #calendar #number7 {
    top: 79px;
    left: 384px;
  }
  /* line 164, ../sass/media.scss */
  #calendar #number12 {
    top: 79px;
    left: 543px;
  }
  /* line 168, ../sass/media.scss */
  #calendar #number17 {
    top: 112px;
    left: 40px;
  }
  /* line 173, ../sass/media.scss */
  #calendar button {
    width: 32px;
    height: 32px;
  }
}
@media screen and (max-width: 767px) {
  /* line 180, ../sass/media.scss */
  .header {
    width: 320px;
    padding: 5px 10px;
    height: 120px;
  }
  /* line 184, ../sass/media.scss */
  .header__social-link {
    position: absolute;
    top: auto;
    bottom: 3px;
  }
  /* line 189, ../sass/media.scss */
  .header__call-back {
    position: absolute;
    top: auto;
    bottom: 3px;
  }
  /* line 194, ../sass/media.scss */
  .header__text {
    width: 300px;
  }
  /* line 196, ../sass/media.scss */
  .header__text img {
    display: none;
  }
  /* line 199, ../sass/media.scss */
  .header__text__wrapper {
    height: 55px;
  }
  /* line 201, ../sass/media.scss */
  .header__text__wrapper img {
    display: block !important;
  }

  /* line 207, ../sass/media.scss */
  .container {
    width: 320px;
  }

  /* line 210, ../sass/media.scss */
  .row {
    padding: 10px;
  }

  /* line 214, ../sass/media.scss */
  .content__header {
    width: 268px;
    height: auto;
  }
  /* line 217, ../sass/media.scss */
  .content__header__page-bar {
    padding: 0;
  }
  /* line 219, ../sass/media.scss */
  .content__header__page-bar__wrapper {
    background-color: transparent;
  }
  /* line 221, ../sass/media.scss */
  .content__header__page-bar__wrapper a {
    top: -25px;
  }
  /* line 225, ../sass/media.scss */
  .content__header__page-bar__frame {
    display: none;
  }
  /* line 229, ../sass/media.scss */
  .content__header__nav-bar {
    position: absolute;
    height: auto;
    top: -145px;
    left: 50%;
    padding: 0 15px;
    width: 99vw;
    background-color: #FFF7ED;
    overflow: hidden;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
  }
  /* line 239, ../sass/media.scss */
  .content__header__nav-bar a:first-of-type {
    margin-top: 20px;
  }
  /* line 242, ../sass/media.scss */
  .content__header__nav-bar a, .content__header__nav-bar label {
    padding-left: 10px;
    position: relative;
    display: block;
    text-align: left;
    text-decoration: none;
  }
  /* line 248, ../sass/media.scss */
  .content__header__nav-bar a i, .content__header__nav-bar label i {
    margin: 0;
  }
  /* line 251, ../sass/media.scss */
  .content__header__nav-bar a:before, .content__header__nav-bar label:before {
    content: "\f054";
    font-family: FontAwesome;
    font-size: 16px;
    color: #533625;
    margin-right: 6px;
  }
  /* line 260, ../sass/media.scss */
  .content__header__nav-bar label:before {
    margin-right: 2px;
  }
  /* line 263, ../sass/media.scss */
  .content__header__nav-bar label div {
    top: -87px;
    left: 49%;
    position: relative;
    z-index: 3;
    width: 100vw;
    padding-top: 50px;
  }
  /* line 271, ../sass/media.scss */
  .content__header__nav-bar label div ol li {
    width: 100%;
    padding-left: 15px;
  }
  /* line 274, ../sass/media.scss */
  .content__header__nav-bar label div ol li a {
    margin-top: 0 !important;
  }
  /* line 285, ../sass/media.scss */
  .content__body__pages__wrapper {
    margin-top: 30px;
  }
  /* line 289, ../sass/media.scss */
  .content__body__pages__header h1 {
    margin-top: 10px;
    line-height: 25px;
  }

  /* line 297, ../sass/media.scss */
  #about {
    margin: 0 auto 25px auto;
    width: 270px;
    background-size: 265px 5px;
  }

  /* line 302, ../sass/media.scss */
  .about {
    margin-left: 5px;
    width: 265px;
    height: 750px;
  }
  /* line 306, ../sass/media.scss */
  .about:before {
    display: none;
  }
  /* line 309, ../sass/media.scss */
  .about h2 {
    font-size: 28px;
    letter-spacing: 0.9px;
    line-height: 25px;
    margin-bottom: 16px;
  }

  /* line 317, ../sass/media.scss */
  .reforms__body {
    width: 268px;
    background-size: 265px 5px;
  }
  /* line 320, ../sass/media.scss */
  .reforms__body a {
    width: 260px;
    margin: 0 3px 35px 3px;
  }
  /* line 323, ../sass/media.scss */
  .reforms__body a div {
    height: 165px;
  }

  /* line 329, ../sass/media.scss */
  #reforms {
    margin-bottom: 0;
  }

  /* line 332, ../sass/media.scss */
  #news {
    width: 268px;
  }
  /* line 334, ../sass/media.scss */
  #news h2 {
    text-align: left;
    margin: 15px 0 25px 0;
  }

  /* line 341, ../sass/media.scss */
  .news__body a {
    width: 268px;
  }
  /* line 343, ../sass/media.scss */
  .news__body a:nth-child(2n) {
    margin-left: 0;
  }
  /* line 345, ../sass/media.scss */
  .news__body a:nth-child(2n):before {
    display: none;
  }
  /* line 349, ../sass/media.scss */
  .news__body a div {
    height: 170px;
  }
  /* line 354, ../sass/media.scss */
  .news__pages {
    width: 264px;
  }

  /* line 358, ../sass/media.scss */
  #comments {
    width: 268px;
    margin: 0 auto 25px auto;
  }

  /* line 364, ../sass/media.scss */
  .comments__card__header {
    height: 140px;
  }
  /* line 367, ../sass/media.scss */
  .comments__card__header div:last-of-type {
    text-align: left;
    float: left;
  }
  /* line 371, ../sass/media.scss */
  .comments__card__header div h2 {
    margin-bottom: 5px;
  }

  /* line 378, ../sass/media.scss */
  .footer {
    width: 320px;
  }
  /* line 380, ../sass/media.scss */
  .footer__first-b, .footer__second-b, .footer__third-b {
    float: none;
    display: block;
    margin: 20px auto;
  }
  /* line 385, ../sass/media.scss */
  .footer__first-b {
    padding-left: 28px;
  }
  /* line 388, ../sass/media.scss */
  .footer__second-b {
    padding-left: 96px;
  }
  /* line 391, ../sass/media.scss */
  .footer__third-b {
    padding-left: 180px;
    position: relative;
  }
  /* line 394, ../sass/media.scss */
  .footer__third-b img {
    position: absolute;
    height: 55px;
    top: 0;
    left: 0;
  }
  /* line 401, ../sass/media.scss */
  .footer__bottom {
    top: 140px;
    width: 320px;
    height: 100px;
  }
  /* line 405, ../sass/media.scss */
  .footer__bottom .header__social-link {
    margin-left: 0;
    top: 10px;
  }
  /* line 409, ../sass/media.scss */
  .footer__bottom .header__call-back {
    top: 30px;
    right: 15px;
    bottom: auto;
  }
  /* line 414, ../sass/media.scss */
  .footer__bottom > a {
    top: 13px;
  }

  /* line 419, ../sass/media.scss */
  #news-card {
    width: 268px;
  }

  /* line 425, ../sass/media.scss */
  .news-card__header span:last-of-type {
    float: left;
  }
  /* line 430, ../sass/media.scss */
  .news-card__footer {
    margin-top: 30px;
    margin-bottom: 10px;
  }
  /* line 433, ../sass/media.scss */
  .news-card__footer a {
    max-width: 100%;
    margin-bottom: 20px;
  }
  /* line 436, ../sass/media.scss */
  .news-card__footer a:last-of-type {
    float: left;
  }

  /* line 445, ../sass/media.scss */
  .wrapper-t1 .content__body__pages__line-first, .wrapper-t1 .content__body__pages__line-second, .wrapper-t1 .content__body__pages__line-third {
    width: 100%;
  }
  /* line 452, ../sass/media.scss */
  .wrapper-t2 .content__body__pages__line-first, .wrapper-t2 .content__body__pages__line-second, .wrapper-t2 .content__body__pages__line-third {
    width: 100%;
  }
  /* line 459, ../sass/media.scss */
  .wrapper-t3 .content__body__pages__line-first, .wrapper-t3 .content__body__pages__line-second, .wrapper-t3 .content__body__pages__line-third {
    width: 100%;
  }

  /* line 465, ../sass/media.scss */
  .cs-mt-one {
    min-height: 70px;
  }
  /* line 467, ../sass/media.scss */
  .cs-mt-one h2 {
    font-size: 25px;
    line-height: 45px;
  }

  /* line 472, ../sass/media.scss */
  #calendar {
    height: 100px;
  }
  /* line 475, ../sass/media.scss */
  #calendar #number7 {
    top: 32px;
    left: 153px;
  }
  /* line 479, ../sass/media.scss */
  #calendar #number12 {
    top: 32px;
    left: 215px;
  }
  /* line 483, ../sass/media.scss */
  #calendar #number17 {
    top: 45px;
    left: 16px;
  }
  /* line 488, ../sass/media.scss */
  #calendar button {
    width: 14px;
    height: 14px;
  }

  /* line 493, ../sass/media.scss */
  #calendar-big {
    height: 160px;
    background-size: 257px 5px;
    margin-top: 0;
  }

  /* line 498, ../sass/media.scss */
  #collapse-btn {
    display: block;
  }
}
