@font-face {
  font-family: 'accuratist';
  src: url("../font/accuratist-font.eot") format("embedded-opentype"), url("../font/accuratist-font.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'arnold-bocklinc';
  src: url("../font/arnold-bocklinc-font.eot") format("embedded-opentype"), url("../font/arnold-bocklinc-font.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'elizabeta-modern';
  src: url("../font/elizabeta-modern-font.eot") format("embedded-opentype"), url("../font/elizabeta-modern-font.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'eveagita';
  src: url("../font/eveagita-font.eot") format("embedded-opentype"), url("../font/eveagita-font.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'windsor';
  src: url("../font/windsor-font.eot") format("embedded-opentype"), url("../font/windsor-font.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'goudy-decor-shodwnc';
  src: url("../font/goudy-decor-shodwnc-font.eot") format("embedded-opentype"), url("../font/goudy-decor-shodwnc-font.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'herold-bold';
  src: url("../font/herold-bold-font.eot") format("embedded-opentype"), url("../font/herold-bold-font.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'herold-normal';
  src: url("../font/herold-normal-font.eot") format("embedded-opentype"), url("../font/herold-normal-font.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'monti-decor-b';
  src: url("../font/monti-decor-b-font.eot") format("embedded-opentype"), url("../font/monti-decor-b-font.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'petrarka';
  src: url("../font/petrarka-font.eot") format("embedded-opentype"), url("../font/petrarka-font.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'proletariat';
  src: url("../font/proletariat-font.eot") format("embedded-opentype"), url("../font/proletariat-font.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'rodeo-bold';
  src: url("../font/rodeo-bold-font.eot") format("embedded-opentype"), url("../font/rodeo-bold-font.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
/* line 5, ../sass/style.scss */
body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  background-color: #FFF5E1;
}

/* line 12, ../sass/style.scss */
h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

/* line 15, ../sass/style.scss */
div {
  box-sizing: border-box;
}

/* line 18, ../sass/style.scss */
a, a:hover {
  text-decoration: none;
  cursor: pointer;
  color: inherit;
}

/* line 23, ../sass/style.scss */
button, button:focus {
  border: none;
  padding: 0;
  outline: none;
}

/* line 28, ../sass/style.scss */
.header {
  width: 1024px;
  margin: 0 auto;
  height: 100px;
  padding: 10px 35px 0 35px;
  position: relative;
}
/* line 34, ../sass/style.scss */
.header__social-link {
  position: absolute;
  left: 35px;
  top: 50%;
}
/* line 38, ../sass/style.scss */
.header__social-link a {
  color: #533625;
  font-size: 18px;
  margin-right: 14px;
}
/* line 44, ../sass/style.scss */
.header__text {
  display: block;
  position: relative;
  margin: 10px auto 0 auto;
  max-height: 100px;
  width: 660px;
}
/* line 50, ../sass/style.scss */
.header__text__wrapper {
  width: 410px;
  height: 80px;
  margin: 0 auto;
}
/* line 54, ../sass/style.scss */
.header__text__wrapper img {
  position: absolute;
  left: 50% !important;
  transform: translateX(-50%);
}
/* line 60, ../sass/style.scss */
.header__text img {
  position: absolute;
  height: 100%;
}
/* line 63, ../sass/style.scss */
.header__text img:first-child {
  top: 0;
  left: 0;
}
/* line 67, ../sass/style.scss */
.header__text img:last-child {
  top: 0;
  right: 0;
}
/* line 73, ../sass/style.scss */
.header__call-back {
  position: absolute;
  right: 35px;
  top: 50%;
}
/* line 77, ../sass/style.scss */
.header__call-back i {
  color: #533625;
  font-size: 16px;
  margin-right: 4px;
}
/* line 82, ../sass/style.scss */
.header__call-back span {
  color: #533625;
  text-decoration: underline;
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
}

/* line 90, ../sass/style.scss */
#pop-up {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 100;
}
/* line 98, ../sass/style.scss */
#pop-up .pop-up__shadow {
  background-color: black;
  opacity: 0.6;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}

/* line 108, ../sass/style.scss */
#nav-bar {
  position: absolute;
  left: 50%;
  top: 40px;
  transform: translateX(-50%);
}
/* line 113, ../sass/style.scss */
#nav-bar button {
  background-color: white;
  font-size: 20px;
  padding: 5px;
  margin: 5px;
}

/* line 120, ../sass/style.scss */
#pages-nav {
  position: relative;
  display: none;
  width: 100%;
  padding: 0 45%;
  z-index: 1;
  top: 45px;
}
/* line 127, ../sass/style.scss */
#pages-nav button {
  background-color: white;
  font-size: 20px;
  padding: 5px;
  margin: 0 auto;
}
/* line 132, ../sass/style.scss */
#pages-nav button:last-child {
  float: right;
}

/* line 137, ../sass/style.scss */
#status-bar {
  position: absolute;
  left: 50%;
  top: 90px;
  transform: translateX(-50%);
  color: white;
  font-weight: bold;
  font-size: 25px;
}
/* line 145, ../sass/style.scss */
#status-bar span {
  color: white;
  font-size: 20px;
  font-weight: bold;
}

/* line 151, ../sass/style.scss */
#pop-up__content {
  position: absolute;
  left: 50%;
  top: 120px;
  width: 100%;
  height: 100%;
  transform: translateX(-50%);
}
/* line 158, ../sass/style.scss */
#pop-up__content .content__body__pages__card {
  max-width: 650px;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}

/* line 166, ../sass/style.scss */
.container {
  margin: 0 auto;
  width: 1004px;
  min-height: 1px;
  position: relative;
  padding: 16px;
  background-color: #FFF5E1;
  z-index: 1;
}
/* line 174, ../sass/style.scss */
.container__frame {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: url("../img/frame_site/frome_l_u.svg") 0 0 no-repeat, url("../img/frame_site/frome_r_u.svg") 100% 0 no-repeat, url("../img/frame_site/frome_r_d.svg") 0 100% no-repeat, url("../img/frame_site/frome_l_d.svg") 100% 100% no-repeat, url("../img/frame_site/frome_top.svg") 1px 15px no-repeat, url("../img/frame_site/frome_down.svg") left 1px bottom 15px no-repeat, url("../img/frame_site/frame_c.svg") 8px 630px no-repeat, url("../img/frame_site/frame_c.svg") right 8px top 630px no-repeat, url("../img/frame_site/frame_c_u.svg") 13px 578px no-repeat, url("../img/frame_site/frame_c_u.svg") right 13px top 578px no-repeat, url("../img/frame_site/frame_c_d.svg") 13px 775px no-repeat, url("../img/frame_site/frame_c_d.svg") right 13px top 775px no-repeat, url("../img/frame_site/line_l_u.svg") 15px 67px no-repeat, url("../img/frame_site/line_r_u.svg") right 15px top 67px no-repeat, url("../img/frame_site/line_l_d.svg") 15px 817px no-repeat, url("../img/frame_site/line_r_d.svg") right 15px top 817px no-repeat;
  background-size: 68px 68px,68px 68px,68px 68px,68px 68px,98% 5px,98% 5px,20px 135px,20px 135px,10px 42px,10px 42px,10px 42px,10px 42px,6px 512px,6px 512px,6px 100%,6px 100%;
}

/* line 200, ../sass/style.scss */
.row {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 22px;
  background-color: #FFEFD6;
}

/* line 208, ../sass/style.scss */
.content__header {
  position: relative;
  width: 830px;
  margin: 0 auto;
  height: 125px;
  padding-top: 50px;
}
/* line 214, ../sass/style.scss */
.content__header__nav-bar {
  display: block;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  width: 100%;
  margin-bottom: 30px;
}
/* line 223, ../sass/style.scss */
.content__header__nav-bar i {
  margin: 0 10px;
}
/* line 226, ../sass/style.scss */
.content__header__nav-bar a {
  margin: 0 6px;
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  color: #533625;
  text-decoration: underline;
}
/* line 232, ../sass/style.scss */
.content__header__nav-bar a.active {
  color: #A43722;
}
/* line 237, ../sass/style.scss */
.content__header__page-bar {
  width: 100%;
  height: 50px;
  padding: 10px 60px;
  position: relative;
}
/* line 242, ../sass/style.scss */
.content__header__page-bar__frame {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: url("../img/frame_header/Asset_left.svg") 0 0 no-repeat, url("../img/frame_header/Asset_right.svg") 100% 0 no-repeat, url("../img/frame_header/Asset_up.svg") 75px 5px no-repeat, url("../img/frame_header/Asset_down.svg") left 75px bottom 7px no-repeat;
  background-size: 80px 50px,80px 50px,680px 5px, 680px 5px;
}
/* line 255, ../sass/style.scss */
.content__header__page-bar__wrapper {
  background-color: #FFF7ED;
  width: 100%;
  height: 100%;
}
/* line 259, ../sass/style.scss */
.content__header__page-bar__wrapper button {
  background-color: transparent;
  height: 100%;
  cursor: pointer;
  margin: 0 21px;
  position: relative;
  z-index: 1;
}
/* line 266, ../sass/style.scss */
.content__header__page-bar__wrapper button:first-child {
  float: left;
}
/* line 269, ../sass/style.scss */
.content__header__page-bar__wrapper button:last-child {
  float: right;
}
/* line 272, ../sass/style.scss */
.content__header__page-bar__wrapper button span {
  font-family: 'arnold-bocklinc';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  color: #533625;
}
/* line 277, ../sass/style.scss */
.content__header__page-bar__wrapper button img {
  width: 18px;
  height: 16px;
  margin: 0 4px;
}
/* line 287, ../sass/style.scss */
.content__body__pages {
  display: none;
  position: relative;
}
/* line 290, ../sass/style.scss */
.content__body__pages.active {
  display: block;
}
/* line 293, ../sass/style.scss */
.content__body__pages__header {
  width: 100%;
  height: 50px;
  left: 0;
  top: -78px;
  position: absolute;
}
/* line 299, ../sass/style.scss */
.content__body__pages__header h1 {
  font-family: 'herold-bold',cursive;
  font-weight: normal;
  font-style: normal;
  text-align: center;
  color: #533625;
  font-size: 25px;
  font-weight: bold;
  letter-spacing: 2px;
  width: 100%;
  line-height: 50px;
  text-transform: uppercase;
}
/* line 311, ../sass/style.scss */
.content__body__pages__wrapper {
  width: 100%;
  min-height: 1px;
}
/* line 315, ../sass/style.scss */
.content__body__pages__card {
  position: relative;
  margin-bottom: 10px;
  width: 100%;
  min-height: 1px;
  overflow: hidden;
  cursor: pointer;
}
/* line 322, ../sass/style.scss */
.content__body__pages__card p, .content__body__pages__card span {
  font-family: 'Open Sans', sans-serif;
}
/* line 325, ../sass/style.scss */
.content__body__pages__card-mini {
  margin-bottom: 7px;
}
/* line 330, ../sass/style.scss */
.content__body__pages__line-first, .content__body__pages__line-second, .content__body__pages__line-third {
  display: inline-block;
  padding: 0 10px;
  min-height: 1px;
  vertical-align: top;
}

/* line 342, ../sass/style.scss */
.footer {
  width: 930px;
  margin: 0 auto;
  padding: 10px 0 30px 0;
  height: 102px;
  white-space: nowrap;
}
/* line 348, ../sass/style.scss */
.footer img {
  height: 100%;
  margin-right: 18px;
}
/* line 352, ../sass/style.scss */
.footer a, .footer p {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  color: #533625;
}
/* line 357, ../sass/style.scss */
.footer__first-b, .footer__second-b, .footer__third-b {
  display: inline-block;
  height: 100%;
  vertical-align: top;
}
/* line 362, ../sass/style.scss */
.footer__first-b {
  margin-right: 100px;
}
/* line 365, ../sass/style.scss */
.footer__third-b {
  float: right;
}

/* line 371, ../sass/style.scss */
.cs-bg {
  padding: 0;
}
/* line 373, ../sass/style.scss */
.cs-bg .img-wrapper {
  width: 100%;
}
/* line 375, ../sass/style.scss */
.cs-bg .img-wrapper img {
  width: 100%;
}
/* line 381, ../sass/style.scss */
.cs-mt-1 {
  border: dashed 2px #837048;
  padding: 10px;
}
/* line 384, ../sass/style.scss */
.cs-mt-1 .content__body__pages__card-mini {
  border: dotted 3px #837048;
  padding: 12px;
}
/* line 390, ../sass/style.scss */
.cs-1 {
  background-color: #553924;
  color: #fffdf2;
  position: relative;
  padding: 13px;
}
/* line 391, ../sass/style.scss */
.cs-1 p, .cs-1 span {
  color: #fffdf2;
  font-size: 14px;
  line-height: 14px;
  word-break: normal;
  letter-spacing: normal;
  margin-bottom: 0;
}
/* line 399, ../sass/style.scss */
.cs-1 h2 {
  color: #fffdf2;
  font-size: 18px;
  line-height: 18px;
  margin: 0;
  letter-spacing: normal;
  text-transform: uppercase;
}
/* line 411, ../sass/style.scss */
.cs-1:before {
  content: "";
  position: absolute;
  top: 2px;
  left: 2px;
  width: calc(100% - 4px);
  height: calc(100% - 4px);
  border: solid 2px wheat;
  box-sizing: border-box;
}
/* line 422, ../sass/style.scss */
.cs-2 {
  padding: 0 4px 4px 4px;
  border-radius: 4px;
  background-color: #553924;
  text-align: center;
}
/* line 423, ../sass/style.scss */
.cs-2 p, .cs-2 span {
  border-radius: 4px;
  color: #533625;
  font-size: 14px;
  line-height: 14px;
  word-break: normal;
  letter-spacing: normal;
  margin-bottom: 0;
  padding: 8px 4px;
}
/* line 433, ../sass/style.scss */
.cs-2 h2 {
  color: #533625;
  font-size: 18px;
  line-height: 18px;
  margin: 0;
  padding: 3px 5px;
  letter-spacing: normal;
  display: inline-block;
}
/* line 446, ../sass/style.scss */
.cs-2 * {
  background-color: #FFEFD6;
}
/* line 450, ../sass/style.scss */
.cs-3 {
  background-color: #553924;
  position: relative;
  padding: 13px;
  text-align: center;
  border-radius: 9px;
}
/* line 451, ../sass/style.scss */
.cs-3 p, .cs-3 span {
  color: #fffdf2;
  font-size: 14px;
  line-height: 14px;
  word-break: normal;
  letter-spacing: normal;
  margin-bottom: 0;
}
/* line 459, ../sass/style.scss */
.cs-3 h2 {
  color: #fffdf2;
  font-size: 28px;
  line-height: 28px;
  margin-bottom: 6px;
  letter-spacing: normal;
}
/* line 471, ../sass/style.scss */
.cs-3:before {
  content: "";
  position: absolute;
  top: 2px;
  left: 2px;
  width: calc(100% - 4px);
  height: calc(100% - 4px);
  border: solid 2px wheat;
  box-sizing: border-box;
  border-radius: 8px;
}
/* line 483, ../sass/style.scss */
.cs-4 {
  padding: 20px;
  position: relative;
  background: url("../img/Frame_card/1/1_h.svg") 0 0 repeat-x, url("../img/Frame_card/1/1_h.svg") 0 100% repeat-x, url("../img/Frame_card/1/1_v.svg") 0 10px repeat-y, url("../img/Frame_card/1/1_v.svg") 100% 10px repeat-y;
  background-size: 20px 10px,20px 10px,10px 20px,10px 20px;
}
/* line 484, ../sass/style.scss */
.cs-4 p, .cs-4 span {
  color: #533625;
  font-size: 14px;
  line-height: 14px;
  word-break: break-all;
  font-weight: 600;
  letter-spacing: normal;
  margin-bottom: 0;
}
/* line 493, ../sass/style.scss */
.cs-4 h2 {
  color: #533625;
  text-align: center;
  font-size: 18px;
  line-height: 18px;
  margin-bottom: 10px;
  letter-spacing: normal;
}
/* line 509, ../sass/style.scss */
.cs-4 * {
  position: relative;
}
/* line 512, ../sass/style.scss */
.cs-4:before {
  content: "";
  position: absolute;
  width: calc(100% - 22px);
  height: calc(100% - 22px);
  left: 10px;
  top: 10px;
  border: solid 1px #553924;
  background-color: #FFF7ED;
}
/* line 523, ../sass/style.scss */
.cs-5 {
  padding: 26px;
  background: url("../img/Frame_card/2/2_l_u.svg") 0 0 no-repeat, url("../img/Frame_card/2/2_r_u.svg") 100% 0 no-repeat, url("../img/Frame_card/2/2_l_d.svg") 0 100% no-repeat, url("../img/Frame_card/2/2_r_d.svg") 100% 100% no-repeat, url("../img/Frame_card/2/2_u.svg") 44px 1px repeat-x, url("../img/Frame_card/2/2_d.svg") left 44px bottom 1px repeat-x, url("../img/Frame_card/2/2_l.svg") 0 34px repeat-y, url("../img/Frame_card/2/2_r.svg") 100% 34px repeat-y;
  background-size: 45px 34px,45px 34px,45px 34px,45px 34px,22px 12px,22px 12px,15px 18px,15px 18px;
  background-color: #FFEFD6;
  text-align: center;
}
/* line 524, ../sass/style.scss */
.cs-5 p, .cs-5 span {
  color: #533625;
  font-size: 14px;
  line-height: 14px;
  word-break: normal;
  letter-spacing: normal;
  margin-bottom: 0;
  font-weight: 600;
}
/* line 533, ../sass/style.scss */
.cs-5 h2 {
  color: #533625;
  font-size: 18px;
  line-height: 18px;
  margin-bottom: 8px;
  letter-spacing: normal;
}
/* line 554, ../sass/style.scss */
.cs-6 {
  padding: 13px;
  position: relative;
  z-index: 1;
  background-color: #FFEFD6;
}
/* line 555, ../sass/style.scss */
.cs-6 p, .cs-6 span {
  color: #533625;
  font-size: 14px;
  line-height: 14px;
  word-break: normal;
  letter-spacing: normal;
  margin-bottom: 0;
  padding: 12px;
}
/* line 564, ../sass/style.scss */
.cs-6 h2 {
  color: #533625;
  font-size: 18px;
  line-height: 18px;
  padding: 8px 0 0 8px;
  text-align: center;
  letter-spacing: normal;
}
/* line 576, ../sass/style.scss */
.cs-6:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: url("../img/Frame_card/3/3_l_u.svg") 0 0 no-repeat, url("../img/Frame_card/3/3_r_u.svg") 100% 0 no-repeat, url("../img/Frame_card/3/3_l_d.svg") 0 100% no-repeat, url("../img/Frame_card/3/3_r_d.svg") 100% 100% no-repeat, url("../img/Frame_card/3/3_h.svg") 50% 1px repeat-x, url("../img/Frame_card/3/3_h.svg") left 50% bottom 1px repeat-x, url("../img/Frame_card/3/3_v.svg") 2px 0 repeat-y, url("../img/Frame_card/3/3_v.svg") right 2px top 0 repeat-y;
  background-size: 35px 35px,35px 35px,35px 35px,35px 35px,252px 14px,252px 14px,14px 155px,14px 155px;
}
/* line 594, ../sass/style.scss */
.cs-6 * {
  position: relative;
  z-index: -1;
  background: #FFF7ED;
}
/* line 600, ../sass/style.scss */
.cs-7 {
  padding: 16px;
  background: url("../img/Frame_card/5/5_l_u.svg") 0 0 no-repeat, url("../img/Frame_card/5/5_r_u.svg") 100% 0 no-repeat, url("../img/Frame_card/5/5_l_d.svg") 0 100% no-repeat, url("../img/Frame_card/5/5_r_d.svg") 100% 100% no-repeat, url("../img/Frame_card/5/5_u.svg") 0 0 repeat-x, url("../img/Frame_card/5/5_d.svg") 0 100% repeat-x, url("../img/Frame_card/5/5_l.svg") 0 0 repeat-y, url("../img/Frame_card/5/5_r.svg") 100% 0 repeat-y;
  background-size: 23px 21px,21px 21px,23px 22px,21px 22px,100% 7px,100% 7px,7px 100%,7px 100%;
  background-color: #FFEFD6;
}
/* line 601, ../sass/style.scss */
.cs-7 p, .cs-7 span {
  color: #533625;
  font-size: 14px;
  line-height: 14px;
  word-break: normal;
  letter-spacing: normal;
  margin-bottom: 0;
}
/* line 609, ../sass/style.scss */
.cs-7 h2 {
  color: #533625;
  font-size: 20px;
  line-height: 20px;
  margin-bottom: 6px;
  text-align: center;
  letter-spacing: normal;
}
/* line 630, ../sass/style.scss */
.cs-8 {
  padding: 13px;
  background: url("../img/Frame_card/6/6_l_u.svg") 0 0 no-repeat, url("../img/Frame_card/6/6_r_u.svg") 100% 0 no-repeat, url("../img/Frame_card/6/6_l_d.svg") 0 100% no-repeat, url("../img/Frame_card/6/6_r_d.svg") 100% 100% no-repeat, url("../img/Frame_card/6/6_h.svg") 0 0 no-repeat, url("../img/Frame_card/6/6_h.svg") 0 100% no-repeat, url("../img/Frame_card/6/6_v.svg") 0 0 no-repeat, url("../img/Frame_card/6/6_v.svg") 100% 0 no-repeat;
  background-size: 19px 19px,19px 19px,19px 19px,19px 19px,100% 4px,100% 4px,4px 100%,4px 100%;
  background-color: #FFEFD6;
}
/* line 631, ../sass/style.scss */
.cs-8 p, .cs-8 span {
  color: #533625;
  font-size: 14px;
  line-height: 14px;
  word-break: normal;
  letter-spacing: normal;
  margin-bottom: 0;
}
/* line 639, ../sass/style.scss */
.cs-8 h2 {
  color: #533625;
  font-size: 21px;
  line-height: 21px;
  margin-bottom: 5px;
  text-align: center;
  letter-spacing: normal;
}
/* line 660, ../sass/style.scss */
.cs-9 {
  padding: 22px;
  background: url("../img/Frame_card/7/7_l_u.svg") 0 0 no-repeat, url("../img/Frame_card/7/7_r_u.svg") 100% 0 no-repeat, url("../img/Frame_card/7/7_l_d.svg") 0 100% no-repeat, url("../img/Frame_card/7/7_r_d.svg") 100% 100% no-repeat, url("../img/Frame_card/7/7_u.svg") 30px 0 repeat-x, url("../img/Frame_card/7/7_d.svg") 30px 100% repeat-x, url("../img/Frame_card/7/7_l.svg") 0 30px repeat-y, url("../img/Frame_card/7/7_r.svg") 100% 30px repeat-y;
  background-size: 30px 30px,30px 30px,30px 30px,30px 30px,18px 12px,18px 14px,14px 20px,14px 20px;
  background-color: #FFF7ED;
}
/* line 661, ../sass/style.scss */
.cs-9 p, .cs-9 span {
  color: #533625;
  font-size: 14px;
  line-height: 14px;
  word-break: normal;
  letter-spacing: normal;
  margin-bottom: 0;
}
/* line 669, ../sass/style.scss */
.cs-9 h2 {
  color: #533625;
  font-size: 20px;
  line-height: 20px;
  text-align: center;
  margin-bottom: 5px;
  letter-spacing: normal;
}
/* line 690, ../sass/style.scss */
.cs-10 {
  border: dotted 3px #837048;
  padding: 12px;
}
/* line 691, ../sass/style.scss */
.cs-10 p, .cs-10 span {
  color: #533625;
  font-size: 14px;
  line-height: 14px;
  word-break: normal;
  letter-spacing: normal;
  margin-bottom: 0;
}
/* line 699, ../sass/style.scss */
.cs-10 h2 {
  color: #533625;
  font-size: 18px;
  line-height: 18px;
  margin: 0;
  letter-spacing: normal;
}
/* line 709, ../sass/style.scss */
.cs-11 {
  border: dotted 3px #837048;
  padding: 12px;
}
/* line 710, ../sass/style.scss */
.cs-11 p, .cs-11 span {
  color: #533625;
  font-size: 14px;
  line-height: 14px;
  word-break: normal;
  letter-spacing: normal;
  margin-bottom: 0;
}
/* line 718, ../sass/style.scss */
.cs-11 h2 {
  color: #533625;
  font-size: 18px;
  line-height: 18px;
  margin: 0;
  letter-spacing: normal;
}
/* line 728, ../sass/style.scss */
.cs-12 {
  border: dotted 3px #837048;
  padding: 12px;
}
/* line 729, ../sass/style.scss */
.cs-12 p, .cs-12 span {
  color: #533625;
  font-size: 14px;
  line-height: 14px;
  word-break: normal;
  letter-spacing: normal;
  margin-bottom: 0;
}
/* line 737, ../sass/style.scss */
.cs-12 h2 {
  color: #533625;
  font-size: 18px;
  line-height: 18px;
  margin: 0;
  letter-spacing: normal;
}
/* line 747, ../sass/style.scss */
.cs-13 {
  border: dotted 3px #837048;
  padding: 12px;
}
/* line 748, ../sass/style.scss */
.cs-13 p, .cs-13 span {
  color: #533625;
  font-size: 14px;
  line-height: 14px;
  word-break: normal;
  letter-spacing: normal;
  margin-bottom: 0;
}
/* line 756, ../sass/style.scss */
.cs-13 h2 {
  color: #533625;
  font-size: 18px;
  line-height: 18px;
  margin: 0;
  letter-spacing: normal;
}
/* line 766, ../sass/style.scss */
.cs-14 {
  border: dotted 3px #837048;
  padding: 12px;
}
/* line 767, ../sass/style.scss */
.cs-14 p, .cs-14 span {
  color: #533625;
  font-size: 14px;
  line-height: 14px;
  word-break: normal;
  letter-spacing: normal;
  margin-bottom: 0;
}
/* line 775, ../sass/style.scss */
.cs-14 h2 {
  color: #533625;
  font-size: 18px;
  line-height: 18px;
  margin: 0;
  letter-spacing: normal;
}
/* line 785, ../sass/style.scss */
.cs-15 {
  border: dotted 3px #837048;
  padding: 12px;
}
/* line 786, ../sass/style.scss */
.cs-15 p, .cs-15 span {
  color: #533625;
  font-size: 14px;
  line-height: 14px;
  word-break: normal;
  letter-spacing: normal;
  margin-bottom: 0;
}
/* line 794, ../sass/style.scss */
.cs-15 h2 {
  color: #533625;
  font-size: 18px;
  line-height: 18px;
  margin: 0;
  letter-spacing: normal;
}
/* line 804, ../sass/style.scss */
.cs-16 {
  border: dotted 3px #837048;
  padding: 12px;
}
/* line 805, ../sass/style.scss */
.cs-16 p, .cs-16 span {
  color: #533625;
  font-size: 14px;
  line-height: 14px;
  word-break: normal;
  letter-spacing: normal;
  margin-bottom: 0;
}
/* line 813, ../sass/style.scss */
.cs-16 h2 {
  color: #533625;
  font-size: 18px;
  line-height: 18px;
  margin: 0;
  letter-spacing: normal;
}
/* line 823, ../sass/style.scss */
.cs-17 {
  border: dotted 3px #837048;
  padding: 12px;
}
/* line 824, ../sass/style.scss */
.cs-17 p, .cs-17 span {
  color: #533625;
  font-size: 14px;
  line-height: 14px;
  word-break: normal;
  letter-spacing: normal;
  margin-bottom: 0;
}
/* line 832, ../sass/style.scss */
.cs-17 h2 {
  color: #533625;
  font-size: 18px;
  line-height: 18px;
  margin: 0;
  letter-spacing: normal;
}
/* line 842, ../sass/style.scss */
.cs-18 {
  border: dotted 3px #837048;
  padding: 12px;
}
/* line 843, ../sass/style.scss */
.cs-18 p, .cs-18 span {
  color: #533625;
  font-size: 14px;
  line-height: 14px;
  word-break: normal;
  letter-spacing: normal;
  margin-bottom: 0;
}
/* line 851, ../sass/style.scss */
.cs-18 h2 {
  color: #533625;
  font-size: 18px;
  line-height: 18px;
  margin: 0;
  letter-spacing: normal;
}

/* line 866, ../sass/style.scss */
.fs-1 h2 {
  font-family: 'Open Sans', sans-serif;
}
/* line 869, ../sass/style.scss */
.fs-2 h2 {
  font-family: 'arnold-bocklinc';
  font-weight: normal;
  font-style: normal;
}
/* line 872, ../sass/style.scss */
.fs-3 h2 {
  font-family: 'herold-normal';
  font-weight: normal;
  font-style: normal;
}
/* line 875, ../sass/style.scss */
.fs-4 h2 {
  font-family: 'accuratist';
  font-weight: normal;
  font-style: normal;
}
/* line 878, ../sass/style.scss */
.fs-5 h2 {
  font-family: 'elizabeta-modern';
  font-weight: normal;
  font-style: normal;
}
/* line 881, ../sass/style.scss */
.fs-6 h2 {
  font-family: 'eveagita';
  font-weight: normal;
  font-style: normal;
}
/* line 884, ../sass/style.scss */
.fs-7 h2 {
  font-family: 'goudy-decor-shodwnc';
  font-weight: normal;
  font-style: normal;
}
/* line 887, ../sass/style.scss */
.fs-8 h2 {
  font-family: 'herold-bold',cursive;
  font-weight: normal;
  font-style: normal;
}
/* line 890, ../sass/style.scss */
.fs-9 h2 {
  font-family: 'monti-decor-b';
  font-weight: normal;
  font-style: normal;
}
/* line 893, ../sass/style.scss */
.fs-10 h2 {
  font-family: 'petrarka';
  font-weight: normal;
  font-style: normal;
}
/* line 896, ../sass/style.scss */
.fs-11 h2 {
  font-family: 'proletariat';
  font-weight: normal;
  font-style: normal;
}
/* line 899, ../sass/style.scss */
.fs-12 h2 {
  font-family: 'rodeo-bold';
  font-weight: normal;
  font-style: normal;
}
/* line 902, ../sass/style.scss */
.fs-13 h2 {
  font-family: 'windsor';
  font-weight: normal;
  font-style: normal;
}
/* line 905, ../sass/style.scss */
.fs-14 h2 {
  font-family: 'windsor';
  font-weight: normal;
  font-style: normal;
}
/* line 908, ../sass/style.scss */
.fs-15 h2 {
  font-family: 'windsor';
  font-weight: normal;
  font-style: normal;
}
/* line 911, ../sass/style.scss */
.fs-16 h2 {
  font-family: 'windsor';
  font-weight: normal;
  font-style: normal;
}
/* line 914, ../sass/style.scss */
.fs-17 h2 {
  font-family: 'windsor';
  font-weight: normal;
  font-style: normal;
}
/* line 917, ../sass/style.scss */
.fs-18 h2 {
  font-family: 'windsor';
  font-weight: normal;
  font-style: normal;
}

/* line 925, ../sass/style.scss */
.wrapper-t1 .content__body__pages__line-first {
  width: 186px;
}
/* line 928, ../sass/style.scss */
.wrapper-t1 .content__body__pages__line-second, .wrapper-t1 .content__body__pages__line-third {
  width: 340px;
}
