/* line 1, ../sass/_btn.scss */
.button {
  position: relative;
  cursor: pointer;
  height: 40px;
  width: 190px;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 20px;
  background-color: #7C6742;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
  font-family: 'Open Sans', sans-serif;
  color: #FFF7ED;
  font-size: 16px;
  font-style: italic;
  letter-spacing: 1.5px;
  line-height: 24px;
  text-align: center;
}

/* line 20, ../sass/_btn.scss */
.btn-close {
  cursor: pointer;
  width: 16px;
  height: 16px;
  position: absolute;
  top: 15px;
  right: 15px;
  background: url("../img/Times .svg") no-repeat;
}

@font-face {
  font-family: 'arnold-bocklinc';
  src: url("../font/arnold-bocklinc-font.eot") format("embedded-opentype"), url("../font/arnold-bocklinc-font.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'elizabeta-modern';
  src: url("../font/elizabeta-modern-font.eot") format("embedded-opentype"), url("../font/elizabeta-modern-font.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'eveagita';
  src: url("../font/eveagita-font.eot") format("embedded-opentype"), url("../font/eveagita-font.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'windsor';
  src: url("../font/windsor-font.eot") format("embedded-opentype"), url("../font/windsor-font.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'goudy-decor-shodwnc';
  src: url("../font/goudy-decor-shodwnc-font.eot") format("embedded-opentype"), url("../font/goudy-decor-shodwnc-font.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'herold-bold';
  src: url("../font/herold-bold-font.eot") format("embedded-opentype"), url("../font/herold-bold-font.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'herold-normal';
  src: url("../font/herold-normal-font.eot") format("embedded-opentype"), url("../font/herold-normal-font.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'monti-decor-b';
  src: url("../font/monti-decor-b-font.eot") format("embedded-opentype"), url("../font/monti-decor-b-font.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'petrarka';
  src: url("../font/petrarka-font.eot") format("embedded-opentype"), url("../font/petrarka-font.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'proletariat';
  src: url("../font/proletariat-font.eot") format("embedded-opentype"), url("../font/proletariat-font.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'rodeo-bold';
  src: url("../font/rodeo-bold-font.eot") format("embedded-opentype"), url("../font/rodeo-bold-font.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
/* line 5, ../sass/style.scss */
body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  background-color: #FFF5E1;
}

/* line 12, ../sass/style.scss */
h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

/* line 15, ../sass/style.scss */
div {
  box-sizing: border-box;
}

/* line 18, ../sass/style.scss */
a, a:hover {
  text-decoration: none;
  cursor: pointer;
  color: inherit;
}

/* line 23, ../sass/style.scss */
button, button:focus {
  border: none;
  padding: 0;
  outline: none;
}

/* line 28, ../sass/style.scss */
.header {
  width: 1024px;
  margin: 0 auto;
  height: 100px;
  padding: 10px 35px 0 35px;
  position: relative;
}
/* line 34, ../sass/style.scss */
.header__social-link {
  position: absolute;
  left: 35px;
  top: 50%;
}
/* line 38, ../sass/style.scss */
.header__social-link a {
  color: #533625;
  font-size: 18px;
  margin-right: 14px;
}
/* line 44, ../sass/style.scss */
.header__text {
  display: block;
  position: relative;
  margin: 10px auto 0 auto;
  max-height: 100px;
  width: 660px;
}
/* line 50, ../sass/style.scss */
.header__text__wrapper {
  width: 410px;
  height: 80px;
  margin: 0 auto;
}
/* line 54, ../sass/style.scss */
.header__text__wrapper img {
  position: absolute;
  left: 50% !important;
  transform: translateX(-50%);
}
/* line 60, ../sass/style.scss */
.header__text img {
  position: absolute;
  height: 100%;
}
/* line 63, ../sass/style.scss */
.header__text img:first-child {
  top: 0;
  left: 0;
}
/* line 67, ../sass/style.scss */
.header__text img:last-child {
  top: 0;
  right: 0;
}
/* line 73, ../sass/style.scss */
.header__call-back {
  position: absolute;
  right: 35px;
  top: 50%;
}
/* line 77, ../sass/style.scss */
.header__call-back i {
  color: #533625;
  font-size: 16px;
  margin-right: 4px;
}
/* line 82, ../sass/style.scss */
.header__call-back span {
  color: #533625;
  text-decoration: underline;
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
}

/* line 90, ../sass/style.scss */
#pop-up {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 100;
}
/* line 98, ../sass/style.scss */
#pop-up .pop-up__shadow {
  background-color: black;
  opacity: 0.6;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}

/* line 108, ../sass/style.scss */
#nav-bar {
  position: relative;
}
/* line 110, ../sass/style.scss */
#nav-bar button {
  background-color: transparent;
  cursor: pointer;
}
/* line 113, ../sass/style.scss */
#nav-bar button img {
  height: 26px;
  width: 24px;
}
/* line 117, ../sass/style.scss */
#nav-bar button:first-child {
  float: left;
}
/* line 120, ../sass/style.scss */
#nav-bar button:last-child {
  float: right;
}

/* line 125, ../sass/style.scss */
#pages-nav {
  position: relative;
  display: none;
  width: 100%;
  padding: 0 45%;
  z-index: 1;
  top: 45px;
}
/* line 132, ../sass/style.scss */
#pages-nav button {
  background-color: white;
  font-size: 20px;
  padding: 5px;
  margin: 0 auto;
}
/* line 137, ../sass/style.scss */
#pages-nav button:last-child {
  float: right;
}

/* line 142, ../sass/style.scss */
.pop-up__nav {
  position: relative;
  width: 350px;
  height: 54px;
  box-sizing: border-box;
  margin: 0 auto 25px auto;
  background: url("../img/frame_site/fraim_pop_up_all.svg") no-repeat;
  background-size: 100% 100%;
  padding: 16px 37px;
}

/* line 152, ../sass/style.scss */
#status-bar {
  position: absolute;
  padding-top: 4px;
  color: #533625;
  font-weight: bold;
  font-size: 25px;
  top: 50%;
  transform: translate(-50%, -50%);
  left: 50%;
}
/* line 161, ../sass/style.scss */
#status-bar span {
  font-family: 'arnold-bocklinc';
  font-weight: normal;
  font-style: normal;
  color: #533625;
  font-size: 22px;
}
/* line 165, ../sass/style.scss */
#status-bar span:first-child {
  font-weight: bold;
}

/* line 170, ../sass/style.scss */
.pop-up__wrapper {
  width: 510px;
  border-radius: 5px;
  background-color: #FFEFD6;
  position: absolute;
  padding-top: 30px;
  left: 50%;
  top: 140px;
  transform: translateX(-50%);
}

/* line 180, ../sass/style.scss */
#pop-up__content {
  display: none;
  position: relative;
  overflow: hidden;
  width: 100%;
  padding-bottom: 30px;
}
/* line 186, ../sass/style.scss */
#pop-up__content .content__body__pages__card.mini-card {
  width: 250px;
  height: 250px;
  padding: 32px 14px;
}
/* line 190, ../sass/style.scss */
#pop-up__content .content__body__pages__card.mini-card.cs-mt-one {
  padding: 25px 14px;
  height: 70px;
}
/* line 193, ../sass/style.scss */
#pop-up__content .content__body__pages__card.mini-card.cs-mt-one h2 {
  font-size: 26px;
  line-height: 18px;
}
/* line 203, ../sass/style.scss */
#pop-up__content .content__body__pages__card.mini-card.cs-mt-1 h2, #pop-up__content .content__body__pages__card.mini-card.cs-mt-1-fill h2 {
  font-size: 24px;
  margin: 10px 0;
  line-height: 26px;
}
/* line 208, ../sass/style.scss */
#pop-up__content .content__body__pages__card.mini-card.cs-mt-1 p, #pop-up__content .content__body__pages__card.mini-card.cs-mt-1-fill p {
  font-size: 20px;
  line-height: 22px;
}
/* line 214, ../sass/style.scss */
#pop-up__content .content__body__pages__card {
  max-width: 450px;
  position: relative;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}
/* line 221, ../sass/style.scss */
#pop-up__content .content__body__pages__card.cs-bg {
  max-width: 450px;
  height: 320px;
}
/* line 224, ../sass/style.scss */
#pop-up__content .content__body__pages__card.cs-bg .img-wrapper {
  height: 100%;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}
/* line 230, ../sass/style.scss */
#pop-up__content .content__body__pages__card.cs-bg img {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: auto;
  height: 100%;
}

/* line 239, ../sass/style.scss */
#pop-up__call-back {
  display: none;
  position: absolute;
  left: 50%;
  top: 50%;
  height: 564px;
  width: 610px;
  border-radius: 5px;
  transform: translate(-50%, -50%);
  background: url("../img/emblem_ri_bg.svg") right 25px bottom 0 no-repeat;
  background-size: 242px 242px;
  background-color: #FFEFD6;
}
/* line 251, ../sass/style.scss */
#pop-up__call-back .pop-up__header {
  margin-bottom: 32px;
}
/* line 253, ../sass/style.scss */
#pop-up__call-back .pop-up__header h2 {
  box-sizing: border-box;
  padding-top: 23px;
  font-family: 'herold-bold',cursive;
  font-weight: normal;
  font-style: normal;
  color: #533625;
  margin: 30px auto 0 auto;
  width: 507px;
  height: 61px;
  font-size: 23px;
  letter-spacing: 1.67px;
  line-height: 20px;
  text-align: center;
  position: relative;
  z-index: 1;
  background: url("../img/frame_site/fraim_pop_up_all.svg") 0 0 no-repeat;
  background-size: 100% 100%;
}
/* line 271, ../sass/style.scss */
#pop-up__call-back form {
  padding: 0 50px;
  margin-bottom: 55px;
}
/* line 274, ../sass/style.scss */
#pop-up__call-back form input {
  height: 42px;
  width: 236px;
  border: 1px solid #7C6742;
  border-radius: 9px;
  background-color: #FFF7ED;
  margin-bottom: 20px;
  padding: 0 20px;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
  color: #7C6742;
  font-size: 14px;
  font-style: italic;
  line-height: 19px;
}
/* line 288, ../sass/style.scss */
#pop-up__call-back form input:focus {
  outline-style: none;
}
/* line 291, ../sass/style.scss */
#pop-up__call-back form input:nth-child(2), #pop-up__call-back form input:nth-child(4) {
  margin-left: 30px;
}
/* line 295, ../sass/style.scss */
#pop-up__call-back form textarea {
  height: 90px;
  width: 100%;
  border: 1px solid #7C6742;
  border-radius: 9px;
  background-color: #FFF7ED;
  margin-bottom: 20px;
  padding: 20px 0 0 20px;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
  color: #7C6742;
  font-size: 14px;
  font-style: italic;
  line-height: 19px;
}
/* line 309, ../sass/style.scss */
#pop-up__call-back form textarea:focus {
  outline-style: none;
}
/* line 313, ../sass/style.scss */
#pop-up__call-back form .recapcha {
  width: 300px;
  height: 75px;
  margin: 0 auto 30px auto;
  display: block;
  box-sizing: border-box;
  background: url(../img/recaptcha.png) no-repeat;
  background-size: contain;
}

/* line 324, ../sass/style.scss */
#pop-up__call-us {
  display: none;
  position: absolute;
  left: 50%;
  top: 50%;
  height: 564px;
  width: 610px;
  border-radius: 5px;
  transform: translate(-50%, -50%);
  background: url("../img/emblem_ri_bg.svg") right 25px bottom 0 no-repeat;
  background-size: 242px 242px;
  background-color: #FFEFD6;
}
/* line 336, ../sass/style.scss */
#pop-up__call-us .pop-up__header {
  margin-bottom: 32px;
}
/* line 338, ../sass/style.scss */
#pop-up__call-us .pop-up__header h2 {
  box-sizing: border-box;
  padding-top: 23px;
  font-family: 'herold-bold',cursive;
  font-weight: normal;
  font-style: normal;
  color: #533625;
  margin: 30px auto 0 auto;
  width: 507px;
  height: 61px;
  font-size: 23px;
  letter-spacing: 1.67px;
  line-height: 20px;
  text-align: center;
  position: relative;
  z-index: 1;
  background: url("../img/frame_site/fraim_pop_up_all.svg") 0 0 no-repeat;
  background-size: 100% 100%;
}
/* line 356, ../sass/style.scss */
#pop-up__call-us form {
  padding: 0 50px;
  margin-bottom: 55px;
}
/* line 359, ../sass/style.scss */
#pop-up__call-us form input {
  height: 42px;
  width: 236px;
  border: 1px solid #7C6742;
  border-radius: 9px;
  background-color: #FFF7ED;
  margin-bottom: 20px;
  padding: 0 20px;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
  color: #7C6742;
  font-size: 14px;
  font-style: italic;
  line-height: 19px;
}
/* line 368, ../sass/style.scss */
#pop-up__call-us form input:focus {
  outline-style: none;
}
/* line 376, ../sass/style.scss */
#pop-up__call-us form input:nth-child(2) {
  margin-left: 30px;
}
/* line 379, ../sass/style.scss */
#pop-up__call-us form input:nth-child(3) {
  width: 99%;
}
/* line 383, ../sass/style.scss */
#pop-up__call-us form textarea {
  height: 90px;
  width: 100%;
  border: 1px solid #7C6742;
  border-radius: 9px;
  background-color: #FFF7ED;
  margin-bottom: 20px;
  padding: 20px 0 0 20px;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
  color: #7C6742;
  font-size: 14px;
  font-style: italic;
  line-height: 19px;
}
/* line 397, ../sass/style.scss */
#pop-up__call-us form textarea:focus {
  outline-style: none;
}
/* line 401, ../sass/style.scss */
#pop-up__call-us form .recapcha {
  width: 300px;
  height: 75px;
  margin: 0 auto 30px auto;
  display: block;
  box-sizing: border-box;
  background: url(../img/recaptcha.png) no-repeat;
  background-size: contain;
}

/* line 412, ../sass/style.scss */
.container {
  margin: 0 auto;
  width: 1004px;
  min-height: 1px;
  position: relative;
  padding: 16px;
  background-color: #FFF5E1;
  z-index: 1;
}
/* line 420, ../sass/style.scss */
.container__frame {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: url("../img/frame_site/frome_l_u.svg") 0 0 no-repeat, url("../img/frame_site/frome_r_u.svg") 100% 0 no-repeat, url("../img/frame_site/frome_r_d.svg") 0 100% no-repeat, url("../img/frame_site/frome_l_d.svg") 100% 100% no-repeat, url("../img/frame_site/frome_top.svg") 1px 15px no-repeat, url("../img/frame_site/frome_down.svg") left 1px bottom 15px no-repeat, url("../img/frame_site/frame_c.svg") 8px 630px no-repeat, url("../img/frame_site/frame_c.svg") right 8px top 630px no-repeat, url("../img/frame_site/frame_c_u.svg") 13px 578px no-repeat, url("../img/frame_site/frame_c_u.svg") right 13px top 578px no-repeat, url("../img/frame_site/frame_c_d.svg") 13px 775px no-repeat, url("../img/frame_site/frame_c_d.svg") right 13px top 775px no-repeat, url("../img/frame_site/line_l_u.svg") 15px 67px no-repeat, url("../img/frame_site/line_r_u.svg") right 15px top 67px no-repeat, url("../img/frame_site/line_l_d.svg") 15px 817px no-repeat, url("../img/frame_site/line_r_d.svg") right 15px top 817px no-repeat;
  background-size: 68px 68px,68px 68px,68px 68px,68px 68px,98% 5px,98% 5px,20px 135px,20px 135px,10px 42px,10px 42px,10px 42px,10px 42px,6px 512px,6px 512px,6px 100%,6px 100%;
}

/* line 446, ../sass/style.scss */
.row {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 22px;
  background-color: #FFEFD6;
}

/* line 454, ../sass/style.scss */
.content__header {
  position: relative;
  width: 830px;
  margin: 0 auto;
  height: 125px;
  padding-top: 50px;
}
/* line 460, ../sass/style.scss */
.content__header__nav-bar {
  display: block;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  width: 100%;
  margin-bottom: 30px;
}
/* line 469, ../sass/style.scss */
.content__header__nav-bar i {
  margin: 0 10px;
}
/* line 472, ../sass/style.scss */
.content__header__nav-bar a {
  margin: 0 6px;
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  color: #533625;
  text-decoration: underline;
}
/* line 478, ../sass/style.scss */
.content__header__nav-bar a.active {
  color: #A43722;
}
/* line 483, ../sass/style.scss */
.content__header__page-bar {
  width: 100%;
  height: 50px;
  padding: 10px 60px;
  position: relative;
}
/* line 488, ../sass/style.scss */
.content__header__page-bar__frame {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: url("../img/frame_header/Asset_left.svg") 0 0 no-repeat, url("../img/frame_header/Asset_right.svg") 100% 0 no-repeat, url("../img/frame_header/Asset_up.svg") 75px 5px no-repeat, url("../img/frame_header/Asset_down.svg") left 75px bottom 7px no-repeat;
  background-size: 80px 50px,80px 50px,680px 5px, 680px 5px;
}
/* line 501, ../sass/style.scss */
.content__header__page-bar__wrapper {
  background-color: #FFF7ED;
  width: 100%;
  height: 100%;
}
/* line 505, ../sass/style.scss */
.content__header__page-bar__wrapper button {
  background-color: transparent;
  height: 100%;
  cursor: pointer;
  margin: 0 21px;
  position: relative;
  z-index: 1;
}
/* line 512, ../sass/style.scss */
.content__header__page-bar__wrapper button:first-child {
  float: left;
}
/* line 515, ../sass/style.scss */
.content__header__page-bar__wrapper button:last-child {
  float: right;
}
/* line 518, ../sass/style.scss */
.content__header__page-bar__wrapper button span {
  font-family: 'arnold-bocklinc';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  color: #533625;
}
/* line 523, ../sass/style.scss */
.content__header__page-bar__wrapper button img {
  width: 18px;
  height: 16px;
  margin: 0 4px;
}
/* line 529, ../sass/style.scss */
.content__header__page-bar__wrapper h1 {
  font-family: 'herold-bold',cursive;
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  text-transform: uppercase;
  letter-spacing: 3px;
  text-align: center;
  line-height: normal;
  color: #533625;
}
/* line 542, ../sass/style.scss */
.content__body__pages {
  display: none;
  position: relative;
}
/* line 545, ../sass/style.scss */
.content__body__pages.active {
  display: block;
}
/* line 548, ../sass/style.scss */
.content__body__pages__header {
  width: 100%;
  height: 50px;
  left: 0;
  top: -78px;
  position: absolute;
}
/* line 554, ../sass/style.scss */
.content__body__pages__header h1 {
  font-family: 'herold-bold',cursive;
  font-weight: normal;
  font-style: normal;
  text-align: center;
  color: #533625;
  font-size: 25px;
  font-weight: bold;
  letter-spacing: 2px;
  width: 100%;
  line-height: 50px;
  text-transform: uppercase;
}
/* line 566, ../sass/style.scss */
.content__body__pages__wrapper {
  width: 100%;
  min-height: 1px;
}
/* line 570, ../sass/style.scss */
.content__body__pages__card {
  position: relative;
  margin-bottom: 10px;
  width: 100%;
  min-height: 1px;
  overflow: hidden;
  cursor: pointer;
}
/* line 577, ../sass/style.scss */
.content__body__pages__card p, .content__body__pages__card span {
  font-family: 'Open Sans', sans-serif;
}
/* line 580, ../sass/style.scss */
.content__body__pages__card a.youtube {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  position: relative;
  display: inline-block;
  background-color: transparent;
  text-align: center;
  padding: 10px 0;
  margin-left: 30px;
  text-decoration: underline;
}
/* line 590, ../sass/style.scss */
.content__body__pages__card a.youtube:before {
  content: "";
  position: absolute;
  width: 19px;
  height: 16px;
  top: 12px;
  left: -27px;
  background: url("../img/youtube.svg") no-repeat;
  background-size: 100% 100%;
}
/* line 601, ../sass/style.scss */
.content__body__pages__card__mini-wrap {
  position: relative;
  padding: 20px;
  margin-bottom: 10px;
  background: url("../img/Frame_card/19/l_u.svg") 0 0 no-repeat, url("../img/Frame_card/19/r_u.svg") 100% 0 no-repeat, url("../img/Frame_card/19/l_d.svg") 0 100% no-repeat, url("../img/Frame_card/19/r_d.svg") 100% 100% no-repeat;
  background-size: 25px 25px;
}
/* line 611, ../sass/style.scss */
.content__body__pages__card__mini-wrap:before {
  content: "";
  position: absolute;
  width: calc(100% - 50px);
  height: 100%;
  top: 0;
  left: 25px;
  background: url("../img/Frame_card/19/h.svg") 50% 0 repeat no-repeat, url("../img/Frame_card/19/h.svg") 50% 100% repeat no-repeat;
  background-size: 170px 12px;
}
/* line 623, ../sass/style.scss */
.content__body__pages__card__mini-wrap:after {
  content: "";
  position: absolute;
  width: 100%;
  height: calc(100% - 50px);
  top: 25px;
  left: 0;
  background: url("../img/Frame_card/19/v_l.svg") 0 0 no-repeat repeat, url("../img/Frame_card/19/v_r.svg") 100% 0 no-repeat repeat;
  background-size: 13px 130px;
}
/* line 638, ../sass/style.scss */
.content__body__pages__line-first, .content__body__pages__line-second, .content__body__pages__line-third {
  display: inline-block;
  padding: 0 10px;
  min-height: 1px;
  vertical-align: top;
}

/* line 650, ../sass/style.scss */
.footer {
  width: 930px;
  margin: 0 auto;
  padding: 10px 0 30px 0;
  height: 102px;
  white-space: nowrap;
}
/* line 651, ../sass/style.scss */
.footer__bottom {
  position: relative;
  display: block;
  width: 930px;
  margin: 0 auto;
  padding-bottom: 30px;
}
/* line 657, ../sass/style.scss */
.footer__bottom p {
  float: left;
}
/* line 660, ../sass/style.scss */
.footer__bottom > a {
  float: right;
  vertical-align: top;
  margin-right: 90px;
  text-decoration: underline;
  font-weight: 600;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  color: #533625;
}
/* line 670, ../sass/style.scss */
.footer__bottom .header__call-back {
  position: relative;
  float: right;
  vertical-align: top;
}
/* line 675, ../sass/style.scss */
.footer__bottom .header__social-link {
  position: relative;
  display: inline-block;
  margin-left: 40px;
}
/* line 686, ../sass/style.scss */
.footer img {
  height: 100%;
  margin-right: 18px;
}
/* line 690, ../sass/style.scss */
.footer a, .footer p {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  color: #533625;
}
/* line 695, ../sass/style.scss */
.footer__first-b, .footer__second-b, .footer__third-b {
  display: inline-block;
  height: 100%;
  vertical-align: top;
}
/* line 700, ../sass/style.scss */
.footer__second-b {
  margin-left: 25px;
}
/* line 703, ../sass/style.scss */
.footer__first-b {
  margin-right: 100px;
}
/* line 706, ../sass/style.scss */
.footer__third-b {
  float: right;
  margin-right: 130px;
}

/* line 711, ../sass/style.scss */
.welcome__body {
  position: relative;
  z-index: 2;
}

/* line 715, ../sass/style.scss */
#about {
  width: 800px;
  position: relative;
  margin: 45px auto;
  background: url("../img/frame_site/separ.svg") 50% 100% no-repeat;
  background-size: 800px 9px;
}

/* line 722, ../sass/style.scss */
.about {
  margin-left: 50px;
  height: 500px;
  width: 430px;
  position: relative;
  padding-bottom: 9px;
}
/* line 728, ../sass/style.scss */
.about:before {
  content: "";
  position: absolute;
  bottom: 7px;
  right: -250px;
  height: 100%;
  width: 290px;
  background: url("../img/nikolay.png") no-repeat;
  background-size: contain;
}
/* line 738, ../sass/style.scss */
.about h1 {
  font-family: 'petrarka';
  font-weight: normal;
  font-style: normal;
  color: #7C6742;
  font-size: 34px;
  letter-spacing: 1.9px;
  line-height: 40px;
  margin-bottom: 32px;
}
/* line 746, ../sass/style.scss */
.about p {
  font-family: 'Open Sans', sans-serif;
  color: #533625;
  font-size: 16px;
  line-height: 22px;
  margin-bottom: 28px;
}

/* line 754, ../sass/style.scss */
#reforms {
  margin-bottom: 50px;
}
/* line 756, ../sass/style.scss */
#reforms h2 {
  font-family: 'petrarka';
  font-weight: normal;
  font-style: normal;
  color: #533625;
  font-size: 24px;
  letter-spacing: 2px;
  line-height: 24px;
  text-align: center;
  margin-bottom: 50px;
  text-transform: uppercase;
}

/* line 767, ../sass/style.scss */
.reforms__body {
  width: 884px;
  margin: 0 auto;
  position: relative;
  background: url("../img/frame_site/separ.svg") 50% 100% no-repeat;
  background-size: 830px 9px;
}
/* line 773, ../sass/style.scss */
.reforms__body a {
  vertical-align: top;
  display: inline-block;
  width: calc((100% - 170px) / 3);
  margin: 0 27px 35px 27px;
  position: relative;
  padding-top: 35px;
}
/* line 780, ../sass/style.scss */
.reforms__body a:before {
  content: "";
  position: absolute;
  height: 135px;
  width: 20px;
  background: url("../img/frame_site/frame_c.svg") 0 0 no-repeat;
  background-size: 100% 100%;
  transform: rotate(90deg);
  top: -55px;
  left: 45%;
}
/* line 791, ../sass/style.scss */
.reforms__body a div {
  height: 150px;
  position: relative;
  overflow: hidden;
  margin-bottom: 15px;
  border-radius: 3px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
}
/* line 798, ../sass/style.scss */
.reforms__body a div img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
/* line 805, ../sass/style.scss */
.reforms__body a span {
  display: block;
  width: 100%;
  font-family: 'petrarka';
  font-weight: normal;
  font-style: normal;
  color: #533625;
  font-size: 24px;
  letter-spacing: 1px;
  line-height: 24px;
  text-align: center;
}

/* line 817, ../sass/style.scss */
#news {
  width: 830px;
  margin: 0 auto;
  position: relative;
}
/* line 821, ../sass/style.scss */
#news h2 {
  font-family: 'petrarka';
  font-weight: normal;
  font-style: normal;
  color: #533625;
  font-size: 24px;
  letter-spacing: 2px;
  line-height: 24px;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 55px;
}
/* line 831, ../sass/style.scss */
#news > a {
  position: absolute;
  top: 3px;
  right: 0;
  font-family: 'Open Sans', sans-serif;
  color: #7C6742;
  font-size: 14px;
  line-height: 19px;
  text-decoration: underline;
  letter-spacing: 1.5px;
  padding-right: 15px;
}
/* line 842, ../sass/style.scss */
#news > a img {
  margin-left: 5px;
  position: absolute;
  top: 5px;
  right: -3px;
  width: 11px;
}

/* line 852, ../sass/style.scss */
.news__pages {
  margin: 30px auto;
  width: 300px;
  position: relative;
  cursor: pointer;
}
/* line 857, ../sass/style.scss */
.news__pages button {
  position: absolute;
  top: 0;
  background-color: transparent;
  cursor: pointer;
}
/* line 862, ../sass/style.scss */
.news__pages button:first-of-type {
  left: 0;
}
/* line 865, ../sass/style.scss */
.news__pages button:last-of-type {
  right: 0;
}
/* line 868, ../sass/style.scss */
.news__pages button img {
  height: 23px;
  width: 24px;
}
/* line 873, ../sass/style.scss */
.news__pages div {
  display: inline-block;
  margin: 0 auto;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}
/* line 879, ../sass/style.scss */
.news__pages div a {
  font-family: 'arnold-bocklinc';
  font-weight: normal;
  font-style: normal;
  color: #533625;
  margin: 0 11px;
  font-size: 20px;
  letter-spacing: 0.9px;
  line-height: 22px;
  text-align: center;
}
/* line 887, ../sass/style.scss */
.news__pages div a:nth-child(3) {
  font-size: 26px;
  font-weight: bold;
}
/* line 895, ../sass/style.scss */
.news__body.all {
  padding-top: 30px;
}
/* line 897, ../sass/style.scss */
.news__body.all a {
  margin-bottom: 90px;
}
/* line 899, ../sass/style.scss */
.news__body.all a:after {
  content: "";
  position: absolute;
  height: 135px;
  width: 20px;
  background: url("../img/frame_site/frame_c.svg") 0 0 no-repeat;
  background-size: 100% 100%;
  top: -90px;
  left: 50%;
  transform: translateX(-50%) rotate(90deg);
}
/* line 910, ../sass/style.scss */
.news__body.all a span {
  color: #7C6742;
  font-size: 14px;
  line-height: 20px;
  background-color: transparent;
  padding: 0;
}
/* line 919, ../sass/style.scss */
.news__body a {
  display: inline-block;
  vertical-align: top;
  width: 350px;
  position: relative;
  margin-bottom: 35px;
}
/* line 925, ../sass/style.scss */
.news__body a:nth-child(2n) {
  margin-left: 124px;
}
/* line 927, ../sass/style.scss */
.news__body a:nth-child(2n):before {
  content: "";
  position: absolute;
  height: 135px;
  width: 20px;
  background: url("../img/frame_site/frame_c.svg") 0 0 no-repeat;
  background-size: 100% 100%;
  top: 50%;
  left: -78px;
  transform: translateY(-50%);
}
/* line 939, ../sass/style.scss */
.news__body a div {
  width: 100%;
  height: 220px;
  border-radius: 3px;
  background-color: #D8D8D8;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
  overflow: hidden;
  margin-bottom: 20px;
}
/* line 947, ../sass/style.scss */
.news__body a div img {
  width: 100%;
}
/* line 951, ../sass/style.scss */
.news__body a span {
  font-family: 'Open Sans', sans-serif;
  color: #fffdf2;
  font-size: 14px;
  line-height: 20px;
  padding: 1px 14px;
  background-color: #533625;
}
/* line 959, ../sass/style.scss */
.news__body a p {
  font-family: 'Open Sans', sans-serif;
  color: #7C6742;
  font-size: 14px;
  line-height: 19px;
}
/* line 965, ../sass/style.scss */
.news__body a h3 {
  font-family: 'Open Sans', sans-serif;
  font-weight: normal;
  color: #533625;
  font-size: 18px;
  letter-spacing: 0.75px;
  line-height: 24px;
  margin: 8px 0;
}

/* line 977, ../sass/style.scss */
#comments {
  width: 830px;
  margin: 0 auto;
}

/* line 982, ../sass/style.scss */
.comments__card {
  margin-bottom: 60px;
  position: relative;
}
/* line 985, ../sass/style.scss */
.comments__card:before {
  content: "";
  position: absolute;
  bottom: -35px;
  left: 50%;
  transform: translateX(-50%);
  background: url("../img/venz.svg") no-repeat;
  background-size: 100% 100%;
  width: 140px;
  height: 13px;
}
/* line 996, ../sass/style.scss */
.comments__card__header {
  height: 55px;
  margin-bottom: 10px;
  overflow: hidden;
}
/* line 1001, ../sass/style.scss */
.comments__card__header div:first-of-type {
  float: left;
}
/* line 1004, ../sass/style.scss */
.comments__card__header div:last-of-type {
  float: right;
  text-align: right;
}
/* line 1007, ../sass/style.scss */
.comments__card__header div:last-of-type h2 {
  font-weight: bold;
  font-size: 16px;
  color: #7C6742;
  letter-spacing: normal;
}
/* line 1014, ../sass/style.scss */
.comments__card__header div span {
  font-family: 'Open Sans', sans-serif;
  color: #7C6742;
  font-size: 14px;
  line-height: 19px;
  margin-bottom: 10px;
  display: block;
}
/* line 1022, ../sass/style.scss */
.comments__card__header div h2 {
  font-family: 'Open Sans', sans-serif;
  color: #533625;
  font-size: 18px;
  letter-spacing: 0.75px;
  line-height: 24px;
  font-weight: normal;
  margin-bottom: 15px;
}
/* line 1034, ../sass/style.scss */
.comments__card__body p {
  font-family: 'Open Sans', sans-serif;
  color: #7C6742;
  font-size: 14px;
  line-height: 19px;
}
/* line 1041, ../sass/style.scss */
.comments__card__answers {
  margin: 20px 0 10px 0;
  list-style-type: none;
  padding: 0 0 0 78px;
}
/* line 1045, ../sass/style.scss */
.comments__card__answers li {
  position: relative;
  margin-bottom: 20px;
}
/* line 1048, ../sass/style.scss */
.comments__card__answers li:before {
  content: "";
  position: absolute;
  width: 26px;
  height: 20px;
  background: url("../img/answer.svg") no-repeat;
  background-size: 100% 100%;
  top: 0;
  left: -45px;
}
/* line 1059, ../sass/style.scss */
.comments__card__answers__header {
  height: 55px;
  margin-bottom: 10px;
  overflow: hidden;
}
/* line 1064, ../sass/style.scss */
.comments__card__answers__header div:first-of-type {
  float: left;
}
/* line 1067, ../sass/style.scss */
.comments__card__answers__header div:last-of-type {
  float: right;
  text-align: right;
}
/* line 1070, ../sass/style.scss */
.comments__card__answers__header div:last-of-type h2 {
  font-weight: bold;
  font-size: 16px;
  color: #7C6742;
  letter-spacing: normal;
}
/* line 1077, ../sass/style.scss */
.comments__card__answers__header div span {
  font-family: 'Open Sans', sans-serif;
  color: #7C6742;
  font-size: 14px;
  line-height: 19px;
  margin-bottom: 10px;
  display: block;
}
/* line 1085, ../sass/style.scss */
.comments__card__answers__header div h2 {
  font-family: 'Open Sans', sans-serif;
  color: #533625;
  font-size: 18px;
  letter-spacing: 0.75px;
  line-height: 24px;
  font-weight: normal;
  margin-bottom: 15px;
}
/* line 1096, ../sass/style.scss */
.comments__card__answers p {
  font-family: 'Open Sans', sans-serif;
  color: #7C6742;
  font-size: 14px;
  line-height: 19px;
}

/* line 1108, ../sass/style.scss */
.cs-bg {
  padding: 0;
}
/* line 1110, ../sass/style.scss */
.cs-bg .img-wrapper {
  width: 100%;
}
/* line 1112, ../sass/style.scss */
.cs-bg .img-wrapper img {
  width: 100%;
}
/* line 1118, ../sass/style.scss */
.cs-mt-one {
  display: block;
  position: relative;
  background: url("../img/Frame_card/20/20.svg") 0 0 no-repeat;
  padding: 9px 10px;
  width: 100%;
  min-height: 46px;
  background-size: 100% auto;
}
/* line 1126, ../sass/style.scss */
.cs-mt-one h2 {
  font-family: 'herold-normal';
  font-weight: normal;
  font-style: normal;
  text-align: center;
  color: #533625;
  font-size: 18px;
  letter-spacing: 2px;
  line-height: 13px;
}
/* line 1135, ../sass/style.scss */
.cs-mt-1 {
  display: block;
  position: relative;
  z-index: 1;
  background: url("../img/Frame_card/20/mini_o_u.svg") 0 0 no-repeat, url("../img/Frame_card/20/mini_o_d.svg") 0 100% no-repeat;
  background-size: 100% 35px;
  padding: 20px;
  text-align: center;
}
/* line 1145, ../sass/style.scss */
.cs-mt-1:before {
  content: "";
  position: absolute;
  width: 100%;
  height: calc(100% - 60px);
  top: 30px;
  left: 0;
  background: url("../img/Frame_card/20/mini_o_c.svg") 0 0 no-repeat;
  background-size: 100% 100%;
}
/* line 1155, ../sass/style.scss */
.cs-mt-1 h2 {
  display: block;
  position: relative;
  font-family: 'elizabeta-modern';
  font-weight: normal;
  font-style: normal;
  font-size: 18px;
  line-height: 19px;
  margin: 4px 0;
  color: #533625;
}
/* line 1164, ../sass/style.scss */
.cs-mt-1 p {
  position: relative;
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  line-height: 13px;
  color: #533625;
}
/* line 1172, ../sass/style.scss */
.cs-mt-1-fill {
  position: relative;
  z-index: 1;
  background: url("../img/Frame_card/20/mini_f_u.svg") 0 0 no-repeat, url("../img/Frame_card/20/mini_f_d.svg") 0 100% no-repeat;
  background-size: 100% 35px;
  padding: 20px;
  text-align: center;
}
/* line 1181, ../sass/style.scss */
.cs-mt-1-fill:before {
  content: "";
  position: absolute;
  width: 100%;
  height: calc(100% - 60px);
  top: 30px;
  left: 0;
  background: url("../img/Frame_card/20/mini_f_c.svg") 0 0 no-repeat;
  background-size: 100% 100%;
}
/* line 1191, ../sass/style.scss */
.cs-mt-1-fill h2 {
  position: relative;
  font-family: 'elizabeta-modern';
  font-weight: normal;
  font-style: normal;
  font-size: 18px;
  line-height: 19px;
  margin: 4px 0;
  color: #fffdf2;
}
/* line 1199, ../sass/style.scss */
.cs-mt-1-fill p {
  position: relative;
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  line-height: 13px;
  color: #fffdf2;
}
/* line 1208, ../sass/style.scss */
.cs-1 {
  background-color: #553924;
  color: #fffdf2;
  position: relative;
  padding: 13px;
}
/* line 1209, ../sass/style.scss */
.cs-1 p, .cs-1 span {
  color: #fffdf2;
  font-size: 14px;
  line-height: 14px;
  word-break: normal;
  letter-spacing: normal;
  margin-bottom: 0;
}
/* line 1217, ../sass/style.scss */
.cs-1 h2 {
  color: #fffdf2;
  font-size: 18px;
  line-height: 18px;
  margin: 0;
  letter-spacing: normal;
  text-transform: uppercase;
}
/* line 1225, ../sass/style.scss */
.cs-1 a {
  color: #fffdf2;
}
/* line 1232, ../sass/style.scss */
.cs-1:before {
  content: "";
  position: absolute;
  top: 2px;
  left: 2px;
  width: calc(100% - 4px);
  height: calc(100% - 4px);
  border: solid 2px wheat;
  box-sizing: border-box;
}
/* line 1243, ../sass/style.scss */
.cs-2 {
  padding: 0 4px 4px 4px;
  border-radius: 4px;
  background-color: #553924;
  text-align: center;
}
/* line 1244, ../sass/style.scss */
.cs-2 p, .cs-2 span {
  border-radius: 4px;
  color: #533625;
  font-size: 14px;
  line-height: 14px;
  word-break: normal;
  letter-spacing: normal;
  margin-bottom: 0;
  padding: 8px 4px;
}
/* line 1254, ../sass/style.scss */
.cs-2 h2 {
  color: #533625;
  line-height: 18px;
  margin: 0;
  padding: 3px 5px;
  letter-spacing: normal;
  display: inline-block;
}
/* line 1262, ../sass/style.scss */
.cs-2 a {
  color: #fffdf2;
}
/* line 1269, ../sass/style.scss */
.cs-2 * {
  background-color: #FFEFD6;
}
/* line 1273, ../sass/style.scss */
.cs-3 {
  background-color: #553924;
  position: relative;
  padding: 13px;
  text-align: center;
  border-radius: 9px;
}
/* line 1274, ../sass/style.scss */
.cs-3 p, .cs-3 span {
  color: #fffdf2;
  font-size: 14px;
  line-height: 14px;
  word-break: normal;
  letter-spacing: normal;
  margin-bottom: 0;
}
/* line 1282, ../sass/style.scss */
.cs-3 h2 {
  color: #fffdf2;
  font-size: 28px;
  line-height: 28px;
  margin-bottom: 6px;
  letter-spacing: normal;
}
/* line 1289, ../sass/style.scss */
.cs-3 a {
  color: #fffdf2;
}
/* line 1297, ../sass/style.scss */
.cs-3:before {
  content: "";
  position: absolute;
  top: 2px;
  left: 2px;
  width: calc(100% - 4px);
  height: calc(100% - 4px);
  border: solid 2px wheat;
  box-sizing: border-box;
  border-radius: 8px;
}
/* line 1309, ../sass/style.scss */
.cs-4 {
  padding: 20px;
  position: relative;
  background: url("../img/Frame_card/1/1_h.svg") 0 0 repeat-x, url("../img/Frame_card/1/1_h.svg") 0 100% repeat-x;
  background-size: 20px 10px;
  background-color: #FFEFD6;
}
/* line 1310, ../sass/style.scss */
.cs-4 p, .cs-4 span {
  color: #533625;
  font-size: 14px;
  line-height: 14px;
  word-break: break-all;
  font-weight: 600;
  letter-spacing: normal;
  margin-bottom: 0;
}
/* line 1319, ../sass/style.scss */
.cs-4 h2 {
  color: #533625;
  text-align: center;
  line-height: 18px;
  margin-bottom: 10px;
  letter-spacing: normal;
}
/* line 1326, ../sass/style.scss */
.cs-4 a {
  color: #533625;
}
/* line 1337, ../sass/style.scss */
.cs-4 * {
  position: relative;
}
/* line 1340, ../sass/style.scss */
.cs-4:before {
  content: "";
  position: absolute;
  width: calc(100% - 22px);
  height: calc(100% - 22px);
  left: 10px;
  top: 10px;
  border: solid 1px #553924;
  background-color: #FFF7ED;
}
/* line 1350, ../sass/style.scss */
.cs-4:after {
  content: "";
  position: absolute;
  top: 10px;
  left: 0;
  width: 100%;
  height: calc(100% - 20px);
  background: url("../img/Frame_card/1/1_v.svg") 0 10px repeat-y, url("../img/Frame_card/1/1_v.svg") 100% 10px repeat-y;
  background-size: 10px 20px;
}
/* line 1363, ../sass/style.scss */
.cs-5 {
  padding: 26px;
  position: relative;
  background: url("../img/Frame_card/2/2_l_u.svg") 0 0 no-repeat, url("../img/Frame_card/2/2_r_u.svg") 100% 0 no-repeat, url("../img/Frame_card/2/2_l_d.svg") 0 100% no-repeat, url("../img/Frame_card/2/2_r_d.svg") 100% 100% no-repeat;
  background-size: 45px 34px;
  background-color: #FFEFD6;
  text-align: center;
}
/* line 1364, ../sass/style.scss */
.cs-5 p, .cs-5 span {
  color: #533625;
  font-size: 14px;
  line-height: 14px;
  word-break: normal;
  letter-spacing: normal;
  margin-bottom: 0;
  font-weight: 600;
}
/* line 1373, ../sass/style.scss */
.cs-5 h2 {
  color: #533625;
  font-size: 18px;
  line-height: 18px;
  margin-bottom: 8px;
  letter-spacing: normal;
}
/* line 1380, ../sass/style.scss */
.cs-5 a {
  color: #533625;
}
/* line 1393, ../sass/style.scss */
.cs-5:before {
  content: "";
  position: absolute;
  top: 0;
  left: 45px;
  height: 100%;
  width: calc(100% - 90px);
  background: url("../img/Frame_card/2/2_u.svg") 0 0 round no-repeat, url("../img/Frame_card/2/2_d.svg") 0 100% round no-repeat;
  background-size: 22px 12px;
}
/* line 1405, ../sass/style.scss */
.cs-5:after {
  content: "";
  position: absolute;
  top: 34px;
  left: 0;
  height: calc(100% - 68px);
  width: 100%;
  background: url("../img/Frame_card/2/2_l.svg") 0 0 no-repeat round, url("../img/Frame_card/2/2_r.svg") 100% 0 no-repeat round;
  background-size: 14px 19px;
}
/* line 1418, ../sass/style.scss */
.cs-6 {
  padding: 22px;
  position: relative;
  z-index: 1;
  box-shadow: inset 0 0 0 0 red;
  background: url("../img/Frame_card/3/3_l_u.svg") 0 0 no-repeat, url("../img/Frame_card/3/3_r_u.svg") 100% 0 no-repeat, url("../img/Frame_card/3/3_l_d.svg") 0 100% no-repeat, url("../img/Frame_card/3/3_r_d.svg") 100% 100% no-repeat;
  background-size: 35px 35px;
  background-color: #FFEFD6;
}
/* line 1419, ../sass/style.scss */
.cs-6 p, .cs-6 span {
  color: #533625;
  font-size: 14px;
  line-height: 14px;
  word-break: normal;
  letter-spacing: normal;
  margin-bottom: 0;
  padding: 12px;
}
/* line 1428, ../sass/style.scss */
.cs-6 h2 {
  color: #533625;
  padding-top: 12px;
  text-align: center;
  letter-spacing: normal;
}
/* line 1434, ../sass/style.scss */
.cs-6 a {
  color: #533625;
}
/* line 1448, ../sass/style.scss */
.cs-6:before {
  content: "";
  position: absolute;
  width: calc(100% - 68px);
  height: 100%;
  top: 0;
  left: 34px;
  box-shadow: -37px 0px 0 -18px #FFF7ED, 37px 0px 0 -18px #FFF7ED;
  background: url(../img/Frame_card/3/3_h.svg) 50% 1px repeat-x, url(../img/Frame_card/3/3_h.svg) left 50% bottom 1.5px repeat-x;
  background-size: 252px 13.5px;
}
/* line 1461, ../sass/style.scss */
.cs-6:after {
  content: "";
  position: absolute;
  width: 100%;
  height: calc(100% - 68px);
  top: 34px;
  left: 0;
  box-shadow: 0px -37px 0 -18px #FFF7ED, 0px 37px 0 -18px #FFF7ED;
  background: url("../img/Frame_card/3/3_v.svg") 2px 50% repeat-y, url("../img/Frame_card/3/3_v.svg") right 2px top 50% repeat-y;
  background-size: 14px 170px;
}
/* line 1474, ../sass/style.scss */
.cs-6 * {
  position: relative;
  z-index: -1;
  background: #FFF7ED;
}
/* line 1480, ../sass/style.scss */
.cs-7 {
  padding: 16px;
  position: relative;
  background: url("../img/Frame_card/5/5_l_u.svg") 0 0 no-repeat, url("../img/Frame_card/5/5_r_u.svg") 100% 0 no-repeat, url("../img/Frame_card/5/5_l_d.svg") 0 100% no-repeat, url("../img/Frame_card/5/5_r_d.svg") 100% 100% no-repeat;
  background-size: 21px 21px;
  background-color: #FFEFD6;
}
/* line 1481, ../sass/style.scss */
.cs-7 p, .cs-7 span {
  color: #533625;
  font-size: 14px;
  line-height: 14px;
  word-break: normal;
  letter-spacing: normal;
  margin-bottom: 0;
}
/* line 1489, ../sass/style.scss */
.cs-7 h2 {
  color: #533625;
  font-size: 20px;
  line-height: 20px;
  margin-bottom: 6px;
  text-align: center;
  letter-spacing: normal;
}
/* line 1497, ../sass/style.scss */
.cs-7 a {
  color: #533625;
}
/* line 1510, ../sass/style.scss */
.cs-7:before {
  content: "";
  position: absolute;
  top: 0;
  left: 20px;
  width: calc(100% - 40px);
  height: 100%;
  background: url("../img/Frame_card/5/5_u.svg") 0 0 repeat-x, url("../img/Frame_card/5/5_d.svg") 0 100% repeat-x;
  background-size: 100% 7px;
}
/* line 1522, ../sass/style.scss */
.cs-7:after {
  content: "";
  position: absolute;
  top: 20px;
  left: 0;
  width: 100%;
  height: calc(100% - 40px);
  background: url("../img/Frame_card/5/5_l.svg") 0 0 repeat-y, url("../img/Frame_card/5/5_r.svg") 100% 0 repeat-y;
  background-size: 7px 100%;
}
/* line 1535, ../sass/style.scss */
.cs-8 {
  padding: 13px;
  background: url("../img/Frame_card/6/6_l_u.svg") 0 0 no-repeat, url("../img/Frame_card/6/6_r_u.svg") 100% 0 no-repeat, url("../img/Frame_card/6/6_l_d.svg") 0 100% no-repeat, url("../img/Frame_card/6/6_r_d.svg") 100% 100% no-repeat, url("../img/Frame_card/6/6_h.svg") 0 0 no-repeat, url("../img/Frame_card/6/6_h.svg") 0 100% no-repeat, url("../img/Frame_card/6/6_v.svg") 0 0 no-repeat, url("../img/Frame_card/6/6_v.svg") 100% 0 no-repeat;
  background-size: 19px 19px,19px 19px,19px 19px,19px 19px,100% 4px,100% 4px,4px 100%,4px 100%;
  background-color: #FFEFD6;
}
/* line 1536, ../sass/style.scss */
.cs-8 p, .cs-8 span {
  color: #533625;
  font-size: 14px;
  line-height: 14px;
  word-break: normal;
  letter-spacing: normal;
  margin-bottom: 0;
}
/* line 1544, ../sass/style.scss */
.cs-8 h2 {
  color: #533625;
  line-height: 21px;
  padding-bottom: 5px;
  text-align: center;
  letter-spacing: normal;
}
/* line 1551, ../sass/style.scss */
.cs-8 a {
  color: #533625;
}
/* line 1567, ../sass/style.scss */
.cs-9 {
  padding: 13px;
  position: relative;
  background: url("../img/Frame_card/7/7_l_u.svg") 0 0 no-repeat, url("../img/Frame_card/7/7_r_u.svg") 100% 0 no-repeat, url("../img/Frame_card/7/7_l_d.svg") 0 100% no-repeat, url("../img/Frame_card/7/7_r_d.svg") 100% 100% no-repeat;
  background-size: 28px 30px,28px 29px,28px 28px,28px 27px;
  background-color: #FFEFD6;
}
/* line 1568, ../sass/style.scss */
.cs-9 p, .cs-9 span {
  color: #533625;
  font-size: 14px;
  line-height: 14px;
  word-break: normal;
  letter-spacing: normal;
  margin-bottom: 0;
  padding: 8px;
}
/* line 1577, ../sass/style.scss */
.cs-9 h2 {
  color: #533625;
  line-height: 20px;
  text-align: center;
  padding: 8px;
  letter-spacing: normal;
}
/* line 1584, ../sass/style.scss */
.cs-9 a {
  color: #533625;
}
/* line 1587, ../sass/style.scss */
.cs-9 * {
  background-color: #FFF7ED;
}
/* line 1599, ../sass/style.scss */
.cs-9:before {
  content: "";
  position: absolute;
  top: 0;
  left: 28px;
  width: calc(100% - 56px);
  height: 100%;
  background: url("../img/Frame_card/7/7_u.svg") 0 0 repeat-x, url("../img/Frame_card/7/7_d.svg") 0 100% repeat-x;
  background-size: 20px 12px;
}
/* line 1611, ../sass/style.scss */
.cs-9:after {
  content: "";
  position: absolute;
  top: 27px;
  left: 0;
  width: 100%;
  height: calc(100% - 52px);
  background: url("../img/Frame_card/7/7_l.svg") 0 0 repeat-y, url("../img/Frame_card/7/7_r.svg") 100% 0 repeat-y;
  background-size: 13px 20px;
}
/* line 1624, ../sass/style.scss */
.cs-10 {
  position: relative;
  padding: 18px;
  background-color: #FFEFD6;
}
/* line 1625, ../sass/style.scss */
.cs-10 p, .cs-10 span {
  color: #fffdf2;
  font-size: 14px;
  line-height: 14px;
  word-break: normal;
  letter-spacing: normal;
  margin-bottom: 0;
  padding: 8px;
}
/* line 1634, ../sass/style.scss */
.cs-10 h2 {
  padding: 10px 5px;
  text-align: center;
  color: #fffdf2;
  line-height: 18px;
  margin: 0;
  letter-spacing: normal;
}
/* line 1642, ../sass/style.scss */
.cs-10 a {
  color: #fffdf2;
}
/* line 1648, ../sass/style.scss */
.cs-10 * {
  background-color: #A43722;
}
/* line 1651, ../sass/style.scss */
.cs-10:before {
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  width: 100%;
  height: 100%;
  background: url("../img/Frame_card/8/8_h.svg") 0 0 round no-repeat, url("../img/Frame_card/8/8_h.svg") 0 100% round no-repeat;
  background-size: 16px 16px;
}
/* line 1663, ../sass/style.scss */
.cs-10:after {
  position: absolute;
  top: 16px;
  left: 0;
  content: "";
  width: 100%;
  height: calc(100% - 32px);
  background: url("../img/Frame_card/8/8_h.svg") 0 0 no-repeat round, url("../img/Frame_card/8/8_h.svg") 100% 0 no-repeat round;
  background-size: 16px 16px;
}
/* line 1676, ../sass/style.scss */
.cs-11 {
  position: relative;
  padding: 19px;
  background-color: #FFEFD6;
}
/* line 1677, ../sass/style.scss */
.cs-11 p, .cs-11 span {
  color: #533625;
  font-size: 14px;
  line-height: 14px;
  word-break: normal;
  letter-spacing: normal;
  margin-bottom: 0;
}
/* line 1685, ../sass/style.scss */
.cs-11 h2 {
  color: #533625;
  line-height: 18px;
  margin-bottom: 8px;
  text-align: center;
  letter-spacing: normal;
}
/* line 1692, ../sass/style.scss */
.cs-11 a {
  color: #533625;
}
/* line 1698, ../sass/style.scss */
.cs-11:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: url("../img/Frame_card/9/9_l.svg") 0 0 no-repeat round, url("../img/Frame_card/9/9_r.svg") 100% 0 no-repeat round;
  background-size: 10px 58px;
}
/* line 1710, ../sass/style.scss */
.cs-11:after {
  content: "";
  position: absolute;
  width: calc(100% - 20px);
  height: 100%;
  top: 0;
  left: 10px;
  background: url("../img/Frame_card/9/9_u.svg") 0 0 round no-repeat, url("../img/Frame_card/9/9_d.svg") 0 100% round no-repeat;
  background-size: 58px 10px;
}
/* line 1723, ../sass/style.scss */
.cs-12 {
  padding: 24px;
  position: relative;
  background: url("../img/Frame_card/10/10_l_u.svg") 0 0 no-repeat, url("../img/Frame_card/10/10_r_u.svg") 100% 0 no-repeat, url("../img/Frame_card/10/10_l_d.svg") 0 100% no-repeat, url("../img/Frame_card/10/10_r_d.svg") 100% 100% no-repeat;
  background-size: 30px 30px;
  background-color: #FFEFD6;
}
/* line 1724, ../sass/style.scss */
.cs-12 p, .cs-12 span {
  color: #533625;
  font-size: 14px;
  line-height: 14px;
  word-break: normal;
  letter-spacing: normal;
  margin-bottom: 0;
}
/* line 1732, ../sass/style.scss */
.cs-12 h2 {
  color: #533625;
  margin-bottom: 8px;
  text-align: center;
  letter-spacing: normal;
}
/* line 1738, ../sass/style.scss */
.cs-12 a {
  color: #533625;
}
/* line 1750, ../sass/style.scss */
.cs-12:before {
  content: "";
  position: absolute;
  width: calc(100% - 60px);
  height: 100%;
  top: 0;
  left: 30px;
  background: url("../img/Frame_card/10/10_u.svg") 0 0 round no-repeat, url("../img/Frame_card/10/10_d.svg") 0 100% round no-repeat;
  background-size: 45px 15px;
}
/* line 1762, ../sass/style.scss */
.cs-12:after {
  content: "";
  position: absolute;
  width: 100%;
  height: calc(100% - 60px);
  top: 30px;
  left: 0;
  background: url("../img/Frame_card/10/10_l.svg") 0 0 no-repeat round, url("../img/Frame_card/10/10_r.svg") 100% 0 no-repeat round;
  background-size: 15px 45px;
}
/* line 1775, ../sass/style.scss */
.cs-13 {
  padding: 35px;
  position: relative;
  background: url("../img/Frame_card/4/4_l_u.svg") 0 0 no-repeat, url("../img/Frame_card/4/4_r_u.svg") 100% 0 no-repeat, url("../img/Frame_card/4/4_l_d.svg") 0 100% no-repeat, url("../img/Frame_card/4/4_r_d.svg") 100% 100% no-repeat;
  background-size: 40px 40px;
  background-color: #FFEFD6;
}
/* line 1776, ../sass/style.scss */
.cs-13 p, .cs-13 span {
  color: #533625;
  font-size: 14px;
  line-height: 14px;
  word-break: normal;
  letter-spacing: normal;
  margin-bottom: 0;
}
/* line 1784, ../sass/style.scss */
.cs-13 h2 {
  color: #533625;
  margin-bottom: 8px;
  text-align: center;
  letter-spacing: normal;
}
/* line 1790, ../sass/style.scss */
.cs-13 a {
  color: #533625;
}
/* line 1802, ../sass/style.scss */
.cs-13:before {
  content: "";
  position: absolute;
  top: 0;
  left: 40px;
  width: calc(100% - 80px);
  height: 100%;
  background: url("../img/Frame_card/4/4_h.svg") 0 0 round no-repeat, url("../img/Frame_card/4/4_h.svg") 0 100% round no-repeat;
  background-size: 40px 20px;
}
/* line 1814, ../sass/style.scss */
.cs-13:after {
  content: "";
  position: absolute;
  top: 40px;
  left: 0;
  width: 100%;
  height: calc(100% - 80px);
  background: url("../img/Frame_card/4/4_v.svg") 0 0 no-repeat round, url("../img/Frame_card/4/4_v.svg") 100% 0 no-repeat round;
  background-size: 20px 40px;
}
/* line 1827, ../sass/style.scss */
.cs-14 {
  padding: 27px;
  position: relative;
  background: url("../img/Frame_card/11/11_l_u.svg") 0 0 no-repeat, url("../img/Frame_card/11/11_r_u.svg") 100% 0 no-repeat, url("../img/Frame_card/11/11_l_d.svg") 0 100% no-repeat, url("../img/Frame_card/11/11_r_d.svg") 100% 100% no-repeat;
  background-size: 30px 30px;
  background-color: #FFEFD6;
}
/* line 1828, ../sass/style.scss */
.cs-14 p, .cs-14 span {
  color: #533625;
  font-size: 14px;
  line-height: 14px;
  word-break: normal;
  letter-spacing: normal;
  margin-bottom: 0;
}
/* line 1836, ../sass/style.scss */
.cs-14 h2 {
  color: #533625;
  margin-bottom: 8px;
  text-align: center;
  letter-spacing: normal;
}
/* line 1842, ../sass/style.scss */
.cs-14 a {
  color: #533625;
}
/* line 1854, ../sass/style.scss */
.cs-14:before {
  content: "";
  position: absolute;
  top: 0;
  left: 30px;
  width: calc(100% - 60px);
  height: 100%;
  background: url("../img/Frame_card/11/11_u.svg") 0 0 round no-repeat, url("../img/Frame_card/11/11_d.svg") 0 100% round no-repeat;
  background-size: 65px 13px,65px 12px;
}
/* line 1866, ../sass/style.scss */
.cs-14:after {
  content: "";
  position: absolute;
  top: 30px;
  left: 0;
  width: 100%;
  height: calc(100% - 60px);
  background: url("../img/Frame_card/11/11_l.svg") 0 0 no-repeat round, url("../img/Frame_card/11/11_r.svg") 100% 0 no-repeat round;
  background-size: 13px 65px;
}
/* line 1879, ../sass/style.scss */
.cs-15 {
  padding: 8px;
  position: relative;
  background: url("../img/Frame_card/12/12_l_u.svg") 0 0 no-repeat, url("../img/Frame_card/12/12_r_u.svg") 100% 0 no-repeat, url("../img/Frame_card/12/12_l_d.svg") 0 100% no-repeat, url("../img/Frame_card/12/12_r_d.svg") 100% 100% no-repeat;
  background-size: 26px 26px;
  background-color: #FFEFD6;
}
/* line 1880, ../sass/style.scss */
.cs-15 p, .cs-15 span {
  color: #fffdf2;
  font-size: 14px;
  line-height: 14px;
  word-break: normal;
  letter-spacing: normal;
  padding: 12px;
  margin-bottom: 0;
}
/* line 1889, ../sass/style.scss */
.cs-15 h2 {
  color: #fffdf2;
  padding: 12px 8px 8px 8px;
  text-align: center;
  letter-spacing: normal;
}
/* line 1895, ../sass/style.scss */
.cs-15 a {
  color: #fffdf2;
}
/* line 1907, ../sass/style.scss */
.cs-15:before {
  content: "";
  position: absolute;
  top: 0;
  left: 26px;
  width: calc(100% - 52px);
  height: 100%;
  background: url("../img/Frame_card/12/12_u.svg") 0 0 round no-repeat, url("../img/Frame_card/12/12_d.svg") 0 100% round no-repeat;
  background-size: 14px 7px;
}
/* line 1919, ../sass/style.scss */
.cs-15:after {
  content: "";
  position: absolute;
  top: 26px;
  left: 0;
  width: 100%;
  height: calc(100% - 52px);
  background: url("../img/Frame_card/12/12_l.svg") 0 0 no-repeat round, url("../img/Frame_card/12/12_r.svg") 100% 0 no-repeat round;
  background-size: 7px 14px;
}
/* line 1931, ../sass/style.scss */
.cs-15 * {
  background-color: #553924;
}
/* line 1935, ../sass/style.scss */
.cs-16 {
  padding: 22px;
  position: relative;
  background: url("../img/Frame_card/15/15_l_u.svg") 0 0 no-repeat, url("../img/Frame_card/15/15_r_u.svg") 100% 0 no-repeat, url("../img/Frame_card/15/15_l_d.svg") 0 100% no-repeat, url("../img/Frame_card/15/15_r_d.svg") 100% 100% no-repeat;
  background-size: 30px 30px;
  background-color: #FFEFD6;
}
/* line 1936, ../sass/style.scss */
.cs-16 p, .cs-16 span {
  color: #533625;
  font-size: 14px;
  line-height: 14px;
  word-break: normal;
  letter-spacing: normal;
  margin-bottom: 0;
}
/* line 1944, ../sass/style.scss */
.cs-16 h2 {
  color: #533625;
  margin-bottom: 8px;
  text-align: center;
  letter-spacing: normal;
}
/* line 1950, ../sass/style.scss */
.cs-16 a {
  color: #533625;
}
/* line 1962, ../sass/style.scss */
.cs-16:before {
  content: "";
  position: absolute;
  top: 0;
  left: 30px;
  width: calc(100% - 60px);
  height: 100%;
  background: url("../img/Frame_card/15/15_u.svg") 0 0 round no-repeat, url("../img/Frame_card/15/15_d.svg") 0 100% round no-repeat;
  background-size: 32px 12px;
}
/* line 1974, ../sass/style.scss */
.cs-16:after {
  content: "";
  position: absolute;
  top: 30px;
  left: 0;
  width: 100%;
  height: calc(100% - 60px);
  background: url("../img/Frame_card/15/15_l.svg") 0 0 no-repeat round, url("../img/Frame_card/15/15_r.svg") 100% 0 no-repeat round;
  background-size: 14px 32px;
}
/* line 1987, ../sass/style.scss */
.cs-17 {
  padding: 20px;
  position: relative;
  background: url("../img/Frame_card/16/16_l_u.svg") 0 0 no-repeat, url("../img/Frame_card/16/16_r_u.svg") 100% 0 no-repeat, url("../img/Frame_card/16/16_l_d.svg") 0 100% no-repeat, url("../img/Frame_card/16/16_r_d.svg") 100% 100% no-repeat;
  background-size: 25px 25px;
  background-color: #FFEFD6;
}
/* line 1988, ../sass/style.scss */
.cs-17 p, .cs-17 span {
  color: #533625;
  font-size: 14px;
  line-height: 14px;
  word-break: normal;
  letter-spacing: normal;
  margin-bottom: 0;
}
/* line 1996, ../sass/style.scss */
.cs-17 h2 {
  color: #533625;
  margin-bottom: 8px;
  text-align: center;
  letter-spacing: normal;
}
/* line 2002, ../sass/style.scss */
.cs-17 a {
  color: #533625;
}
/* line 2014, ../sass/style.scss */
.cs-17:before {
  position: absolute;
  content: "";
  top: 0;
  left: 24px;
  width: calc(100% - 48px);
  height: 100%;
  background: url("../img/Frame_card/16/16_u.svg") 0 0 round no-repeat, url("../img/Frame_card/16/16_d.svg") 0 100% round no-repeat;
  background-size: 15px 12px;
}
/* line 2026, ../sass/style.scss */
.cs-17:after {
  content: "";
  position: absolute;
  top: 24px;
  left: 0;
  width: 100%;
  height: calc(100% - 48px);
  background: url("../img/Frame_card/16/16_l.svg") 0 0 no-repeat round, url("../img/Frame_card/16/16_r.svg") 100% 0 no-repeat round;
  background-size: 12px 15px;
}

/* line 2044, ../sass/style.scss */
.fs-1 h2 {
  font-family: 'Open Sans', sans-serif;
}
/* line 2047, ../sass/style.scss */
.fs-2 h2 {
  font-family: 'arnold-bocklinc';
  font-weight: normal;
  font-style: normal;
  font-size: 20px;
}
/* line 2052, ../sass/style.scss */
.fs-3 h2 {
  font-family: 'herold-normal';
  font-weight: normal;
  font-style: normal;
}
/* line 2055, ../sass/style.scss */
.fs-4 h2 {
  font-family: 'rodeo-bold';
  font-weight: normal;
  font-style: normal;
  font-size: 23px;
}
/* line 2060, ../sass/style.scss */
.fs-5 h2 {
  font-family: 'elizabeta-modern';
  font-weight: normal;
  font-style: normal;
}
/* line 2063, ../sass/style.scss */
.fs-6 h2 {
  font-family: 'eveagita';
  font-weight: normal;
  font-style: normal;
  font-size: 45px;
  line-height: 30px;
}
/* line 2069, ../sass/style.scss */
.fs-7 h2 {
  font-family: 'goudy-decor-shodwnc';
  font-weight: normal;
  font-style: normal;
}
/* line 2072, ../sass/style.scss */
.fs-8 h2 {
  font-family: 'herold-bold',cursive;
  font-weight: normal;
  font-style: normal;
  font-size: 25px;
}
/* line 2077, ../sass/style.scss */
.fs-9 h2 {
  font-family: 'monti-decor-b';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
}
/* line 2082, ../sass/style.scss */
.fs-10 h2 {
  font-family: 'petrarka';
  font-weight: normal;
  font-style: normal;
  font-size: 30px;
  line-height: 20px;
}
/* line 2088, ../sass/style.scss */
.fs-11 h2 {
  font-family: 'proletariat';
  font-weight: normal;
  font-style: normal;
  font-size: 26px;
}
/* line 2093, ../sass/style.scss */
.fs-12 h2 {
  font-family: 'windsor';
  font-weight: normal;
  font-style: normal;
  font-size: 28px;
}

/* line 2103, ../sass/style.scss */
.wrapper-t1 .content__body__pages__line-first {
  width: 186px;
}
/* line 2106, ../sass/style.scss */
.wrapper-t1 .content__body__pages__line-second, .wrapper-t1 .content__body__pages__line-third {
  width: 340px;
}
/* line 2113, ../sass/style.scss */
.wrapper-t2 .content__body__pages__line-first, .wrapper-t2 .content__body__pages__line-second, .wrapper-t2 .content__body__pages__line-third {
  width: 288px;
}
/* line 2120, ../sass/style.scss */
.wrapper-t3 .content__body__pages__line-first, .wrapper-t3 .content__body__pages__line-third {
  width: 243px;
}
/* line 2123, ../sass/style.scss */
.wrapper-t3 .content__body__pages__line-second {
  width: 380px;
}
