/* line 4, ../sass/style.scss */
body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

/* line 10, ../sass/style.scss */
a, a:hover {
  text-decoration: none;
  cursor: pointer;
}

/* line 14, ../sass/style.scss */
.link-to-content {
  margin: 50px auto;
  display: flex;
  justify-content: center;
}
/* line 18, ../sass/style.scss */
.link-to-content a {
  text-decoration: none;
  display: block;
  margin: 25px 50px;
}

/* line 25, ../sass/style.scss */
.content__wrap {
  background-color: aliceblue;
  padding: 20px;
}
