@mixin text($mx-font-size,$mx-line-height,$mx-color){
  font-family: "Open Sans",sans-serif;
  font-size: $mx-font-size;
  line-height: $mx-line-height;
  color: $mx-color;
}
@mixin absolut-center{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
}
