@media screen and (max-width: 1199px){
  .faq__content-more{
    i{
      margin-right: 5px;
    }
    span{
      font-size: 24px;
    }
  }
  .foto-gallery__foto{
    width: calc((100% - 90px) / 3);
  }
  #gallery {
    margin-bottom: 110px;
    h1,a{
      margin-left: 75px;
    }
  }
  .footer__block-left{
    margin-left: 45px;
  }
  .gallery__foto-area{
    div.gallery__foto-card:nth-last-child(-n +4){
      display: none;
    }
  }
  .why-us__right-block ul li:hover:before{
    background-color: #119317;
  }
  #seo-about:before{
    left: 550px;
  }
  .gallery__foto-card{
    width: calc((100% - 40px) / 3);
    margin-bottom: 20px;
    &:hover{
      transform: scale(1.1);
    }
  }
  .why-us__left-block{
    &:before{
      left: 0;
    }
    h1{
      font-size: 48px;
      line-height: 65px;
    }
  }
  .how-we-work__left-block{
    margin-bottom: 115px;
    ul{
      display: flex;
      flex-wrap: wrap;
      li{
        width: 50%;
      }
    }
  }
  .how-we-work__right-block{
    button.button-wave{
      position: absolute;
      left: 50%;
      top: auto;
      bottom: 85px;
    }
    h2{
      text-align: center;
      max-width: 100%;
    }
    ol{
      padding-left: 30px;
      display: flex;
      flex-wrap: wrap;
      li{
        width: 50%;
        padding-right: 26px;
        &:hover{
          padding-right: 26px;
          width: 50%;
          span{
            font-size: 24px;
            line-height: 33px;
          }
        }
      }
    }
  }
  .table-block__tabel-cell{
    padding: 0 10px;
  }
  #how-we-work{
    padding-bottom: 310px;
    &:before{
      left: -50px;
      height: 620px;
      width: 936px;
    }
  }
  .table-block{
    margin-bottom: 60px;
  }
  #welcome-to{
    div.wrapped{
      padding-left: 50px;
      &:before{
        left: -75px;
      }
    }
  }
  #slider{
    height: 365px;
  }
  .slider__nav-block{
    height: 305px;
    padding: 20px 10px 20px 20px;
    h2{
      font-size: 30px;
      line-height: 35px;
      & + div{
        margin-bottom: 20px;
      }
    }
    p{
      font-size: 16px;
      line-height: 18px;
    }
  }
  .slider__control{
    bottom: 0;
    .arrow-btn i{
      &:first-child{
        left: 35px;
      }
      &:last-child{
        right: 35px;
      }
    }
  }
  .button-bar{
    height: 134px;
  }
  .button-bar__btn{
    height: 74px;
    width: 260px;
    border-radius: 37px;
    span{
      font-size: 17px;
      line-height: 20px;
    }
  }
  .button-bar__btn-ico{
    height: 57px;
    width: 57px;
  }
  .header__nav-menu{
    order: 3;
  }
  #top  {
    margin-bottom: 125px;
  }
  .header__drop-menu{
    top: 125px;
    &:before{
      left: 32%;
      top: -5px;
    }
    .content-group{
      max-width: 29%;
      min-width: 20%;
      margin: 0 25px 40px 0;
    }
  }
  .button-bar__btn{
    &:nth-child(1){
      left: -20%;
    }
    &:nth-child(2){
      left: calc(0% + 180px);
    }
    &:nth-child(4){
      left: calc(100% - 180px);
    }
    &:nth-child(5){
      left: 120%;
    }
  }
}
@media screen and (max-width: 991px){
  .button-bar__btn{
    &:nth-child(2){
      left: calc(0% + 140px);
    }
    &:nth-child(4){
      left: calc(100% - 140px);
    }
  }
  .faq__content-more{
    span{
      font-size: 24px;
    }
  }
  .foto-gallery__filter label{
    padding: 0 10px;
  }
  .foto-gallery__card{
    width: calc(100% + 20px);
  }
  .foto-gallery__foto{
    width: calc((100% - 60px) / 3);
    margin-right: 20px;
    margin-bottom: 20px;
  }
  #crumbs h1{
    font-size: 42px;
    line-height: 62px;
  }
  #header{
    position: absolute;
  }
  .button-bar{
    height: 104px;
    &__btn{
      width: 201px;
      height: 63px;
      border-radius: 32px;
      span{
        font-size: 14px;
        line-height: 17px;
      }
      &-ico{
        margin: 0px 15px;
        height: 50px;
        width: 50px;
      }
    }
  }
  #slider{
    height: auto;
  }
  .slider__{
    &watch-block{
      height: 335px;
      margin: 0 auto;
    }
    &nav-block{
      order: 1;
      margin: 0 auto;
      padding: 25px 90px 0 90px;
      height: 245px;
      &__content{
        button.button{
          margin: 0 auto;
        }
        h2{
          text-align: center;
          font-size: 24px;
          line-height: 28px;
        }
      }
    }
    &control{
      bottom: -20px;
      left: 50%;
      transform: translateX(-50%);
    }
  }
  #welcome-to {
    margin-bottom: 85px;
    div.wrapped{
      padding-left: 0;
      &:before{
        left: -55px;
      }
    }
    h2{
      font-size: 29px;
      line-height: 41px;
    }
  }
  .table-block__tabel-cell{
    width:calc(50% - 1px);
    h2{
      font-size: 46px;
      line-height: 60px;
      b{
        font-size: 48px;
      }
    }
    span{
      font-size: 20px;
      line-height: 27px;
    }
    &:last-child{
      width: 100%;
    }
  }
  .how-we-work__left-block {
    margin-bottom: 95px;
    ul{
      li{
        width: 100%;
      }
    }
  }
  .how-we-work__right-block {
    button.button-wave{
      position: relative;
      left: -5px;
      bottom: 0;
    }
    ol{
      li{
        width: 100%;
        &:hover{
          width: 100%;
        }
      }
    }
  }
  #how-we-work{
    padding-bottom: 130px;
  }
  #why-us{
    padding: 60px 0;
    margin-bottom: 90px;
  }
  .why-us__left-block{
    padding: 0 50px;
    margin-bottom: 65px;
    &:before{
      left: 50%;
      top: -25px;
      transform: translateX(-50%);
    }
    h1{
      text-align: center;
    }
    button.button{
      margin: 0 auto;
    }
  }
  .why-us__right-block{
    margin: 0 auto;
  }
  #seo-about{
    padding-bottom: 230px;
    &:before{
      width: 423px;
      height: 420px;
      left: 380px;
    }
    div.col-10{
      margin: 0 auto;
    }
  }
  .footer__block-left{
    padding-right: 20px;
  }
  .header__drop-menu{
    &:before{
      left: 26%;
      top: -3px;
    }
    .content-group{
      max-width: 50%;
      min-width: 20%;
    }
  }
}
@media screen and (max-width: 767px){
  .button-bar__btn{
    &:nth-child(1){
      left: -65%;
    }
    &:nth-child(2){
      left: -45%;
    }
    &:nth-child(4){
      left: 145%;
    }
    &:nth-child(5){
      left: 165%;
    }
  }
  .model-windows__item{
    min-width: 275px;
    top: 20px;
    left: 50%;
    transform: translate(-50%,0);
    padding: 25px 40px 20px 40px;
    h2{
      font-size: 25px;
      line-height: 28px;
      em{
        font-size: 16px;
      }
    }
  }
  .label-button label{
    width: calc((100% - 10px) / 2);
    span{
      font-size: 10px;
      line-height: 14px;
    }
  }
  .capcha{
    width: 190px;
  }
  .model-windows__input-wrapp__btn-upload{
    height: 35px;
    width: 70px;
    padding: 5px 0 0 11px;
    bottom: -5px;
    &:before{
      width: 195px;
    }
    span{
      font-size: 10px;
      line-height: 13px;
    }
  }
  .model-windows__input-wrapp .input-imitation{
    padding-right: 60px;
  }
  .model-windows__item__rating{
    h2{
      display: block;
      text-align: center;
      margin-right: 0;
      margin-bottom: 10px;
    }
  }
  .rating-stars{
    width: 100%;
    justify-content: center;
  }
  #model-w-sucess {
    h2{
      font-size: 20px;
      margin-bottom: 15px;
      width: 90%;
    }
    span{
      font-size: 16px;
    }
  }
  .answers__content{
    width: 100%;
    padding: 75px 30px 40px 30px;
  }
  .faq__content{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }
  .foto-gallery__filter{
    flex-direction: column;
  }
  .foto-gallery__filter label{
    padding: 0 10px;
    display: none;
  }
  .foto-gallery__filter label[for=filter-all]{
    display: block;
  }
  .foto-gallery__card{
    width: calc(100% + 10px);
  }
  #collaps-filter:checked ~ label{
    display: block;
    &:nth-child(3){
      margin-bottom: 20px;
    }
  }
  .foto-gallery__foto{
    width: calc((100% - 20px) / 2);
    margin-right: 10px;
    margin-bottom: 10px;
  }
  .foto-gallery__wrapp:hover{
    transform: scale(1.05);
  }
  .collaps-filter{
    display: block !important;
  }
  #crumbs {
    margin-top: 0;
    span{
      display: block;
      text-align: center;
      margin-bottom: 5px;
      a{
        font-size: 14px;
        line-height: 22px;
      }
    }
    h1{
      font-size: 32px;
      line-height: 48px;
      text-align: center;
    }
  }
  #welcome-to.catalog-mod div.wrapped{
    padding-left: 10px;
    &:before{
      top: -40px;
    }
  }
  #builds-work{
    margin-bottom: 40px;
  }
  .header__number{
    i{
      margin-right: 5px;
    }
    span{
      font-size: 16px;
      line-height: 18px;
      b{
        font-size: 18px;
      }
    }
  }
  .header__nav-menu{
    min-width: 100%;
    display: none;
    flex-direction: column;
    align-items: start;
    background-color: #14A31A;
    margin-top: 0;
    position: relative;
    &:after{
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      background-color:#14A31A;
      transform: scale(1.2);
      z-index: -1;
    }
    &__point span{
      color: white;
    }
    a:first-child{
      display: none;
    }
  }
  .button-toggler{
    display: block;
    margin-left: 0;
  }
  .header__logo{
    min-width: 195px;
    max-width: 195px;
    transform: translateX(-50%);
    margin: 0 100% 10px 50%;
  }
  #top {
    margin-bottom: 143px;
  }
  #button-bar{
    margin-bottom: 30px;
  }
  .button-bar{
    height: 83px;
  }
  .slider__{
    &watch-block{
      height: 0;
      padding-top: 56%;
    }
    &nav-block{
      height: 265px;
      padding: 25px 50px 0 50px;
      h2 + div {
        margin-bottom: 10px;
        height: 70px;
      }
    }
  }
  #welcome-to{
    div.wrapped:before{
      top: 100px;
      left: 50%;
      transform: translateX(-50%);
    }
    h2{
      text-align: center;
    }
  }
  .table-block__tabel-cell{
    width: 100%;
    height: 144px;
    h2{
      line-height: 38px;
      font-size: 32px;
      margin-bottom: 10px;
      b{
        font-size: 42px;
      }
    }
  }
  .how-we-work__left-block{
    padding: 15px;
  }
  .how-we-work__right-block{
    padding-left: 0;
    button.button-wave{
      margin: 0 auto;
      left: 0;
    }
    ol{
      padding-left: 70px;
      li{
        padding-right: 0;
        padding-left: 25px;
        margin-bottom: 20px;
        &:hover {
          width: 110%;
          span{
            font-size: 20px;
            line-height: 27px;
          }
        }
        span{
          font-size: 20px;
          line-height: 27px;
        }
      }
    }
  }
  #how-we-work{
    padding-bottom: 300px;
    &:before{
      height: 292px;
      width: 441px;
    }
  }
  .why-us__left-block{
    padding: 0;
  }
  .why-us__right-block {
    ul{
      li{
        span{
          font-size: 20px;
          line-height: 27px;
        }
        &:hover:before{
          display: none;
        }
        height: auto;
        padding: 20px 15px 20px 0;
      }
    }
  }
  .trust__frame-watch{
    width: 96%;
    height: 380px;
    margin-bottom: 40px;
    .trust__frame{
      padding: 0px 15px;
      p{
        margin-bottom: 20px;
      }
    }
    .trust__rating{
      margin-bottom: 15px;
      width: 25%;
    }
  }
  .trust__call-back{
    flex-flow: column;
    align-items: center;
  }
  .call-back__ico{
    height: 100px;
    width: 100px;
    border-radius: 50px;
  }
  .call-back__text{
    h2{
      font-size: 24px;
      line-height: 33px;
      text-align: center;
    }
    span{
      font-size: 18px;
      line-height: 24px;
      text-align: center;
      padding: 0 40px;
      display: block;
      a{
        margin: 0 auto;
        nobr{
          i{
            font-size: 24px;
          }
          b{
            font-size: 24px;
          }
        }
      }
    }
  }
  #trust{
    margin-bottom: 90px;
  }
  #trust__call-back{
    margin-bottom: 90px;
  }
  #gallery {
    margin-bottom: 90px;
    h1{
      margin: 10px auto;
      font-size: 36px;
      line-height: 49px;
    }
    a{
      margin-left: 10px;
    }
  }
  .gallery__foto-card{
    width: calc(50% - 10px);
    margin-bottom: 20px;
  }
  #seo-about{
    padding-bottom: 260px;
    &:before{
      width: 260px;
      height: 210px;
      left: 50%;
      transform: translateX(-50%);
    }
    h2{
      font-size: 24px;
      line-height: 31px;
    }
  }
  .footer__block-{
    &left{
      margin-left: 0;
      h2{
        text-align: center;
        width: 100%;
      }
      .button{
        margin: 20px auto;
      }
    }
    &right{
      h3{
        font-size: 30px;
        line-height: 35px;
        text-align: center;
      }
      ul{
        margin: 20px 25%;
        width: auto;
        a{
          text-align: left;
        }
      }
      a{
        text-align: center;
      }
    }
  }
  .button-wave{
    max-width: 90%;
    padding: 0 15px;
    left: 0;
    span{
      font-size: 16px;
      line-height: 18px;
    }
  }
  .work__header-ico{
    margin-left: 20px;
  }
  label.header__nav-menu__point{
    display: none !important;
  }
}