@import "var";
@import "mixin";
@import "btn";
body{
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}
a,a:hover{
  text-decoration: none;
  cursor: pointer;
}
.link-to-content{
  margin: 50px auto;
  display: flex;
  justify-content: center;
  a{
    display: block;
    margin: 25px 50px;
  }
}
