@import "var";
@import "mixin";
@import "btn";
@import "test-js";
body{
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}
a,a:hover{
  text-decoration: none;
  cursor: pointer;

}
#header{
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  box-shadow: 0 0 30px 0 rgba(19,77,139,0.25);
  background-color: white;
}
.header{
  padding: 15px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 95px;
  input{
    display: none;
  }
}
.header__logo{
  width:195px;
  img{
    width: 100%;
  }
}
.header__nav-menu{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  a:first-child{
    display: flex;
    margin:0 7px;
  }
  i{
    cursor: pointer;
    color: $green;
    font-size: 20px;
  }
}
#collaps-drop-menu{
  display: none;
  &:checked ~ .header__drop-menu{
    display: block;
  }
  &:checked ~ .header__nav-menu label{
    border-color: $green;
  }
}
.header__drop-menu{
  display: none;
  position: absolute;
  width: 100%;
  background: white;
  top: 95px;
  left: 50%;
  transform: translateX(-50%);
  box-shadow: 0 0 30px 0 rgba(19,77,139,0.25);
  padding: 0;
  &__content{
    position: relative;
    padding: 30px;
    background-color: white;
    display: flex;
    max-width: 100%;
    justify-content: space-between;
    flex-wrap: wrap;
    z-index: 1;
  }
  &:before{
    content: "";
    position: absolute;
    height: 30px;
    width: 30px;
    transform: rotate(45deg);
    left: 34%;
    top: -13px;
    background-color: white;
    z-index: 1;
    box-shadow: 0 0 30px 0 rgba(19,77,139,0.25);
  }
  .content-group{
    max-width: 25%;
    min-width: 15%;
    padding-left: 65px;
    margin: 0 85px 40px 0;
    position: relative;
    &__ico{
      position: absolute;
      top: 0;
      left: 0;
      height: 50px;
      width: 50px;
      img{
        position: absolute;
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        &:first-child{
          display: block;
        }
        &:last-child{
          display: none;
        }
      }
    }
    a:hover ~ .content-group__ico{
        img{
          &:first-child{
            display: none;
          }
          &:last-child{
            display: block;
          }
        }
      }
    h2{
      padding-top: 15px;
      @include text(16px,22px,$text-color);
      font-weight: 600;
      margin-bottom: 15px;
      &:hover{
        color: $green;
      }
    }
    ul{
      list-style-type: none;
      padding-left: 0;
      li{
        padding-left: 17px;
        margin-bottom: 4px;
        a{
          position: relative;
          @include text(18px,18px,$text-color);
          &:before{
            content: "\f105";
            position: absolute;
            font-family: FontAwesome;
            font-size: 20px;
            color: $green;
            top: 3px;
            left: -17px;
          }
          &:hover{
            color: $green;
            text-decoration: underline;
          }
        }
      }
    }
  }
}
.header__nav-menu__point{
  display: inline-flex;
  height: 30px;
  padding:0 15px;
  border: 1px solid transparent;
  border-radius: 15px;
  cursor: pointer;
  margin: 0 5px;
  align-items: center;
  span{
    @include text(16px,22px,$text-color);
    text-decoration: none;
    white-space: nowrap;
  }
  &:hover{
    border-color: $green;
  }
}
.header__number{
  display: inline-flex;
  a{
    display: flex;
    align-items: center;
  }
  i{
    margin-right: 10px;
    color: $green;
    font-size: 20px;
  }
  span{
    @include text(18px,24px,$text-color);
    b{
      font-size: 24px;
    }
  }
}
.button-toggler{
  display: none;
  cursor: pointer;
  height: 30px;	width: 70px;
  border: 1px solid $green;
  border-radius: 15px;
  i{
    display: block;
    margin: 0 auto;
    font-size: 20px;
    color: $green;
    text-align: center;
    line-height: 147%;
  }
}
#button-bar{
  background-color: #EAEAEA;
  margin-bottom: 90px;
}
#top{
  display: block;
  margin-bottom: 94px;
  height: 1px;
  width: 100%;
}
.button-bar{
  height: 183px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: relative;
}
.button-bar__btn{
  position: absolute;
  top: 50%;
  transform: translate(-50%,-50%);
  cursor: pointer;
  display: flex;
  align-items: center;
  height: 93px;
  width: 292px;
  border: 1px solid $green;
  border-radius: 47px;
  &:nth-child(1){
    left: -40%;
  }
  &:nth-child(2){
    left: calc(0% + 210px);
  }
  &:nth-child(3){
    left: 50%;
  }
  &:nth-child(4){
    left: calc(100% - 210px);
  }
  &:nth-child(5){
    left: 140%;
  }
  &:hover{
    background-color: $text-color;
    border-color: $text-color;
    span{
      color: #FFFFFF;
    }
    .button-bar__btn-ico{
      img:first-child{
        display: none;
      }
      img:last-child{
        display: block;
      }
    }
  }
  span{
    @include text(20px,23px,$text-color);
    font-weight: bold;
  }
}
.button-bar__btn-ico{
  position: relative;
  margin:0 23px;
  height: 65px;
  width: 65px;
  img{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
  }
  img:last-child{
    display: none;
  }
}
.button-bar__nav-element{
  height: 1px;
  width: 100%;
  position: absolute;
  top: 50%;
  left: 0;
  a{
    height: 20px;
    top: 0;
    position: absolute;
    transform: translateY(-50%);
    i{
      color: $green;
      font-size: 20px;
    }
    &:first-child{
      left: 0;
    }
    &:last-child{
      right: 0;
    }
  }
}
#slider{
  height: 450px;
  padding: 15px 0;
  align-items: center;
  position: relative;
  margin-bottom: 90px;
}
.slider__nav-block{
  height: 360px;
  background-color: #EAEAEA;
  padding: 45px;
  h2{
    @include text(30px,35px,$text-color);
    margin-bottom: 15px;
    font-weight: 800;
  }
  p{
    @include text(18px,21px,$p-text-color);
    margin-bottom: 8px;
  }
  h2 + div{
    max-height: 200px;
    overflow: hidden;
    margin-bottom: 30px;
  }
  .slider__nav-block__content{
    display: none;
  }
}
.slider__watch-block{
  height: 100%;
  background-color: black;
  padding: 0;
  position: relative;
  overflow: hidden;
  box-shadow: 0 0 30px 0 rgba(15,18,43,0.5);
  img{
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    transform:translate(-50%,-50%) scale(1);
  }
}
.slider__control{
  position: absolute;
  bottom: 15px;
  left: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 16px;
  .round{
    margin: 0 auto;
    height: 16px;
  }
  i{
    color: $green;
    font-size: 18px;
    position: absolute;
    bottom: 0;
  }
  label{
    cursor: pointer;
    height: 16px;
    width: 16px;
    border: solid 3px white;
    border-radius: 8px;
    background-color: #EAEAEA;
    margin: 0 10px;
    &:hover{
      border-color: $green;
    }
  }
}
@keyframes slider-anim {
  from{
    transform:translate(-50%,-50%) scale(1.2);
    opacity: 0.3;
  }
  to{
    transform:translate(-50%,-50%) scale(1);
    opacity: 1;
  }
}
#ratio-1-{
  &1:checked ~ .slider__control .round label:nth-of-type(1),
  &2:checked ~ .slider__control .round label:nth-of-type(2),
  &3:checked ~ .slider__control .round label:nth-of-type(3),
  &4:checked ~ .slider__control .round label:nth-of-type(4),
  &5:checked ~ .slider__control .round label:nth-of-type(5){
    border-color: $green;
  }
  &1:checked ~ .slider__watch-block img:nth-of-type(1),
  &2:checked ~ .slider__watch-block img:nth-of-type(2),
  &3:checked ~ .slider__watch-block img:nth-of-type(3),
  &4:checked ~ .slider__watch-block img:nth-of-type(4),
  &5:checked ~ .slider__watch-block img:nth-of-type(5){
    display: block;
    animation-duration: 1s;
    animation-name: slider-anim;
  }
  &1:checked ~ .slider__nav-block div.slider__nav-block__content:nth-of-type(1),
  &2:checked ~ .slider__nav-block div.slider__nav-block__content:nth-of-type(2),
  &3:checked ~ .slider__nav-block div.slider__nav-block__content:nth-of-type(3),
  &4:checked ~ .slider__nav-block div.slider__nav-block__content:nth-of-type(4),
  &5:checked ~ .slider__nav-block div.slider__nav-block__content:nth-of-type(5){
    display: block;
  }
}
.ratio-tab{
  display: none;
}
.arrow-btn{
  position: absolute;
  height: 0;
  width: 100%;
  bottom: -2px;
  left: 0;
  i{
    position: absolute;
    bottom: 0;
    cursor: pointer;
    &:first-child{
      left: 65px;
    }
    &:last-child{
      right: 65px;
    }
  }
}
.wrapped{
  margin: 0 auto;
  width: 100%;
  position: relative;
  padding: 0 0;
}
.wrapped.flex-col-centre{
  display: flex;
  flex-direction: column;
  align-items: center;
}
#welcome-to{
  margin-bottom: 105px;
  div.wrapped:before{
    content: "";
    position: absolute;
    z-index: -1;
    height: 204px;
    width: 204px;
    background: url("../img/logo_gost.svg")no-repeat;
    background-size: contain;
    top: 50%;
    left: -128px;
    transform: translateY(-50%);
  }
  h2{
    @include text(36px,49px,$text-color);
    margin-bottom: 25px;
  }
  p{
    @include text(14px,19px,$p-text-color);
  }
}
.table-block{
  position: relative;
  background-color: #44602c;
  display: flex;
  justify-content: space-between;
  margin-bottom: 150px;
  &:before{
    content: "";
    position: absolute;
    height: 2px;
    width: 100%;
    background-color: white;
    left: 0;
    bottom: 0;
  }
}
.table-block__tabel-cell{
  cursor: pointer;
  background-color: $text-color;
  position: relative;
  padding: 0 112px;
  height: 251px;
  width: calc((100% - 4px) / 3);
  margin-bottom: 2px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  &:hover{
    h2{
      color: white;
    }
    &:before{
      z-index: 1;
      content: "";
      position: absolute;
      background: url("../img/Hover_numbers.jpg")no-repeat;
      background-size: cover;
      height: calc(100% + 18px);
      width: calc(100% + 22px);
      top: -9px;
      left: -11px;
    }
  }
  h2{
    @include text(36px,42px,$green);
    margin-bottom: 20px;
    z-index: 2;
    text-align: center;
    b{
      font-size: 52px;
      font-weight: 600;
    }
  }
  span{
    z-index: 2;
    @include text(24px,26px,white);
    font-weight: 600;
    text-align: center;
  }
}
#how-we-work{
  padding-bottom: 150px;
  position: relative;
  &:before{
    content: "";
    position: absolute;
    bottom: 0;
    left: 650px;
    height: 827px;
    width: 1249px;
    opacity: 0.45;
    background: url("../img/foto.jpg")no-repeat;
    background-size: cover;
  }
}
.how-we-work__left-block{
  background: url("../img/Bitmap_profit.jpg")no-repeat -70px 0;
  background-size: 1280px 720px;
  padding:50px;
  background-color: #129f19;
  box-shadow: 0 0 30px 0 rgba(15,18,43,0.5);
  h2{
    @include text(48px,60px,white);
    margin-bottom: 110px;
    text-align: center;
    font-weight: 800;
  }
  ul{
    list-style-type: none;
    padding-left: 0;
    li{
      position: relative;
      @include text(24px,33px,white);
      margin-bottom: 90px;
      padding-left: 65px;
      &:last-child{
        margin-bottom: 0;
      }
      b{
        font-weight: 600;
      }
      &:before{
        content: "";
        position: absolute;
        height: 95px;
        width: 95px;
        top: -52px;
        left: 0;
        background: url("../img/arc.svg")no-repeat;
        background-size: contain;
      }
    }
  }
}
.how-we-work__right-block{
  padding-left: 90px;
  h2{
    @include text(60px,63px,$text-color);
    font-weight: 800;
    margin-bottom: 70px;
    max-width: 550px;
  }
  ol{
    list-style-type: none;
    counter-reset: num;
    padding-left: 58px;
    li{
      cursor: pointer;
      position: relative;
      margin-bottom: 45px;
      display: flex;
      width: 110%;
      height: 100px;
      align-items: center;
      padding-left: 42px;
      padding-right: 130px;
      &:before{
        content: counter(num);
        counter-increment: num;
        position: absolute;
        height: 98px;
        width: 68px;
        left: -58px;
        top: 0;
        box-shadow: 2px 0 10px 0 rgba(19,77,139,0.3);
        padding-left: 23px;
        border-radius: 14px;
        @include text(100px,91px,$green);
        font-weight: 800;
        background: url("../img/nomber_w.svg")no-repeat;
        background-size: cover;
        overflow: hidden;
      }
      &:hover{
        padding-right: 50px;
        width: 105%;
        background: linear-gradient(270deg, rgba(79,206,162,0) 0%, #CFF2E6 100%);
        span{
          @include text(30px,35px,$green);
        }
        &:before{
          color: white;
          background: url("../img/nomber_g.svg")no-repeat;
          background-size: cover;
        }
      }
      span{
        @include text(24px,33px,$text-color);
        font-weight: 600;
        i{
          color: $p-text-color;
        }
      }
    }
  }
}
#why-us{
  background-color: #EAEAEA;
  margin-bottom: 140px;
  padding: 90px 0;
  position: relative;
  z-index: 1;
}
.why-us__left-block{
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  &:before{
    content: "";
    position: absolute;
    background: url("../img/logo_gost.svg")no-repeat;
    background-size: contain;
    height: 500px;
    width: 423px;
    left: -210px;
    top: 50%;
    transform: translateY(-50%);
    z-index: -1;
  }
  h1{
    @include text(60px,82px,$green);
    font-weight: 800;
    margin-bottom: 55px;
    width: 100%;
  }
}
.why-us__right-block{
  ul{
    padding: 0;
    list-style-type: none;
    li{
      cursor: pointer;
      box-shadow: 0 0 30px 0 rgba(19,77,139,0.25);
      background-color: white;
      height: 98px;
      margin-bottom: 20px;
      position: relative;
      z-index: auto;
      display: flex;
      align-items: center;
      padding-right: 30px;
      div{
        position: relative;
        height: 65px;
        min-width: 65px;
        margin:0 15px;
        overflow: hidden;
        img{
          position: absolute;
          height: 100%;
          top: 50%;
          left: 50%;
          transform: translate(-50%,-50%);
          &:first-child{
            display: block;
          }
          &:last-child{
            display: none;
          }
        }
      }
      span{
        @include text(24px,33px,$text-color);
        b{
          font-weight: 600;
        }
      }
      &:hover{
        background: url("../img/green_foto.jpg")no-repeat 100% -60px;
        background-size: 703px auto;
        background-color: green;
        box-shadow: none;
        &:before{
          content: "";
          position: absolute;
          z-index: -1;
          left: -35px;
          top:14%;
          height: 70px;
          width: 69px;
          transform: rotate(45deg);
          background-color: #0f8316;
        }
        div{
          img{
            &:first-child{
              display: none;
            }
            &:last-child{
              display: block;
            }
          }
        }
        span{
          color: white;
        }
      }
    }
  }
}
#trust{
  margin-bottom: 125px;
  input{
    display: none;
  }
  & div.flex-col-centre > h2{
    @include text(36px,49px,$text-color);
    font-weight: 800;
    margin-bottom: 110px;
  }
}
#trust__call-back{
  margin-bottom: 125px;
  input{
    display: none;
  }
  & div.flex-col-centre > h2{
    @include text(36px,49px,$text-color);
    font-weight: 800;
    margin-bottom: 110px;
  }
}
.trust__frame-watch{
  position: relative;
  width: 500px;
  height: 335px;
  box-shadow: 0 0 30px 0 rgba(19,77,139,0.25);
  background-color: white;
  margin-bottom: 75px;
}
.trust__frame{
  padding: 0 55px;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: all linear 0.2s;
  span{
    @include text(15px,20px,$green);
    text-align: center;
    font-weight: 800;
  }
  p{
    @include text(14px,19px,$p-text-color);
    margin-top: 95px;
    margin-bottom: 25px;
    text-align: center;
    width: 100%;
  }
}
.trust__rating{
  display: flex;
  justify-content: center;
  height: 20px;
  width: 100px;
  margin-bottom: 15px;
  div.stars{
    height: 100%;
    width: 20%;
    position: relative;
    i{
      position: absolute;
      color: $green;
      font-size: 20px;
    }
    i:first-child{
      display: none;
    }
    i:last-child{
      display: block;
    }
  }
}
.trust__ico{
  position: absolute;
  top: -50px;
  left: 50%;
  transform: translateX(-50%);
  height: 128px;
  width: 128px;
  border-radius: 64px;
  background-color: $text-color;
  overflow: hidden;
  img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    height: 70%;
  }
}
.trust-frame__control{
  width: 360px;
  position: relative;
  margin-bottom: 75px;
  div.round{
    display: flex;
    justify-content: center;
    label{
      cursor: pointer;
      height: 16px;
      width: 16px;
      border: solid 3px white;
      border-radius: 8px;
      background-color: #EAEAEA;
      margin: 0 10px;
      &:hover{
        border-color: $green;
      }
    }
  }
  div.arrow-btn{
    position: absolute;
    width: 100%;
    bottom: 0;
    i{
      position: absolute;
      cursor: pointer;
      color: $green;
      font-size: 16px;
      bottom: 0;
    }
  }
}
#ratio-2-{
  &1:checked ~ .trust-frame__control .round label:nth-of-type(1),
  &2:checked ~ .trust-frame__control .round label:nth-of-type(2),
  &3:checked ~ .trust-frame__control .round label:nth-of-type(3),
  &4:checked ~ .trust-frame__control .round label:nth-of-type(4),
  &5:checked ~ .trust-frame__control .round label:nth-of-type(5){
    border-color: $green;
  }
  &1:checked ~ .trust__frame-watch .trust__frame{
    &:nth-child(1){
      left: 0px;
      opacity: 1;
    }
    &:nth-child(2){
      left: 550px;
      opacity: 0.9;
    }
    &:nth-child(3){
      left: 1100px;
      opacity: 0;
    }
    &:nth-child(4){
      left: -1100px;
      opacity: 0;
    }
    &:nth-child(5){
      left:-550px;
      opacity: 0.9;
    }
  }
  &2:checked ~ .trust__frame-watch .trust__frame{
    &:nth-child(1){
      left: -550px;
      opacity: 0.9;
    }
    &:nth-child(2){
      left: 0px;
      opacity: 1;
    }
    &:nth-child(3){
      left: 550px;
      opacity: 0.9;
    }
    &:nth-child(4){
      left: 1100px;
      opacity: 0;
    }
    &:nth-child(5){
      left:-1100px;
      opacity: 0;
    }
  }
  &3:checked ~ .trust__frame-watch .trust__frame{
    &:nth-child(1){
      left: -1100px;
      opacity: 0;
    }
    &:nth-child(2){
      left: -550px;
      opacity: 0.9;
    }
    &:nth-child(3){
      left: 0px;
      opacity: 1;
    }
    &:nth-child(4){
      left: 550px;
      opacity: 0.9;
    }
    &:nth-child(5){
      left: 1100px;
      opacity: 0;
    }
  }
  &4:checked ~ .trust__frame-watch .trust__frame{
    &:nth-child(1){
      left: 1100px;
      opacity: 0;
    }
    &:nth-child(2){
      left: -1100px;
      opacity: 0;
    }
    &:nth-child(3){
      left: -550px;
      opacity: 0.9;
    }
    &:nth-child(4){
      left: 0px;
      opacity: 1;
    }
    &:nth-child(5){
      left: 550px;
      opacity: 0.9;
    }
  }
  &5:checked ~ .trust__frame-watch .trust__frame{
    &:nth-child(1){
      left: 550px;
      opacity: 0.9;
    }
    &:nth-child(2){
      left: 1100px;
      opacity: 0;
    }
    &:nth-child(3){
      left: -1100px;
      opacity: 0;
    }
    &:nth-child(4){
      left: -550px;
      opacity: 0.9;
    }
    &:nth-child(5){
      left: 0px;
      opacity: 1;
    }
  }
}
i[data-rating="5"] ~ div.stars:nth-child(-n+6) {
   i:first-child{
     display: block;
   }
   i:last-child{
     display: none;
   }
 }
i[data-rating="4"] ~ div.stars:nth-child(-n+5) {
  i:first-child{
    display: block;
  }
  i:last-child{
    display: none;
  }
}
i[data-rating="3"] ~ div.stars:nth-child(-n+4) {
  i:first-child{
    display: block;
  }
  i:last-child{
    display: none;
  }
}
i[data-rating="2"] ~ div.stars:nth-child(-n+3) {
  i:first-child{
    display: block;
  }
  i:last-child{
    display: none;
  }
}
i[data-rating="1"] ~ div.stars:nth-child(2) {
  i:first-child{
    display: block;
  }
  i:last-child{
    display: none;
  }
}
.trust__call-back{
  display: flex;
  justify-content: center;
}
.call-back__ico{
  position: relative;
  width: 84px;
  height: 84px;
  margin-right: 20px;
  box-shadow: 0 0 30px 0 rgba(19,77,139,0.25);
  border-radius: 40px;
  overflow: hidden;
  img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 80%;
  }
}
.call-back__text{
  h2{
    @include text(36px,36px,$green);
    margin-bottom: 10px;
    font-weight: 800;
  }
  span{
    @include text(24px,33px,$text-color);
    font-weight: 600;
    a{
      color: $text-color;
      nobr{
        b{
          font-size: 36px;
          font-weight: 800;
        }
        i{
          color: $green;
          font-size: 36px;
        }
      }
    }
  }
}
#gallery{
  margin-bottom: 150px;
  h1{
    @include text(60px,82px,$text-color);
    font-weight: 800;
    margin-bottom: 50px;
  }
  a{
    span{
      @include text(18px,24px,$green);
      text-decoration: underline;
    }
    i{
      font-size: 20px;
      color: $green;
    }
  }
}
.gallery__foto-{
  &area{
    display: flex;
    justify-content: space-between;
  }
  &card{
    cursor: pointer;
    width: calc((100% - 140px) / 5);
    margin-bottom: 35px;
    transition: all linear 0.3s;
    &:hover{
      transform: scale(1.15);
      box-shadow: 0 0 30px 0 rgba(19,77,139,0.25);
    }
  }
}
.foto-card{
  border: 0;
  padding-top: 100%;
  overflow: hidden;
  position: relative;
  img{
    height: 100%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
  }
}
#seo-about{
  padding-bottom: 120px;
  position: relative;
  &:before{
    content: "";
    position: absolute;
    height: 563px;
    width: 571px;
    left: 750px;
    bottom: 0;
    background: url("../img/man.png")no-repeat;
    background-size: 100% auto;
  }
  h2{
    @include text(36px,49px,$text-color);
    margin-bottom: 20px;
  }
  p{
    @include text(14px,19px,$p-text-color);
    margin-bottom: 10px;
    & + p{
      margin-bottom: 40px;
    }
  }
}
#footer{
  padding-top: 60px;
  padding-bottom: 70px;
  background: url("../img/Bitmap.jpg")no-repeat;
  background-size: cover;
  box-shadow: 0 0 0 500px rgba(21,19,19,0.85)inset;
  -webkit-box-shadow: 0 0 0 500px rgba(21,19,19,0.85)inset;
  -moz-box-shadow: 0 0 0 500px rgba(21,19,19,0.85)inset;
}
.footer__block-{
  &left{
    div{
      width: 100%;
      position: relative;
      & > i{
        position: absolute;
        font-size: 20px;
        color: $green;
        left: 0;
        top: 0;
      }
    }
    padding-right: 100px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    h2{
      @include text(30px,35px,white);
      font-weight: 800;
      margin-bottom: 30px;
    }
    input, textarea{
      &:focus{
        outline: none;
      }
      outline: none;
      padding-left: 35px;
      margin-bottom: 20px;
      padding-bottom: 10px;
      background-color: transparent;
      border: none;
      width: 100%;
      border-bottom: solid 1px $green;
      @include text(15px,20px,white);
    }
    textarea{
      padding-bottom: 0;
      margin-bottom: 0;
    }
  }
  &right{
    h3{
      @include text(24px,33px,white);
      font-weight: 800;
      margin-bottom: 20px;
    }
    a{
      margin-bottom: 20px;
      display: block;
      color: white;
      cursor: pointer;
      &:first-of-type span{
        @include text(18px,24px,white);
        b{
          font-size: 24px;
        }
      }
      &:last-of-type span{
        @include text(20px,27px,white);
      }
      i{
        color: $green;
        font-size: 20px;
        margin-right: 10px;
      }
    }
    ul{
      list-style-type: none;
      padding-left: 20px;
      margin-bottom: 60px;
      li{
        cursor: pointer;
        @include text(18px,18px,white);
        margin-bottom: 7px;
        position: relative;
        a{
          margin-bottom: 0;
        }
        &:before{
          content: "\f105";
          position: absolute;
          font-family: FontAwesome;
          font-size: 20px;
          font-weight: 800;
          color: $green;
          top: 0;
          left: -20px;
        }
      }
    }
  }
}
.footer-btn{
  margin-top: 40px;
  box-shadow: 0 2px 4px 0 rgba(114,196,42,0.39);
}
#button-toggler:checked ~ div.header__nav-menu{
  display: flex;
}
#button-toggler:checked ~ .header__mobil-menu{
  display: flex;
}
#button-toggler:checked ~ .header__logo,
#button-toggler:checked ~ .button-toggler,
#button-toggler:checked ~ .header__number
{
  display: none;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button,
textarea{
  -webkit-appearance: none;
  resize: none;

}
input[type=number] {
  -moz-appearance:textfield;
}
.trust__call-back + button.button-wave{
  margin-top: 30px;
  z-index: 1;
}
#welcome-to.catalog-mod{
  h2{
    font-size: 30px;
    line-height: 41px;
  }
  .wrapped{
    padding-left: 60px;
  }
}
#crumbs{
  margin-top: -35px;
  margin-bottom: 60px;
  h1{
    @include text(60px,82px,$text-color);
    font-weight: 800;
  }
  span{
    margin-bottom: 20px;
    a{
      cursor: pointer;
      @include text(18px,24px,$green);
      text-decoration: underline;
      position: relative;
      margin-right: 25px;
      &:nth-last-child(1n +2):after{
        content: "\f105";
        font-family: FontAwesome;
        font-size: 20px;
        color: $green;
        position: absolute;
        bottom: -1px;
        right: -18px;
      }
    }
  }
}
#builds-work{
  margin-top: -45px;
  margin-bottom: 90px;
}
.work{
  &__table{
    margin: 0 auto;
    ul{
      list-style-type: none;
      padding: 0;
      a{
        background-color: white;
        box-shadow: 0 0 30px 0 rgba(19,77,139,0.25);
        position: relative;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        padding: 10px 35px 10px 45px;
        margin-bottom: 10px;
        &:before{
          content: "\f105";
          font-family: Fontawesome;
          color: $green;
          font-size: 20px;
          line-height: 20px;
          position: absolute;
          top: 50%;
          left: 30px;
          transform: translateY(-50%);
        }
        span{
          @include text(18px,25px,$text-color);
          margin-right: auto;
        }
        i{
          @include text(18px,25px,$text-color);
          b{
            font-weight: 800;
            color: $green;
          }
        }
        &:hover{
          background-color: $green;
          &:before{
            color: white;
          }
          span{
            color: white;
          }
          i{
            color: white;
            b{
              color: white;
            }
          }
        }
      }
    }
  }
  &__header{
    height: 80px;
    background-color: $text-color;
    display: flex;
    justify-content: center;
    align-items: center;
    span{
      @include text(16px,22px,white);
      font-weight: 600;
    }
    &-ico{
      height: 50px;
      width: 50px;
      position: relative;
      margin-right: 15px;
      img{
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
      }
    }
  }
}
#why-us.catalog-mod{
  margin-bottom: 0;
}
#product-info{
margin-bottom: 90px;
}
.product-info{
  ul{
    list-style-type: none;
    padding-left: 33px;
    display: inline-block;
    li{
      @include text(14px,19px,$p-text-color);
      margin-bottom: 5px;
      position: relative;
      b{
        font-weight: 600;
        color: $text-color;
      }
      &:before{
        content: "\f00c";
        position: absolute;
        font-family: FontAwesome;
        font-size: 16px;
        line-height: 16px;
        color: $green;
        top: 0;
        left: -33px;
      }
    }
  }
  ol{
    list-style-type: none;
    padding-left: 30px;
    display: inline-block;
    counter-reset: ol-num;
    li{
      @include text(14px,19px,$p-text-color);
      margin-bottom: 5px;
      position: relative;
      b{
        font-weight: 600;
        color: $text-color;
      }
      &:before{
        content: counter(ol-num);
        counter-increment: ol-num;
        position: absolute;
        top: -1px;
        left: -30px;
        @include text(20px,27px,$green);
        font-weight: 800;
      }
    }
  }
  div.product-info__table{
    padding: 0 1px;
    overflow-x: auto;
    margin-bottom: 25px;
    table{
      min-width: 650px;
      .color-table{
        th:nth-child(1){
          color: $green;
          background-color: transparent;
          opacity: 1;
        }
        th:nth-child(2){
          color: white;
          background-color: $text-color;
          opacity: 0.7;
        }
        th:nth-child(3){
          color: white;
          background-color: $text-color;
          opacity: 0.85;
        }
        th:nth-child(4){
          color: white;
          background-color: $text-color;
          opacity: 1;
        }
      }
      tr{
        text-align: center;
        th{
          @include text(14px,24px,$green);
          font-weight: 600;
          min-height: 50px;
          height: 50px;
          padding-left: 5px;
          padding-right: 5px;
        }
        td{
          padding-left: 5px;
          padding-right: 5px;
          text-align: center;
          @include text(14px,19px,$text-color);
          border: solid #D8D8D8 1px;
          min-height: 50px;
          height: 50px;
          b{
            color: $green;
          }
        }
      }
    }
  }
  hr{
    color: $p-text-color;
  }
  br{
    margin-bottom: 25px;
  }
  h1,h2,h3,h4,h5,h6{
    margin-bottom: 15px;
  }
  h1{@include text(30px,41px,$text-color);}
  h2{@include text(24px,33px,$text-color);}
  h3{@include text(21px,29px,$text-color);}
  h4{@include text(18px,26px,$text-color);}
  h5{@include text(16px,21px,$text-color);}
  h6{@include text(14px,18px,$text-color);}
  p{
    @include text(14px,19px,$p-text-color);
    margin-bottom: 10px;
    b{
      font-weight: 600;
      color: $text-color;
    }
    i{ }
    em{
      color: red;
      font-weight: 600;
    }
  }
  span{
    @include text(14px,19px,$text-color);
    margin-bottom: 10px;
    b{
      font-weight: 600;
      color: $text-color;
    }
    i{}
    em{
      color: $green;
    }
  }
  a{
    @include text(14px,19px,$green);
    text-decoration: underline !important;
    cursor: pointer;
    margin-bottom: 10px;
  }
  &__images{
    height: 250px;
    width: 250px;
    overflow: hidden;
    box-shadow: 2px 0 10px 0 rgba(19,77,139,0.25);
    position: relative;
    img{
      height: 100%;
      //width: 100%;
      position: absolute;
      top: 50%;
      left: 50%;
      transform:translate(-50%,-50%);
    }
    &.fl-left{
      float: left;
      margin: 15px 15px 15px 0;
    }
    &.fl-right{
      float: right;
      margin: 15px 0 15px 15px;
    }
  }
  &__special {
    position: relative;
    font-family: Fontawesome;
    font-size: 20px;
    color: $green;
    line-height: 20px;
    width: 100%;
    height: 100%;
    display: block;
    margin-bottom: 0 !important;
    &.check:before{
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);
      height: 20px;
      width: 20px;
      content:"\f00c";
      font-family: Fontawesome;
      font-size: 20px;
      color: $green;
      line-height: 20px;
    }
  }
}
#foto-gallery{
  .filter-foto{
    display: none;
  }
}
.foto-gallery{
  input{
    display: none;
  }
  &__filter{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 60px;
    padding:13px 0;
    border-top: solid 1px #EAEAEA;
    border-bottom: solid 1px #EAEAEA;
    &:before{
      content: "";
      width: 100%;
      position: absolute;
      top: 0;
      left: 0;
      height: 56px;
      //background-color: green;
      border: none;
      border-bottom: solid 1px #EAEAEA;
      box-shadow: 0 0 30px 0 rgba(19,77,139,0.25);
      z-index: -1;
    }
    &:after{
      content: "";
      width: 140%;
      position: absolute;
      top: 0;
      left: -50px;
      height: 56px;
      border: none;
      background: white;
      z-index: -1;
    }
    label{
      cursor: pointer;
      text-align: center;
      height: 30px;
      padding: 0 15px;
      border-radius: 15px;
      background-color: transparent;
      @include text(16px,30px,$text-color);
      margin: 0 5px;
      border: solid 1px transparent;
      &:hover {
        border: solid 1px $green;
      }
    }
  }
  &__cards{
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin-bottom: 60px;
    width: calc(100% + 30px);
  }
  &__foto{
    width: calc((100% - 120px) / 4);
    margin-bottom: 30px;
    margin-right: 30px;
  }
  &__wrapp{
    cursor: pointer;
    height: 0;
    padding-top: 100%;
    position: relative;
    overflow: hidden;
    &:hover{
      box-shadow: 0 0 30px 0 rgba(19,77,139,0.25);
      transform: scale(1.15);
    }
    img{
      position: absolute;
      height: 100%;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);
    }
  }
}
#filter{
  &-all:checked ~ .foto-gallery__filter label:nth-child(3),
  &-1:checked ~ .foto-gallery__filter label:nth-child(4),
  &-2:checked ~ .foto-gallery__filter label:nth-child(5),
  &-3:checked ~ .foto-gallery__filter label:nth-child(6),
  &-4:checked ~ .foto-gallery__filter label:nth-child(7),
  &-5:checked ~ .foto-gallery__filter label:nth-child(8){
    background-color: #EAEAEA;
  }
}
#filter{
  &-all:checked ~ .foto-gallery__cards .filter-foto,
  &-1:checked ~ .foto-gallery__cards .filter-foto.ff-1,
  &-2:checked ~ .foto-gallery__cards .filter-foto.ff-2,
  &-3:checked ~ .foto-gallery__cards .filter-foto.ff-3,
  &-4:checked ~ .foto-gallery__cards .filter-foto.ff-4,
  &-5:checked ~ .foto-gallery__cards .filter-foto.ff-5 {
    display: block;
  }
}
#collaps-filter{
  display: none;
}
.collaps-filter{
  position: absolute;
  display: none;
  height: 25px;
  width: 25px;
  top: 14px;
  right: calc(50% - 90px);
  transform: translateX(-50%);
  border: none;
  &:hover{
    border: none !important;
  }
  i{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    color: $green;
    font-size: 20px;
  }
}
.header__mobil-menu{
  order: 3;
  flex-wrap: wrap;
  justify-content: space-between;
  display: none;
  width: 100%;
  padding: 15px;
  background-color: $green;
  position: relative;
  &:after{
    content: "";
    position: absolute;
    left: 0;
    top: -5px;
    height: 100%;
    width: 100%;
    background-color:#14A31A;
    transform: scale(1.2);
    z-index: -1;
  }
  label{
    cursor: pointer;
    @include text(16px,22px,white);
    i{
      font-size: 20px;
      margin-right: 8px;
    }
  }
  ul{
    border-top: solid 1px rgba(255,255,255,0.4);
    margin-top: 13px;
    width: 100%;
    min-width: 100%;
    list-style-type: none;
    padding: 20px 20px 0 20px;
    margin-bottom: 0;
    li{
      padding-left: 17px;
      &:last-child{
        border-bottom: solid 1px rgba(255,255,255,0.4);
        padding-bottom: 28px;
      }
      a{
        position: relative;
        @include text(18px,18px,white);
        &:before{
          content: "\f105";
          font-size: 20px;
          font-family: FontAwesome;
          position: absolute;
          top: 3px;
          left: -17px;
          color: white;
        }
      }
    }
  }
}
.test-js-centred{
  margin: 75px;
  p{
    cursor: pointer;
    width: 210px;
    margin: 0 auto;
    display: block;
    @include text(22px,24px,$green);
    padding: 10px;
    border-radius: 15px;
    border: solid 1px green;
    background-color: $text-color;
  }
}
#faq{
  margin-top: -40px;
  margin-bottom: 100px;
  input{
    display: none;
  }
  #faq-page-1:checked ~ .faq__pages label:nth-child(1),
  #faq-page-2:checked ~ .faq__pages label:nth-child(2),
  #faq-page-3:checked ~ .faq__pages label:nth-child(3),
  #faq-page-4:checked ~ .faq__pages label:nth-child(4),
  #faq-page-5:checked ~ .faq__pages label:nth-child(5){
    border-color: $green;
  }
  #faq-page-1:checked ~ .faq__content__wrapped .faq__content:nth-child(-n+20),
  #faq-page-2:checked ~ .faq__content__wrapped .faq__content:nth-child(-n+40),
  #faq-page-3:checked ~ .faq__content__wrapped .faq__content:nth-child(-n+60),
  #faq-page-4:checked ~ .faq__content__wrapped .faq__content:nth-child(-n+80),
  #faq-page-5:checked ~ .faq__content__wrapped .faq__content:nth-child(-n+100){
    display: inline-block;
  }
  #faq-page-1:checked ~ .faq__content__wrapped div.faq__content:nth-of-type(n+21),
  #faq-page-2:checked ~ .faq__content__wrapped div.faq__content:nth-of-type(-n+20),
  #faq-page-3:checked ~ .faq__content__wrapped div.faq__content:nth-of-type(-n+40),
  #faq-page-4:checked ~ .faq__content__wrapped div.faq__content:nth-of-type(-n+60),
  #faq-page-5:checked ~ .faq__content__wrapped div.faq__content:nth-of-type(-n+80){
    display: none!important;
  }
}
.faq{
  &__pages{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 45px;
    border-top: solid 1px #EAEAEA;
    border-bottom: solid 1px #EAEAEA;
    margin-bottom: 45px;
    margin-top: 45px;
    label{
      text-align: center;
      margin: 0 1px;
      padding-top: 2px;
      cursor: pointer;
      height: 25px;
      width: 45px;
      border: solid 1px transparent;
      border-radius: 13px;
      @include text(13px,18px,$text-color);
      font-weight: 600;
      &:hover{
        border-color: $green;
      }
    }
  }
  &__content{
    display: none;
    width: calc(50% - 15px);
    margin-bottom: 25px;
    &__wrapped{
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      padding: 0;
    }
    padding: 0;
    &-more{
      cursor: pointer;
      height: 30px;
      display: block;
      margin-bottom: 20px;
      &:hover{
        i{
          color: white;
          background-color: $green;
        }
        span{
          color: $green;
        }
      }
      i{
        text-align: center;
        padding-top: 5px;
        font-size: 20px;
        height: 30px;
        width: 30px;
        border-radius: 15px;
        background-color: transparent;
        border: solid 1px $green;
        color: $green;
        margin-right: 18px;
      }
      span{
        @include text(30px,35px,$text-color);
        font-weight: 600;
      }
    }
    &__area{
      p{
        @include text(14px,19px,$p-text-color);
        margin-bottom: 15px;
      }
      span{
        @include text(14px,19px,$text-color);
        margin-bottom: 15px;
      }
    }
    &-link{
      white-space: nowrap;
      border-bottom: 1px solid transparent;
      position: relative;
      left: 15px;
      &:hover{
        color: $green;
        border-bottom: 1px solid $green;
      }
      &:before{
        content: "...";
        position: absolute;
        left: -15px;
        bottom: -1px;
        color: $text-color;
      }
      @include text(14px,19px,$green);
      font-weight: 600;
      i{
        position: relative;
        top: 3px;
        left: 5px;
        color: $green;
        font-size: 20px;
        font-weight: 600;
      }
    }
  }
}
#answers{
  margin-top: -40px;
  margin-bottom: 100px;
  input{
    display: none;
  }
  #answer-page-1:checked ~ .answers__pages label:nth-child(1),
  #answer-page-2:checked ~ .answers__pages label:nth-child(2),
  #answer-page-3:checked ~ .answers__pages label:nth-child(3),
  #answer-page-4:checked ~ .answers__pages label:nth-child(4),
  #answer-page-5:checked ~ .answers__pages label:nth-child(5){
    border-color: $green;
  }
  #answer-page-1:checked ~ .answers__content__wrapped .answers__content:nth-child(-n+20),
  #answer-page-2:checked ~ .answers__content__wrapped .answers__content:nth-child(-n+40),
  #answer-page-3:checked ~ .answers__content__wrapped .answers__content:nth-child(-n+60),
  #answer-page-4:checked ~ .answers__content__wrapped .answers__content:nth-child(-n+80),
  #answer-page-5:checked ~ .answers__content__wrapped .answers__content:nth-child(-n+100){
    display: inline-block;
  }
  #answer-page-1:checked ~ .answers__content__wrapped div.answers__content:nth-of-type(n+21),
  #answer-page-2:checked ~ .answers__content__wrapped div.answers__content:nth-of-type(-n+20),
  #answer-page-3:checked ~ .answers__content__wrapped div.answers__content:nth-of-type(-n+40),
  #answer-page-4:checked ~ .answers__content__wrapped div.answers__content:nth-of-type(-n+60),
  #answer-page-5:checked ~ .answers__content__wrapped div.answers__content:nth-of-type(-n+80){
    display: none!important;
  }
}
.answers{
  &__pages{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 45px;
    border-top: solid 1px #EAEAEA;
    border-bottom: solid 1px #EAEAEA;
    margin-bottom: 45px;
    margin-top: 45px;
    label{
      text-align: center;
      margin: 0 1px;
      padding-top: 2px;
      cursor: pointer;
      height: 25px;
      width: 45px;
      border: solid 1px transparent;
      border-radius: 13px;
      @include text(13px,18px,$text-color);
      font-weight: 600;
      &:hover{
        border-color: $green;
      }
    }
  }
  &__content{
    position: relative;
    display: none;
    width: calc(50% - 15px);
    margin-bottom: 60px;
    padding: 75px 65px 40px 65px;
    background-color: white;
    cursor: pointer;
    &:hover{
      box-shadow: 0 0 30px 0 rgba(19,77,139,0.25);
    }
    &__ico{
      height: 100px;
      width: 100px;
      border-radius: 50px;
      overflow: hidden;
      position: absolute;
      top: -40px;
      left: 50%;
      transform: translateX(-50%);
      background-color: #252525;
      img{
        @include absolut-center;
        height: 80%;
        width: 80%;
      }
    }
    p{
      @include text(14px,19px,$p-text-color);
      margin-bottom: 15px;
    }
    span{
      @include text(15px,20px,$green);
      font-weight: 800;
      text-align: center;
      display: block;
      margin-top: 5px;
    }
    &__reply{
      position: relative;
      margin-top: 30px;
      padding-top: 30px;
      &:before{
        content: "";
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        height: 1px;
        width: 55%;
        background-color: #EAEAEA;
      }
    }
    .trust__rating{
      margin: 0 auto;
    }
    &__wrapped{
      margin-top: 40px;
      padding: 0;
      .answers__content:nth-child(odd){
        margin-right: 25px;
      }
    }
    .reply__user{
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 15px;
      &-ico{
        height: 42px;
        width: 42px;
        border-radius: 21px;
        overflow: hidden;
        position: relative;
        margin-right: 10px;
        img{
          height: 100%;
          width: 100%;
          @include absolut-center;
        }
      }
      span{
        @include text(20px,20px,$text-color);
        font-weight: 600;
      }
    }
  }
}
.model-windows{
  display: none;
  min-height: 100vh;
  min-width: 100vw;
  position: fixed;
  z-index: 101;
  top: 0;
  left: 0;
  background-color: rgba(0,0,0,0.6);
}
.model-windows__item{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  padding: 40px 65px 50px 65px;
  background-color: white;
  width: 540px;
  min-width: 540px;
  margin-bottom: 30px;
  margin-right: auto;
  margin-left: auto;
  h2{
    @include text(30px,35px,$text-color);
    font-weight: 800;
    margin-bottom: 35px;
    em{
      @include text(18px,24px,$green);
      font-weight: 600;
    }
  }
  input[name$="-type"]{
    display: none;
  }
}
#work-type-1:checked ~ .label-button label:nth-child(1),
#work-type-2:checked ~ .label-button label:nth-child(2),
#work-type-3:checked ~ .label-button label:nth-child(3),
#work-type-4:checked ~ .label-button label:nth-child(4),
#work-type-5:checked ~ .label-button label:nth-child(5),
#work-type-6:checked ~ .label-button label:nth-child(6){
  background-color: $green;
  span{
    color: white;
  }
}
.label-button{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 20px;
  label{
    display: flex;
    align-items: center;
    height: 55px;
    width: calc((100% - 20px) / 3);
    border-radius: 15px;
    border: solid 1px $green;
    cursor: pointer;
    padding: 0 5px;
    &:hover{
      background-color: $green;
      span{
        color: white;
      }
    }
    span{
      @include text(14px,19px,$text-color);
      font-weight: 600;
      text-align: center;
      display: block;
      width: 100%;
      margin: 0;
    }
  }
}
.capcha{
  margin-top: 20px;
  margin-bottom: 40px;
  height: 76px;
  width: 302px;
  background-color: gray;
}
.model-windows__input-wrapp{
  &__btn-upload{
    height: 42px;
    width: 98px;
    position: absolute;
    bottom: 14px;
    right: 0;
    background-color: rgba(114,196,42,0.39);
    padding: 8px 0 0 16px;
    cursor: pointer;
    &:hover{
      background-color: $green;
    }
    span{
      @include text(12px,13px,white);
      display: block;
    }
  }
  width: 100%;
  min-height: 53px;
  position: relative;
  & > i{
    position: absolute;
    font-size: 20px;
    color: $green;
    left: 0;
    top: 0;
  }
  .input-imitation{
    outline: none;
    padding-left: 35px;
    margin-bottom: 20px;
    padding-bottom: 10px;
    background-color: transparent;
    border-bottom: solid 1px #14A31A;
    display: block;
    width: 100%;
    @include text(15px,20px,$text-color);
  }
  input, textarea{
    &:focus{
      outline: none;
    }
    outline: none;
    padding-left: 35px;
    margin-bottom: 20px;
    padding-bottom: 10px;
    background-color: transparent;
    border: none;
    width: 100%;
    border-bottom: solid 1px $green;
    @include text(15px,20px,$text-color);
  }
  textarea{
    padding-bottom: 0;
    margin-bottom: 0;
  }
}
#social-net-1:checked ~ .label-button__social label:nth-child(1),
#social-net-2:checked ~ .label-button__social label:nth-child(2),
#social-net-3:checked ~ .label-button__social label:nth-child(3),
#social-net-4:checked ~ .label-button__social label:nth-child(4){
  background-color: $green;
  border-color: $green;
  i{
    color: white;
  }
}
input[type="file"]{
  display: none;
}
.label-button__social{
  label{
    position: relative;
    height: 32px;
    width: 32px;
    margin-right: 8px;
    border-radius: 16px;
    border: solid 1px rgba(114,196,42,0.2);
    cursor: pointer;
    &:hover{
      background-color: $green;
      border-color: $green;
      i{
        color: white;
      }
    }
    i{
      font-size: 17px;
      color: $green;
      @include absolut-center
    }
  }
}
#i-agree{
display: none;
  &:checked ~ .model-windows__item__agree label div{
    display: block;
  }
}
.model-windows__item__agree{
  display: flex;
  p {
    @include text(13px, 18px, $p-text-color);
  }
  label{
    flex-shrink: 0;
    margin-right: 15px;
    position: relative;
    cursor: pointer;
    height: 22px;
    width: 22px;
    border: 1px solid #A2A2A2;
    &:hover{
      border-color: $green;
    }
    div{
      @include absolut-center;
      display: none;
      height: 14px;
      width: 14px;
      background-color: #14A31A;
    }
  }
}
.model-windows__item__rating{
  h2{
    @include text(18px,24px,$text-color);
    font-weight: 600;
    display: inline-block;
    margin-right: 15px;
  }
}
.rating-stars{
  display: inline-flex;
  position: relative;
  top: 3px;
  &__label{
    display: inline-flex;
    flex-direction: row-reverse;
    label{
      cursor: pointer;
      position: relative;
      height: 20px;
      width: 20px;
      margin-right: -2px;
      &:hover{
        i:first-child{
          display: none;
        }
        i:last-child{
          display: block;
        }
      }
      i{
        @include absolut-center;
        font-size: 20px;
        color: $green;
        &:first-child{
          display: block;
        }
        &:last-child{
          display: none;
        }
      }
    }
    label[for="rating-stars-2"]:hover ~ label,
    label[for="rating-stars-3"]:hover ~ label,
    label[for="rating-stars-4"]:hover ~ label,
    label[for="rating-stars-5"]:hover ~ label{
      i:first-child{
        display: none;
      }
      i:last-child{
        display: block;
      }
    }
  }
  input{
    display: none;
  }
}
#rating-stars-1:checked ~ .rating-stars__label label:nth-child(n +5),
#rating-stars-2:checked ~ .rating-stars__label label:nth-child(n +4),
#rating-stars-3:checked ~ .rating-stars__label label:nth-child(n +3),
#rating-stars-4:checked ~ .rating-stars__label label:nth-child(n +2),
#rating-stars-5:checked ~ .rating-stars__label label:nth-child(n +1){
  i:first-child{
    display: none;
  }
  i:last-child{
    display: block;
  }
}
#model-w-calc{
  display: none;
}
#model-w-review{
display: none;
}
#model-w-question{
  display: none;
}
#model-w-call-back{
  display: none;
}
#model-w-sucess{
  h2{
@include text(30px,35px,$green);
    font-weight: 800;
    margin-bottom: 20px;
  }
  span{
@include text(18px,24px,$p-text-color);
    font-weight: 600;
  }
  display: none;
}