@media screen and (max-width: 1199px) {
  /* line 2, ../sass/media.scss */
  .gubarev__slovo {
    padding-top: 50px;
  }

  /* line 5, ../sass/media.scss */
  #gubarev-accost {
    height: 600px;
  }

  /* line 9, ../sass/media.scss */
  .gubarev-accost__text, .gubarev-accost__foto {
    height: 600px;
  }
  /* line 11, ../sass/media.scss */
  .gubarev-accost__text img, .gubarev-accost__foto img {
    left: -200px;
  }
  /* line 14, ../sass/media.scss */
  .gubarev-accost__text__wrapper, .gubarev-accost__foto__wrapper {
    height: 450px;
  }

  /* line 19, ../sass/media.scss */
  #biography {
    padding-top: 35px;
    padding-bottom: 30px;
  }

  /* line 24, ../sass/media.scss */
  .biography__tabs {
    padding-right: 105px;
  }
  /* line 29, ../sass/media.scss */
  .biography__news__card__img {
    height: 195px;
  }

  /* line 35, ../sass/media.scss */
  #quote {
    padding: 55px 0 35px 0;
  }

  /* line 39, ../sass/media.scss */
  .quote__text {
    padding: 35px 25px;
  }

  /* line 43, ../sass/media.scss */
  #news-blog {
    padding-top: 45px;
  }

  /* line 48, ../sass/media.scss */
  .news-blog__body__card {
    margin-bottom: 20px;
  }
  /* line 50, ../sass/media.scss */
  .news-blog__body__card__img {
    height: 170px;
  }

  /* line 56, ../sass/media.scss */
  #team {
    padding: 40px 0;
  }

  /* line 61, ../sass/media.scss */
  .team__body__card {
    width: 310px;
  }
  /* line 63, ../sass/media.scss */
  .team__body__card__face {
    top: -130px;
  }
  /* line 65, ../sass/media.scss */
  .team__body__card__face img {
    width: 120%;
  }

  /* line 72, ../sass/media.scss */
  #orlov .team__body__card__face img {
    top: 130px;
    left: 230px;
  }

  /* line 76, ../sass/media.scss */
  #gubareva-ekaterina .team__body__card__face img {
    top: 70px;
    left: 187px;
  }

  /* line 80, ../sass/media.scss */
  #rudenko .team__body__card__face img {
    top: 112px;
    left: 186px;
    width: 85%;
  }

  /* line 85, ../sass/media.scss */
  #barhatnova .team__body__card__face img {
    top: 130px;
    left: 188px;
  }

  /* line 89, ../sass/media.scss */
  #berdicevskiy.team__body__card__face img {
    top: 130px;
    left: 190px;
  }

  /* line 93, ../sass/media.scss */
  #ciplakov .team__body__card__face img {
    top: 130px;
    left: 134px;
  }
}
@media screen and (max-width: 991px) {
  /* line 99, ../sass/media.scss */
  .gubarev__slovo p {
    margin: 20px 0 10px 0;
  }

  /* line 102, ../sass/media.scss */
  .header__gubarev {
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
  }
  /* line 106, ../sass/media.scss */
  .header__gubarev h2 {
    margin: 0;
  }

  /* line 110, ../sass/media.scss */
  .header__gubarev__social {
    height: 35px;
    margin: 15px;
  }

  /* line 114, ../sass/media.scss */
  #gubarev__slovo {
    background-position-x: 50px;
  }

  /* line 117, ../sass/media.scss */
  #gubarev-accost {
    height: auto;
  }
  /* line 119, ../sass/media.scss */
  #gubarev-accost .row {
    display: flex;
    flex-direction: column-reverse;
  }

  /* line 125, ../sass/media.scss */
  .gubarev-accost__foto {
    height: 330px;
  }
  /* line 127, ../sass/media.scss */
  .gubarev-accost__foto img {
    height: auto;
    width: 100%;
    left: 0;
  }
  /* line 133, ../sass/media.scss */
  .gubarev-accost__text {
    height: 450px;
  }
  /* line 135, ../sass/media.scss */
  .gubarev-accost__text__wrapper {
    height: 300px;
  }

  /* line 141, ../sass/media.scss */
  .biography__header {
    padding-left: 20px;
    margin-bottom: 30px;
  }
  /* line 145, ../sass/media.scss */
  .biography__tabs {
    padding-left: 0;
    padding-right: 0;
    height: 80px;
  }
  /* line 150, ../sass/media.scss */
  .biography__content {
    height: 280px;
  }
  /* line 152, ../sass/media.scss */
  .biography__content__point {
    height: 270px;
    width: 100%;
  }
  /* line 159, ../sass/media.scss */
  .biography__news__card__img {
    height: 145px;
  }

  /* line 165, ../sass/media.scss */
  .btn-tabs {
    margin: 0 20px;
    font-size: 18px;
  }

  /* line 170, ../sass/media.scss */
  #call-back h2, #call-back-2 h2 {
    margin-bottom: 25px;
  }

  /* line 174, ../sass/media.scss */
  #call-back button, #call-back a, #call-back-2 button, #call-back-2 a {
    float: none;
  }

  /* line 179, ../sass/media.scss */
  .news-blog__body__card {
    width: 48%;
  }

  /* line 186, ../sass/media.scss */
  .team__body__card {
    width: 360px;
  }

  /* line 191, ../sass/media.scss */
  #orlov .team__body__card__face img {
    top: 130px;
    left: 270px;
  }

  /* line 195, ../sass/media.scss */
  #gubareva-ekaterina .team__body__card__face img {
    top: 70px;
    left: 212px;
  }

  /* line 199, ../sass/media.scss */
  #rudenko .team__body__card__face img {
    top: 112px;
    left: 216px;
    width: 85%;
  }

  /* line 204, ../sass/media.scss */
  #barhatnova .team__body__card__face img {
    top: 130px;
    left: 222px;
  }

  /* line 208, ../sass/media.scss */
  #berdicevskiy.team__body__card__face img {
    top: 130px;
    left: 190px;
  }

  /* line 212, ../sass/media.scss */
  #ciplakov .team__body__card__face img {
    top: 130px;
    left: 165px;
  }

  /* line 216, ../sass/media.scss */
  .footer__body__point {
    width: 47%;
  }
}
