/* line 1, ../sass/_btn.scss */
button, button:active, button:hover, button:visited, button:focus {
  outline: none;
  cursor: pointer;
}

/* line 5, ../sass/_btn.scss */
.btn-ghost__red {
  background-color: transparent;
  border: 2px solid #F04950;
  color: #F04950;
  font-family: "Open Sans Condensed",sans-serif;
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  height: 42px;
  padding: 0 30px;
}

/* line 17, ../sass/_btn.scss */
.btn-tabs {
  font-family: "Open Sans",sans-serif;
  font-size: 20px;
  font-weight: bold;
  line-height: 27px;
  color: #F04950;
  position: relative;
  margin-bottom: 30px;
  background-color: transparent;
  border: none;
  text-align: left;
  display: inline-block;
}
/* line 29, ../sass/_btn.scss */
.btn-tabs:before {
  content: "";
  position: absolute;
  height: 20px;
  width: 10px;
  background: url("../img/Svg/caret_right.svg") no-repeat;
  background-size: 10px 20px;
  bottom: 3px;
  right: -20px;
}
/* line 39, ../sass/_btn.scss */
.btn-tabs.active {
  color: #0F346F;
}

/* line 4, ../sass/style.scss */
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

/* line 9, ../sass/style.scss */
header {
  position: relative;
  padding-bottom: 47px;
}

/* line 13, ../sass/style.scss */
a, a:hover, a:visited {
  text-decoration: none;
  color: inherit;
}

/* line 17, ../sass/style.scss */
#header__gubarev {
  z-index: 10;
  background-color: #FFFFFF;
  box-shadow: 0 -1px 4px 0 rgba(15, 52, 111, 0.1), 1px 2px 4px 0 rgba(15, 52, 111, 0.25);
  height: 73px;
  position: fixed;
  top: 0;
  left: 0;
}
/* line 25, ../sass/style.scss */
#header__gubarev .row {
  height: 73px;
}

/* line 29, ../sass/style.scss */
.header__gubarev {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/* line 30, ../sass/style.scss */
.header__gubarev__blue-block {
  background-color: #0F346F;
  height: 100%;
}
/* line 33, ../sass/style.scss */
.header__gubarev__blue-block h1 {
  width: 100%;
  line-height: 72px;
  color: white;
  text-align: center;
  margin: 0;
  font-family: "Open Sans Condensed",sans-serif;
  font-size: 30px;
  font-weight: bold;
}
/* line 45, ../sass/style.scss */
.header__gubarev__social a {
  margin: 0 12px;
  height: 20px;
  width: 20px;
}
/* line 49, ../sass/style.scss */
.header__gubarev__social a img {
  width: 20px;
}
/* line 57, ../sass/style.scss */
.header__gubarev h2 {
  font-family: "Open Sans Condensed",sans-serif;
  font-size: 20px;
  line-height: 27px;
  color: #0F346F;
  font-weight: bold;
  margin: 0 0 0 50px;
}
/* line 64, ../sass/style.scss */
.header__gubarev h2 b {
  font-size: 20px;
  line-height: 27px;
  color: #F04950;
  font-weight: bold;
}
/* line 71, ../sass/style.scss */
.header__gubarev p {
  font-family: "Open Sans Condensed",sans-serif;
  font-size: 20px;
  line-height: 27px;
  font-weight: 300;
  color: #0F346F;
  margin: 0;
}

/* line 80, ../sass/style.scss */
#gubarev__slovo {
  margin-top: 73px;
  background: url("../img/slider.png") 0 0 no-repeat;
  background-size: auto 100%;
  height: 555px;
  background-color: #f5fffe;
}

/* line 87, ../sass/style.scss */
.gubarev__slovo {
  padding-top: 90px;
}
/* line 89, ../sass/style.scss */
.gubarev__slovo h3 {
  font-family: "Open Sans",sans-serif;
  font-size: 36px;
  line-height: 49px;
  font-weight: bold;
  color: #0F346F;
  position: relative;
  margin: 0;
}
/* line 97, ../sass/style.scss */
.gubarev__slovo h3:before {
  content: "";
  position: absolute;
  top: 0;
  left: 320px;
  background: url("../img/flag.svg") no-repeat;
  width: 62px;
  height: 50px;
}
/* line 107, ../sass/style.scss */
.gubarev__slovo h2 {
  font-family: "Open Sans",sans-serif;
  font-size: 36px;
  line-height: 49px;
  font-weight: bold;
  color: #F04950;
  margin: 0;
}
/* line 115, ../sass/style.scss */
.gubarev__slovo p {
  margin: 40px 0 20px 0;
  font-family: "Open Sans",sans-serif;
  color: rgba(3, 20, 48, 0.8);
  font-size: 30px;
  font-weight: 600;
  line-height: 41px;
}
/* line 123, ../sass/style.scss */
.gubarev__slovo span {
  display: block;
  font-family: "Open Sans Condensed",sans-serif;
  font-weight: bold;
  text-align: right;
  color: #F04950;
  font-size: 20px;
  line-height: 27px;
}

/* line 133, ../sass/style.scss */
#nav-bar {
  position: absolute;
  left: 0;
  bottom: 0;
  height: 47px;
  background-color: #E7ECF1;
}
/* line 139, ../sass/style.scss */
#nav-bar div {
  display: flex;
  justify-content: center;
}
/* line 143, ../sass/style.scss */
#nav-bar a {
  font-family: "Open Sans Condensed",sans-serif;
  font-weight: bold;
  color: #0F346F;
  font-size: 18px;
  line-height: 47px;
  margin: 0 13px;
}
/* line 150, ../sass/style.scss */
#nav-bar a img {
  height: 18px;
  width: 18px;
}

/* line 156, ../sass/style.scss */
#gubarev-accost {
  height: 700px;
  box-shadow: 0 -1px 4px 0 rgba(15, 52, 111, 0.1), 1px 2px 4px 0 rgba(15, 52, 111, 0.25);
}

/* line 161, ../sass/style.scss */
.gubarev-accost__foto {
  height: 700px;
  padding: 0;
  overflow: hidden;
  position: relative;
}
/* line 166, ../sass/style.scss */
.gubarev-accost__foto img {
  position: absolute;
  top: 0;
  left: -225px;
}
/* line 172, ../sass/style.scss */
.gubarev-accost__text {
  background-color: #F04950;
  height: 700px;
  padding: 50px;
}
/* line 176, ../sass/style.scss */
.gubarev-accost__text__wrapper {
  height: 600px;
  overflow-y: auto;
}
/* line 179, ../sass/style.scss */
.gubarev-accost__text__wrapper h2 {
  font-family: "Open Sans",sans-serif;
  font-weight: bold;
  color: white;
  font-size: 24px;
  line-height: 26px;
  margin-bottom: 15px;
  text-transform: uppercase;
}
/* line 188, ../sass/style.scss */
.gubarev-accost__text__wrapper h3 {
  font-family: "Open Sans",sans-serif;
  font-weight: bold;
  color: white;
  font-size: 16px;
  line-height: 18px;
  margin-bottom: 15px;
}
/* line 196, ../sass/style.scss */
.gubarev-accost__text__wrapper p {
  font-family: "Open Sans",sans-serif;
  font-weight: normal;
  color: white;
  font-size: 16px;
  line-height: 18px;
  margin-bottom: 15px;
}

/* line 207, ../sass/style.scss */
#biography {
  padding-top: 75px;
  padding-bottom: 60px;
}

/* line 212, ../sass/style.scss */
.biography__header {
  width: 100%;
  margin-bottom: 50px;
  font-family: "Open Sans Condensed",sans-serif;
  color: #0F346F;
  font-size: 30px;
  font-weight: bold;
  line-height: 41px;
  padding-left: 95px;
}
/* line 222, ../sass/style.scss */
.biography__tabs {
  padding-left: 95px;
  padding-right: 180px;
  height: 550px;
}
/* line 227, ../sass/style.scss */
.biography__content {
  height: 550px;
}
/* line 229, ../sass/style.scss */
.biography__content__point {
  float: right;
  overflow-y: auto;
  height: 550px;
  width: 515px;
  padding-right: 30px;
  display: none;
}
/* line 236, ../sass/style.scss */
.biography__content__point p {
  font-family: "Open Sans",sans-serif;
  font-size: 16px;
  line-height: 18px;
  color: rgba(3, 20, 48, 0.8);
  margin-bottom: 15px;
}
/* line 243, ../sass/style.scss */
.biography__content__point.active {
  display: block;
}
/* line 248, ../sass/style.scss */
.biography__news {
  padding-top: 35px;
  display: flex;
  justify-content: space-between;
}
/* line 252, ../sass/style.scss */
.biography__news__card {
  width: 30%;
}
/* line 254, ../sass/style.scss */
.biography__news__card__img {
  height: 225px;
  overflow: hidden;
  margin-bottom: 20px;
}
/* line 258, ../sass/style.scss */
.biography__news__card__img img {
  width: 100%;
}
/* line 262, ../sass/style.scss */
.biography__news__card p {
  font-family: "Open Sans",sans-serif;
  font-size: 14px;
  font-style: italic;
  line-height: 19px;
  color: rgba(15, 52, 111, 0.6);
}

/* line 272, ../sass/style.scss */
#quote {
  background-color: #E7ECF1;
  padding: 70px 0 50px 0;
}

/* line 276, ../sass/style.scss */
.quote {
  width: 670px;
  margin: 0 auto;
}
/* line 279, ../sass/style.scss */
.quote__text {
  border: solid 5px white;
  position: relative;
  padding: 50px 30px;
  margin-bottom: 25px;
  position: relative;
}
/* line 285, ../sass/style.scss */
.quote__text:before {
  content: "";
  position: absolute;
  height: 32px;
  width: 45px;
  background: url("../img/Svg/quote.svg") no-repeat;
  background-size: 100%;
  top: -15px;
  left: 30px;
}
/* line 295, ../sass/style.scss */
.quote__text p {
  font-family: "Open Sans",sans-serif;
  font-size: 20px;
  font-style: italic;
  line-height: 27px;
  color: rgba(3, 20, 48, 0.8);
}
/* line 303, ../sass/style.scss */
.quote h2 {
  font-family: "Open Sans Condensed",sans-serif;
  font-size: 20px;
  line-height: 27px;
  font-weight: bold;
  color: #F04950;
  text-align: right;
  float: right;
}
/* line 312, ../sass/style.scss */
.quote__radio {
  display: inline-block;
}
/* line 314, ../sass/style.scss */
.quote__radio__imitation {
  width: 10px;
  height: 10px;
  background-color: #A9B8D0;
  border-radius: 5px;
  margin-right: 15px;
  display: inline-block;
  cursor: pointer;
}
/* line 322, ../sass/style.scss */
.quote__radio__imitation.active {
  background-color: #F04950;
}
