@import "var";
@import "mixin";
@import "btn";
@import "font";
body{
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  background-color: $c-body-bg;
}
h1,h2,h3,h4,h5,h6,p{
  margin: 0;
}
div{
  box-sizing: border-box;
}
a,a:hover{
  text-decoration: none;
  cursor: pointer;
  color: inherit;
}
button,button:focus{
  border: none;
  padding: 0;
  outline: none;
}
.header{
  width: 1024px;
  margin: 0 auto;
  height: 100px;
  padding:10px 35px 0 35px;
  position: relative;
  &__social-link{
    position: absolute;
    left: 35px;
    top:50%;
    a{
      color: $c-text-d;
      font-size: 16px;
      margin-right: 14px;
    }
  }
  &__text{
    display: block;
    position: relative;
    margin: 10px auto 0 auto;
    max-height: 100px;
    width: 660px;
    &__wrapper{
      width: 410px;
      height: 80px;
      margin: 0 auto;
      img{
        position: absolute;
        left: 50% !important;
        transform: translateX(-50%);
      }
    }
    img{
      position: absolute;
      height: 100%;
      &:first-child{
        top: 0;
        left: 0;
      }
      &:last-child{
        top:0;
        right: 0;
      }
    }
  }
  &__call-back{
    position: absolute;
    right: 35px;
    top:50%;
    i{
      color: $c-text-d;
      font-size: 16px;
      margin-right: 4px;
    }
    span{
      color: $c-text-d;
      text-decoration: underline;
      font-size: 14px;
      @include text-global;
    }
  }
}
#pop-up{
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 100;
  .pop-up__shadow{
    background-color: black;
    opacity: 0.6;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
  }
}
#nav-bar{
  position: absolute;
  left: 50%;
  top: 40px;
  transform: translateX(-50%);
  button{
    background-color: white;
    font-size: 20px;
    padding: 5px;
    margin: 5px;
  }
}
#pages-nav{
  position: relative;
  display: none;
  width: 100%;
  padding: 0 45%;
  z-index: 1;
  top: 45px;
  button{
    background-color: white;
    font-size: 20px;
    padding: 5px;
    margin: 0 auto;
    &:last-child{
      float: right;
    }
  }
}
#status-bar{
  position: absolute;
  left: 50%;
  top: 90px;
  transform: translateX(-50%);
  color: white;
  font-weight: bold;
  font-size: 25px;
  span{
    color: white;
    font-size: 20px;
    font-weight: bold;
  }
}
#pop-up__content{
  position: absolute;
  left: 50%;
  top: 120px;
  width: 100%;
  height: 100%;
  transform: translateX(-50%);
  .content__body__pages__card{
    max-width: 650px;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
  }
}
.container{
  margin: 0 auto;
  width: 1004px;
  min-height: 1px;
  position: relative;
  padding: 15px;
  background-color: $c-body-bg;
  &__frame{
    position: absolute;
    width: 100%;
    height: 100%;
    top:0;
    left: 0;
    background:
            url("../img/frame/Asset_7.svg")0 0 no-repeat,
            url("../img/frame/Asset_8.svg")100% 0 no-repeat,
            url("../img/frame/Asset_9.svg")0 100% no-repeat,
            url("../img/frame/Asset_10.svg")100% 100% no-repeat,
            url("../img/frame/Asset_19.svg")50% 15px repeat-x,
            url("../img/frame/Asset_18.svg") left 50% bottom 15px repeat-x
  ;
    background-size: 68px,68px,68px,68px,50% 5px,50% 5px;
  }
}
.row{
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 22px;
  background-color: $c-content-bg;
}
.content{
  &__header{
    position: relative;
    width: 830px;
    margin: 0 auto;
    height: 125px;
    padding-top: 50px;
    &__nav-bar{
      display: block;
      position: absolute;
      top:0;
      left: 50%;
      transform: translateX(-50%);
      text-align: center;
      width: 100%;
      margin-bottom: 30px;
      i{
        margin: 0 10px;
      }
      a{
        margin: 0 6px;
        @include text-global;
        font-size: 18px;
        color: $c-text-d;
        text-decoration: underline;
        &.active{
          color: $c-text-red;
        }
      }
    }
    &__page-bar{
      width: 100%;
      height: 50px;
      padding: 10px 60px;
      position: relative;
      &__frame{
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background:
                url("../img/frame/Asset_4.svg")0 0 no-repeat,
                url("../img/frame/Asset_3.svg")100% 0 no-repeat,
                url("../img/frame/Asset_5.svg")0 7px no-repeat,
                url("../img/frame/Asset_6.svg")left 0 bottom 9px no-repeat;
        background-size: 80px 50px,80px 50px,100% 5px, 100% 5px;
      }
      &__wrapper{
        background-color: $c-white-bg;
        width: 100%;
        height: 100%;
        button{
          background-color: transparent;
          height: 100%;
          cursor: pointer;
          margin: 0 21px;
          position: relative;
          &:first-child{
            float: left;
          }
          &:last-child{
            float: right;
          }
          span{
            @include text-arnold-bocklinc;
            font-size: 24px;
            color: $c-text-d;
          }
          img{
            width: 18px;
            height: 16px;
            margin: 0 4px;
          }
        }
      }
    }
  }
  &__body{
    &__pages{
      display: none;
      position: relative;
      &.active{
        display: block;
      }
      &__header{
        width: 100%;
        height: 50px;
        left: 0;
        top: -78px;
        position: absolute;
        h1{
          @include text-herold-bold;
          text-align: center;
          color: $c-text-d;
          font-size: 25px;
          font-weight: bold;
          letter-spacing: 2px;
          width: 100%;
          line-height: 50px;
          text-transform: uppercase;
        }
      }
      &__wrapper{
        width: 100%;
        min-height: 1px;
      }
      &__card{
        position: relative;
        margin-bottom: 10px;
        width: 100%;
        min-height: 1px;
        overflow: hidden;
        cursor: pointer;
        &-mini{
          margin-bottom: 7px;
        }
        span,p,h1,h2,h3,h4,h5,h6{
          color: inherit;
        }
      }
      &__line{
        &-first,&-second,&-third{
          display: inline-block;
          padding: 0 10px;
          min-height: 1px;
          vertical-align: top;
        }
      }
    }

  }
  &__footer{}
}

//стили карточек
.cs{
  &-bg{
    padding: 0;
    .img-wrapper{
      width: 100%;
      img{
        width: 100%
      }
    }
  }
  &-mt{
    &-1{
      border: dashed 2px $c-border-d;
      padding: 10px;
      .content__body__pages__card-mini{
        border: dotted 3px $c-border-d;
        padding: 12px;
      }
    }
  }
  &-1{
    background-color: $c-background-dd;
    color: $c-text-dw;
    position: relative;
    padding: 13px;
    & p{
      word-break: break-all;
    }
    &:before{
      content: "";
      position: absolute;
      top: 2px;
      left: 2px;
      width: calc(100% - 4px);
      height: calc(100% - 4px);
      border: solid 2px wheat;
      box-sizing: border-box;
    }
  }
  &-2{
    padding: 0 4px 4px 4px;
    border-radius: 4px;
    background-color: $c-background-dd;
    color: $c-background-dd;
    h2{
      display: inline-block;
      position: relative;
      left: 50%;
      transform: translateX(-50%);
      padding: 2px 5px;
      background-color: $c-background-d;
      font-size: 22px;
    }
    p{
      padding: 10px;
      border-radius: 6px;
      background-color: $c-background-d;
      word-break: break-all;
    }

  }
  &-3{
    background-color: $c-background-dd;
    color: $c-text-dw;
    position: relative;
    padding: 13px;
    text-align: center;
    border-radius: 9px;
    &:before{
      content: "";
      position: absolute;
      top: 2px;
      left: 2px;
      width: calc(100% - 4px);
      height: calc(100% - 4px);
      border: solid 2px wheat;
      box-sizing: border-box;
      border-radius: 8px;
    }
  }
  &-4{
    color: $c-text-d;
    background-color: #fff9eb;
    padding: 5px;
    border: dashed 3px $c-background-dd;
    & p{
      word-break: break-all;
    }
  }
  &-5{
    padding: 24px;
    background-color: $c-background-d;
    text-align: center;
    background:
    url("../img/3/3_l_u_1.svg")0 0 no-repeat,
    url("../img/3/3_r_u.svg")100% 0 no-repeat,
    url("../img/3/3_r_d.svg")100% 100% no-repeat,
    url("../img/3/3_l_d.svg")0 100% no-repeat,
    url("../img/3/3_h.svg")0 0 repeat-x,
    url("../img/3/3_h.svg")0 100% repeat-x,
    url("../img/3/3_v.svg")0 0 repeat-y,
    url("../img/3/3_v.svg")100% 0 repeat-y
    //url("../img/3/3_l_u_1.svg"),
    //url("../img/3/3_l_u_1.svg"),
    //url("../img/3/3_l_u_1.svg")
    ;
    background-size: 45px 45px,45px 45px,45px 45px,45px 45px,20px 15px,20px 15px,15px 20px,15px 20px;
    & *{
      background-color: #fff9ed;
    }
  }
  &-6{
    border: dotted 3px $c-border-d;
    padding: 12px;
  }
}

//стили шрифтов
.fs{
  &-1{
    @include text-global;
    color: $c-text-d;
  }
  &-2{
    @include text-arnold-bocklinc;
    color: $c-text-d;
  }
  &-3{
    @include text-herold-normal;
    color: $c-text-d;
  }
  &-4{
    @include text-accuratist;
    color: $c-text-d;
  }
  &-5{
    @include text-elizabeta-modern;
    color: $c-text-d;
  }
  &-6{
    @include text-eveagita;
    color: $c-text-d;
  }
  &-7{
    @include text-goudy-decor-shodwnc;
    color: $c-text-d;
  }
  &-8{
    @include text-herold-bold;
    color: $c-text-d;
  }
  &-9{
    @include text-monti-decor-b;
    color: $c-text-d;
  }
  &-10{
    @include text-petrarka;
    color: $c-text-d;
  }
  &-11{
    @include text-proletariat;
    color: $c-text-d;
  }
  &-12{
    @include text-rodeo-bold;
    color: $c-text-d;
  }
  &-13{
    @include text-windsor;
    color: $c-text-d;
  }
}

//размеры колонок
.wrapper{
  &-t1{
    .content__body__pages__line{
      &-first{
        width: 186px;
      }
      &-second,&-third{
        width: 340px;
      }
    }
  }
  &-t2{
    .content__body__pages__line{
      &-first{}
      &-second{}
      &-third{}
    }
  }
  &-t3{
    .content__body__pages__line{
      &-first{}
      &-second{}
      &-third{}
    }
  }
}