@import "var";
@import "mixin";
@import "btn";
@import "font";
body{
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  background-color: $c-body-bg;
}
h1,h2,h3,h4,h5,h6,p{
  margin: 0;
}
div{
  box-sizing: border-box;
}
a,a:hover{
  text-decoration: none;
  cursor: pointer;
  color: inherit;
}
button,button:focus{
  border: none;
  padding: 0;
  outline: none;
}
.header{
  width: 1024px;
  margin: 0 auto;
  height: 100px;
  padding:10px 35px 0 35px;
  position: relative;
  &__social-link{
    position: absolute;
    left: 35px;
    top:50%;
    a{
      color: $c-text-d;
      font-size: 18px;
      margin-right: 14px;
    }
  }
  &__text{
    display: block;
    position: relative;
    margin: 10px auto 0 auto;
    max-height: 100px;
    width: 660px;
    &__wrapper{
      width: 410px;
      height: 80px;
      margin: 0 auto;
      img{
        position: absolute;
        left: 50% !important;
        transform: translateX(-50%);
      }
    }
    img{
      position: absolute;
      height: 100%;
      &:first-child{
        top: 0;
        left: 0;
      }
      &:last-child{
        top:0;
        right: 0;
      }
    }
  }
  &__call-back{
    position: absolute;
    right: 35px;
    top:50%;
    i{
      color: $c-text-d;
      font-size: 16px;
      margin-right: 4px;
    }
    span{
      color: $c-text-d;
      text-decoration: underline;
      font-size: 14px;
      @include text-global;
    }
  }
}
#pop-up{
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 100;
  .pop-up__shadow{
    background-color: black;
    opacity: 0.6;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
  }
}
#nav-bar{
  position: absolute;
  left: 50%;
  top: 40px;
  transform: translateX(-50%);
  button{
    background-color: white;
    font-size: 20px;
    padding: 5px;
    margin: 5px;
  }
}
#pages-nav{
  position: relative;
  display: none;
  width: 100%;
  padding: 0 45%;
  z-index: 1;
  top: 45px;
  button{
    background-color: white;
    font-size: 20px;
    padding: 5px;
    margin: 0 auto;
    &:last-child{
      float: right;
    }
  }
}
#status-bar{
  position: absolute;
  left: 50%;
  top: 90px;
  transform: translateX(-50%);
  color: white;
  font-weight: bold;
  font-size: 25px;
  span{
    color: white;
    font-size: 20px;
    font-weight: bold;
  }
}
#pop-up__content{
  position: absolute;
  left: 50%;
  top: 140px;
  width: 650px;
  height: 500px;
  transform: translateX(-50%);
  .content__body__pages__card{
    max-width: 520px;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
  }
  .content__body__pages__card.cs-bg{
    max-width: 650px;
    height: 500px;
    .img-wrapper{
      height: 100%;
      position: relative;
      left: 50%;
      transform: translateX(-50%);
    }
    img{
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      width: auto;
      height: 100%;
    }
  }
}
.container{
  margin: 0 auto;
  width: 1004px;
  min-height: 1px;
  position: relative;
  padding: 16px;
  background-color: $c-body-bg;
  z-index: 1;
  &__frame{
    position: absolute;
    width: 100%;
    height: 100%;
    top:0;
    left: 0;
    background:
            url("../img/frame_site/frome_l_u.svg")0 0 no-repeat,
            url("../img/frame_site/frome_r_u.svg")100% 0 no-repeat,
            url("../img/frame_site/frome_r_d.svg")0 100% no-repeat,
            url("../img/frame_site/frome_l_d.svg")100% 100% no-repeat,
            url("../img/frame_site/frome_top.svg")1px 15px no-repeat,
            url("../img/frame_site/frome_down.svg")left 1px bottom 15px no-repeat,
            url("../img/frame_site/frame_c.svg")8px 630px no-repeat,
            url("../img/frame_site/frame_c.svg")right 8px top 630px no-repeat,
            url("../img/frame_site/frame_c_u.svg")13px 578px no-repeat,
            url("../img/frame_site/frame_c_u.svg")right 13px top 578px no-repeat,
            url("../img/frame_site/frame_c_d.svg")13px 775px no-repeat,
            url("../img/frame_site/frame_c_d.svg")right 13px top 775px no-repeat,
            url("../img/frame_site/line_l_u.svg")15px 67px no-repeat,
            url("../img/frame_site/line_r_u.svg")right 15px top 67px no-repeat,
            url("../img/frame_site/line_l_d.svg")15px 817px no-repeat,
            url("../img/frame_site/line_r_d.svg")right 15px top 817px no-repeat;
    background-size: 68px 68px,68px 68px,68px 68px,68px 68px,98% 5px,98% 5px,20px 135px,20px 135px,10px 42px,10px 42px,10px 42px,10px 42px,6px 512px,6px 512px,6px 100%,6px 100%;
  }
}
.row{
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 22px;
  background-color: $c-content-bg;
}
.content{
  &__header{
    position: relative;
    width: 830px;
    margin: 0 auto;
    height: 125px;
    padding-top: 50px;
    &__nav-bar{
      display: block;
      position: absolute;
      top:0;
      left: 50%;
      transform: translateX(-50%);
      text-align: center;
      width: 100%;
      margin-bottom: 30px;
      i{
        margin: 0 10px;
      }
      a{
        margin: 0 6px;
        @include text-global;
        font-size: 18px;
        color: $c-text-d;
        text-decoration: underline;
        &.active{
          color: $c-red;
        }
      }
    }
    &__page-bar{
      width: 100%;
      height: 50px;
      padding: 10px 60px;
      position: relative;
      &__frame{
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background:
                url("../img/frame_header/Asset_left.svg")0 0 no-repeat,
                url("../img/frame_header/Asset_right.svg")100% 0 no-repeat,
                url("../img/frame_header/Asset_up.svg")75px 5px no-repeat,
                url("../img/frame_header/Asset_down.svg")left 75px bottom 7px no-repeat;
        background-size: 80px 50px,80px 50px,680px 5px, 680px 5px;
      }
      &__wrapper{
        background-color: $c-white-bg;
        width: 100%;
        height: 100%;
        button{
          background-color: transparent;
          height: 100%;
          cursor: pointer;
          margin: 0 21px;
          position: relative;
          z-index: 1;
          &:first-child{
            float: left;
          }
          &:last-child{
            float: right;
          }
          span{
            @include text-arnold-bocklinc;
            font-size: 24px;
            color: $c-text-d;
          }
          img{
            width: 18px;
            height: 16px;
            margin: 0 4px;
          }
        }
      }
    }
  }
  &__body{
    &__pages{
      display: none;
      position: relative;
      &.active{
        display: block;
      }
      &__header{
        width: 100%;
        height: 50px;
        left: 0;
        top: -78px;
        position: absolute;
        h1{
          @include text-herold-bold;
          text-align: center;
          color: $c-text-d;
          font-size: 25px;
          font-weight: bold;
          letter-spacing: 2px;
          width: 100%;
          line-height: 50px;
          text-transform: uppercase;
        }
      }
      &__wrapper{
        width: 100%;
        min-height: 1px;
      }
      &__card{
        position: relative;
        margin-bottom: 10px;
        width: 100%;
        min-height: 1px;
        overflow: hidden;
        cursor: pointer;
        p,span{
          @include text-global;
        }
        &-mini{
          margin-bottom: 7px;
        }
      }
      &__line{
        &-first,&-second,&-third{
          display: inline-block;
          padding: 0 10px;
          min-height: 1px;
          vertical-align: top;
        }
      }
    }

  }
  &__footer{}
}
.footer{
  width: 930px;
  margin: 0 auto;
  padding: 10px 0 30px 0;
  height: 102px;
  white-space: nowrap;
  img{
    height: 100%;
    margin-right: 18px;
  }
  a,p{
    @include text-global;
    font-size: 14px;
    color: $c-text-d;
  }
  &__first-b,&__second-b,&__third-b{
    display: inline-block;
    height: 100%;
    vertical-align: top;
  }
  &__first-b{
    margin-right: 100px;
  }
  &__third-b{
    float: right;
  }
}
//стили карточек
.cs{
  &-bg{
    padding: 0;
    .img-wrapper{
      width: 100%;
      img{
        width: 100%
      }
    }
  }
  &-mt{
    &-1{
      border: dashed 2px $c-border-d;
      padding: 10px;
      .content__body__pages__card-mini{
        border: dotted 3px $c-border-d;
        padding: 12px;
      }
    }
  }
  &-1{
    p,span{
      color: $c-text-dw;
      font-size: 14px;
      line-height: 14px;
      word-break: normal;
      letter-spacing: normal;
      margin-bottom: 0;
    }
    h2{
      color: $c-text-dw;
      font-size: 18px;
      line-height: 18px;
      margin: 0;
      letter-spacing: normal;
      text-transform: uppercase;
    }
    background-color: $c-background-dd;
    color: $c-text-dw;
    position: relative;
    padding: 13px;
    &:before{
      content: "";
      position: absolute;
      top: 2px;
      left: 2px;
      width: calc(100% - 4px);
      height: calc(100% - 4px);
      border: solid 2px wheat;
      box-sizing: border-box;
    }
  }
  &-2{
    p,span{
      border-radius: 4px;
      color: $c-text-d;
      font-size: 14px;
      line-height: 14px;
      word-break: normal;
      letter-spacing: normal;
      margin-bottom: 0;
      padding: 8px 4px;
    }
    h2{
      color: $c-text-d;
      font-size: 18px;
      line-height: 18px;
      margin: 0;
      padding: 3px 5px;
      letter-spacing: normal;
      display: inline-block;
    }
    padding: 0 4px 4px 4px;
    border-radius: 4px;
    background-color: $c-background-dd;
    text-align: center;
    & *{
      background-color: $c-content-bg;
    }
  }
  &-3{
    p,span{
      color: $c-text-dw;
      font-size: 14px;
      line-height: 14px;
      word-break: normal;
      letter-spacing: normal;
      margin-bottom: 0;
    }
    h2{
      color: $c-text-dw;
      font-size: 28px;
      line-height: 28px;
      margin-bottom: 6px;
      letter-spacing: normal;
    }
    background-color: $c-background-dd;
    position: relative;
    padding: 13px;
    text-align: center;
    border-radius: 9px;
    &:before{
      content: "";
      position: absolute;
      top: 2px;
      left: 2px;
      width: calc(100% - 4px);
      height: calc(100% - 4px);
      border: solid 2px wheat;
      box-sizing: border-box;
      border-radius: 8px;
    }
  }
  &-4{
    p,span{
      color: $c-text-d;
      font-size: 14px;
      line-height: 14px;
      word-break: break-all;
      font-weight: 600;
      letter-spacing: normal;
      margin-bottom: 0;
    }
    h2{
      color: $c-text-d;
      text-align: center;
      font-size: 18px;
      line-height: 18px;
      margin-bottom: 10px;
      letter-spacing: normal;
    }
    padding: 20px;
    position: relative;
    background:
    url("../img/Frame_card/1/1_h.svg")0 0 repeat-x,
    url("../img/Frame_card/1/1_h.svg")0 100% repeat-x;

    background-size: 20px 10px;
    background-color: $c-content-bg;
    & *{
      position: relative;
    }
    &:before{
      content: "";
      position: absolute;
      width: calc(100% - 22px);
      height: calc(100% - 22px);
      left: 10px;
      top: 10px;
      border: solid 1px $c-background-dd;
      background-color: $c-white-bg;
    }
    &:after{
      content: "";
      position: absolute;
      top: 10px;
      left: 0;
      width: 100%;
      height: calc(100% - 20px);
      background:
              url("../img/Frame_card/1/1_v.svg")0 10px repeat-y,
              url("../img/Frame_card/1/1_v.svg")100% 10px repeat-y;
      background-size: 10px 20px;
    }
  }
  &-5{
    p,span{
      color: $c-text-d;
      font-size: 14px;
      line-height: 14px;
      word-break: normal;
      letter-spacing: normal;
      margin-bottom: 0;
      font-weight: 600;
    }
    h2{
      color: $c-text-d;
      font-size: 18px;
      line-height: 18px;
      margin-bottom: 8px;
      letter-spacing: normal;
    }
    padding: 26px;
    position: relative;
    background:
    url("../img/Frame_card/2/2_l_u.svg")0 0 no-repeat,
    url("../img/Frame_card/2/2_r_u.svg")100%  0 no-repeat,
    url("../img/Frame_card/2/2_l_d.svg")0 100% no-repeat,
    url("../img/Frame_card/2/2_r_d.svg")100% 100% no-repeat;
    background-size: 45px 34px;
    background-color: $c-content-bg;
    text-align: center;
    &:before{
       content: "";
       position: absolute;
       top: 0;
       left: 45px;
       height: 100%;
       width: calc(100% - 90px);
      background:
              url("../img/Frame_card/2/2_u.svg")0 0 round no-repeat,
              url("../img/Frame_card/2/2_d.svg")0 100% round no-repeat;
      background-size: 22px 12px;
     }
    &:after{
      content: "";
      position: absolute;
      top: 34px;
      left: 0;
      height: calc(100% - 68px);
      width: 100%;
      background:
              url("../img/Frame_card/2/2_l.svg")0 0 no-repeat round,
              url("../img/Frame_card/2/2_r.svg")100% 0 no-repeat round;
      background-size: 14px 19px;
    }
  }
  &-6{
    p,span{
      color: $c-text-d;
      font-size: 14px;
      line-height: 14px;
      word-break: normal;
      letter-spacing: normal;
      margin-bottom: 0;
      padding: 12px;
    }
    h2{
      color: $c-text-d;
      font-size: 18px;
      line-height: 18px;
      padding: 12px 0 8px 0;
      text-align: center;
      letter-spacing: normal;
    }
    padding: 22px;
    position: relative;
    z-index: 1;
    box-shadow: inset 0 0 0 0 red;
    background:
            url("../img/Frame_card/3/3_l_u.svg")0 0 no-repeat,
            url("../img/Frame_card/3/3_r_u.svg")100% 0 no-repeat,
            url("../img/Frame_card/3/3_l_d.svg")0 100% no-repeat,
            url("../img/Frame_card/3/3_r_d.svg")100% 100% no-repeat;
    background-size: 35px 35px;
    background-color: $c-content-bg;
    &:before{
      content: "";
      position: absolute;
      width: calc(100% - 68px);
      height: 100%;
      top:0;
      left: 34px;
      box-shadow: -37px 0px 0 -18px $c-white-bg, 37px 0px 0 -18px $c-white-bg;
      background:
              url(../img/Frame_card/3/3_h.svg) 50% 1px repeat-x,
              url(../img/Frame_card/3/3_h.svg) left 50% bottom 1.5px repeat-x;
      background-size: 252px 13.5px;
    }
    &:after{
      content: "";
      position: absolute;
      width: 100%;
      height: calc(100% - 68px);
      top:34px;
      left:0;
      box-shadow: 0px -37px 0 -18px $c-white-bg, 0px 37px 0 -18px $c-white-bg;
      background:
              url("../img/Frame_card/3/3_v.svg")2px 50% repeat-y,
              url("../img/Frame_card/3/3_v.svg")right 2px top 50% repeat-y;
      background-size:14px 170px;
    }
    & *{
      position: relative;
      z-index: -1;
      background: $c-white-bg;
    }
  }
  &-7{
    p,span{
      color: $c-text-d;
      font-size: 14px;
      line-height: 14px;
      word-break: normal;
      letter-spacing: normal;
      margin-bottom: 0;
    }
    h2{
      color: $c-text-d;
      font-size: 20px;
      line-height: 20px;
      margin-bottom: 6px;
      text-align: center;
      letter-spacing: normal;
    }
    padding: 16px;
    position: relative;
    background:
            url("../img/Frame_card/5/5_l_u.svg")0 0 no-repeat,
            url("../img/Frame_card/5/5_r_u.svg")100% 0 no-repeat,
            url("../img/Frame_card/5/5_l_d.svg")0 100% no-repeat,
            url("../img/Frame_card/5/5_r_d.svg")100% 100% no-repeat;

    background-size: 21px 21px;
    background-color: $c-content-bg;
    &:before{
      content: "";
      position: absolute;
      top: 0;
      left: 20px;
      width: calc(100% - 40px);
      height: 100%;
      background:
              url("../img/Frame_card/5/5_u.svg")0 0 repeat-x,
              url("../img/Frame_card/5/5_d.svg")0 100% repeat-x;
      background-size: 100% 7px;
    }
    &:after{
      content: "";
      position: absolute;
      top: 20px;
      left:0;
      width: 100%;
      height: calc(100% - 40px);
      background:
              url("../img/Frame_card/5/5_l.svg")0 0 repeat-y,
              url("../img/Frame_card/5/5_r.svg")100% 0 repeat-y;
      background-size:7px 100%;
    }
  }
  &-8{
    p,span{
      color: $c-text-d;
      font-size: 14px;
      line-height: 14px;
      word-break: normal;
      letter-spacing: normal;
      margin-bottom: 0;
    }
    h2{
      color: $c-text-d;
      font-size: 21px;
      line-height: 21px;
      padding-bottom: 5px;
      text-align: center;
      letter-spacing: normal;
    }
    padding: 13px;
    background:
            url("../img/Frame_card/6/6_l_u.svg")0 0 no-repeat,
            url("../img/Frame_card/6/6_r_u.svg")100% 0 no-repeat,
            url("../img/Frame_card/6/6_l_d.svg")0 100% no-repeat,
            url("../img/Frame_card/6/6_r_d.svg")100% 100% no-repeat,
            url("../img/Frame_card/6/6_h.svg")0 0 no-repeat,
            url("../img/Frame_card/6/6_h.svg")0 100% no-repeat,
            url("../img/Frame_card/6/6_v.svg")0 0 no-repeat,
            url("../img/Frame_card/6/6_v.svg")100% 0 no-repeat;
    background-size: 19px 19px,19px 19px,19px 19px,19px 19px,100% 4px,100% 4px,4px 100%,4px 100%;
    background-color: $c-content-bg;
  }
  &-9{
    p,span{
      color: $c-text-d;
      font-size: 14px;
      line-height: 14px;
      word-break: normal;
      letter-spacing: normal;
      margin-bottom: 0;
      padding: 8px;
    }
    h2{
      color: $c-text-d;
      font-size: 20px;
      line-height: 20px;
      text-align: center;
      padding: 8px;
      letter-spacing: normal;
    }
    & *{
      background-color: $c-white-bg;
    }
    padding: 13px;
    position: relative;
    background:
            url("../img/Frame_card/7/7_l_u.svg")0 0 no-repeat,
            url("../img/Frame_card/7/7_r_u.svg")100% 0 no-repeat,
            url("../img/Frame_card/7/7_l_d.svg")0 100% no-repeat,
            url("../img/Frame_card/7/7_r_d.svg")100% 100% no-repeat;
    background-size: 28px 30px,28px 29px,28px 28px,28px 27px;
    background-color: $c-content-bg;
    &:before{
      content: "";
      position: absolute;
      top: 0;
      left: 28px;
      width: calc(100% - 56px);
      height: 100%;
      background:
              url("../img/Frame_card/7/7_u.svg")0 0 repeat-x,
              url("../img/Frame_card/7/7_d.svg")0 100% repeat-x;
      background-size: 20px 12px;
    }
    &:after{
      content: "";
      position: absolute;
      top: 27px;
      left: 0;
      width: 100%;
      height: calc(100% - 52px);
      background:
              url("../img/Frame_card/7/7_l.svg")0 0 repeat-y,
              url("../img/Frame_card/7/7_r.svg")100% 0 repeat-y;
      background-size: 13px 20px;
    }
  }
  &-10{
    p,span{
      color: $c-text-dw;
      font-size: 14px;
      line-height: 14px;
      word-break: normal;
      letter-spacing: normal;
      margin-bottom: 0;
      padding: 8px;
    }
    h2{
      padding: 10px 5px;
      text-align: center;
      color: $c-text-dw;
      font-size: 18px;
      line-height: 18px;
      margin: 0;
      letter-spacing: normal;
    }
    position: relative;
    padding: 18px;
    background-color: $c-content-bg;
    & *{
      background-color: $c-red;
    }
    &:before{
      position: absolute;
      top: 0;
      left: 0;
      content: "";
      width: 100%;
      height: 100%;
      background:
              url("../img/Frame_card/8/8_h.svg")0 0 round no-repeat,
              url("../img/Frame_card/8/8_h.svg")0 100% round no-repeat ;
      background-size: 16px 16px;
    }
    &:after{
      position: absolute;
      top: 16px;
      left: 0;
      content: "";
      width: 100%;
      height: calc(100% - 32px);
      background:
              url("../img/Frame_card/8/8_h.svg")0 0 no-repeat round,
              url("../img/Frame_card/8/8_h.svg")100% 0 no-repeat round;
      background-size: 16px 16px;
    }
  }
  &-11{
    p,span{
      color: $c-text-d;
      font-size: 14px;
      line-height: 14px;
      word-break: normal;
      letter-spacing: normal;
      margin-bottom: 0;
    }
    h2{
      color: $c-text-d;
      font-size: 18px;
      line-height: 18px;
      margin-bottom: 8px;
      text-align: center;
      letter-spacing: normal;
    }
    position: relative;
    padding: 19px;
    background-color: $c-content-bg;
    &:before{
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      background:
              url("../img/Frame_card/9/9_l.svg")0 0 no-repeat round,
              url("../img/Frame_card/9/9_r.svg")100% 0 no-repeat round;
      background-size: 10px 58px;
    }
    &:after{
      content: "";
      position: absolute;
      width: calc(100% - 20px);
      height: 100%;
      top: 0;
      left: 10px;
      background:
              url("../img/Frame_card/9/9_u.svg")0 0 round no-repeat,
              url("../img/Frame_card/9/9_d.svg")0 100% round no-repeat;
      background-size:58px 10px;
    }
  }
  &-12{
    p,span{
      color: $c-text-d;
      font-size: 14px;
      line-height: 14px;
      word-break: normal;
      letter-spacing: normal;
      margin-bottom: 0;
    }
    h2{
      color: $c-text-d;
      font-size: 18px;
      line-height: 18px;
      margin-bottom: 8px;
      text-align: center;
      letter-spacing: normal;
    }
    padding: 24px;
    position: relative;
    background:
            url("../img/Frame_card/10/10_l_u.svg")0 0 no-repeat,
            url("../img/Frame_card/10/10_r_u.svg")100% 0 no-repeat,
            url("../img/Frame_card/10/10_l_d.svg")0 100% no-repeat,
            url("../img/Frame_card/10/10_r_d.svg")100% 100% no-repeat;
    background-size: 30px 30px;
    background-color: $c-content-bg;
    &:before{
      content: "";
      position: absolute;
      width: calc(100% - 60px);
      height: 100%;
      top: 0;
      left: 30px;
      background:
              url("../img/Frame_card/10/10_u.svg")0 0 round no-repeat,
              url("../img/Frame_card/10/10_d.svg")0 100% round no-repeat;
      background-size: 45px 15px;
    }
    &:after{
      content: "";
      position: absolute;
      width: 100%;
      height: calc(100% - 60px);
      top: 30px;
      left: 0;
      background:
              url("../img/Frame_card/10/10_l.svg")0 0 no-repeat round,
              url("../img/Frame_card/10/10_r.svg")100% 0 no-repeat round;
      background-size: 15px 45px;
    }
  }
  &-13{
    p,span{
      color: $c-text-d;
      font-size: 14px;
      line-height: 14px;
      word-break: normal;
      letter-spacing: normal;
      margin-bottom: 0;
    }
    h2{
      color: $c-text-d;
      font-size: 20px;
      line-height: 20px;
      margin-bottom: 8px;
      text-align: center;
      letter-spacing: normal;
    }
    padding: 35px;
    position: relative;
    background:
            url("../img/Frame_card/4/4_l_u.svg")0 0 no-repeat,
            url("../img/Frame_card/4/4_r_u.svg")100% 0 no-repeat,
            url("../img/Frame_card/4/4_l_d.svg")0 100% no-repeat,
            url("../img/Frame_card/4/4_r_d.svg")100% 100% no-repeat;
    background-size: 40px 40px;
    background-color: $c-content-bg;
    &:before{
      content: "";
      position: absolute;
      top: 0;
      left: 40px;
      width: calc(100% - 80px);
      height: 100%;
      background:
              url("../img/Frame_card/4/4_h.svg")0 0 round no-repeat,
              url("../img/Frame_card/4/4_h.svg")0 100% round no-repeat;
      background-size: 40px 20px;
    }
    &:after{
      content: "";
      position: absolute;
      top: 40px;
      left: 0;
      width: 100%;
      height: calc(100% - 80px);
      background:
              url("../img/Frame_card/4/4_v.svg")0 0 no-repeat round,
              url("../img/Frame_card/4/4_v.svg")100% 0 no-repeat round;
      background-size: 20px 40px;
    }
  }
  &-14{
    p,span{
      color: $c-text-d;
      font-size: 14px;
      line-height: 14px;
      word-break: normal;
      letter-spacing: normal;
      margin-bottom: 0;
    }
    h2{
      color: $c-text-d;
      font-size: 18px;
      line-height: 18px;
      margin-bottom: 8px;
      text-align: center;
      letter-spacing: normal;
    }
    padding: 27px;
    position: relative;
    background:
            url("../img/Frame_card/11/11_l_u.svg")0 0 no-repeat,
            url("../img/Frame_card/11/11_r_u.svg")100% 0 no-repeat,
            url("../img/Frame_card/11/11_l_d.svg")0 100% no-repeat,
            url("../img/Frame_card/11/11_r_d.svg")100% 100% no-repeat;
    background-size: 30px 30px;
    background-color: $c-content-bg;
    &:before{
      content: "";
      position: absolute;
      top: 0;
      left: 30px;
      width: calc(100% - 60px);
      height: 100%;
      background:
              url("../img/Frame_card/11/11_u.svg")0 0 round no-repeat,
              url("../img/Frame_card/11/11_d.svg")0 100% round no-repeat;
      background-size: 65px 13px,65px 12px;
    }
    &:after{
      content: "";
      position: absolute;
      top: 30px;
      left: 0;
      width: 100%;
      height: calc(100% - 60px);
      background:
              url("../img/Frame_card/11/11_l.svg")0 0 no-repeat round,
              url("../img/Frame_card/11/11_r.svg")100% 0 no-repeat round;
      background-size: 13px 65px;
    }
  }
  &-15{
    p,span{
      color: $c-text-dw;
      font-size: 14px;
      line-height: 14px;
      word-break: normal;
      letter-spacing: normal;
      padding: 12px;
      margin-bottom: 0;
    }
    h2{
      color: $c-text-dw;
      font-size: 18px;
      line-height: 18px;
      padding: 12px 8px 8px 8px;
      text-align: center;
      letter-spacing: normal;
    }
    padding: 8px;
    position: relative;
    background:
            url("../img/Frame_card/12/12_l_u.svg")0 0 no-repeat,
            url("../img/Frame_card/12/12_r_u.svg")100% 0 no-repeat,
            url("../img/Frame_card/12/12_l_d.svg")0 100% no-repeat,
            url("../img/Frame_card/12/12_r_d.svg")100% 100% no-repeat;
    background-size: 26px 26px;
    background-color: $c-content-bg;
    &:before{
      content: "";
      position: absolute;
      top: 0;
      left: 26px;
      width: calc(100% - 52px);
      height: 100%;
      background:
              url("../img/Frame_card/12/12_u.svg")0 0 round no-repeat,
              url("../img/Frame_card/12/12_d.svg")0 100% round no-repeat;
      background-size: 14px 7px;
    }
    &:after{
      content: "";
      position: absolute;
      top: 26px;
      left: 0;
      width: 100%;
      height: calc(100% - 52px);
      background:
              url("../img/Frame_card/12/12_l.svg")0 0 no-repeat round,
              url("../img/Frame_card/12/12_r.svg")100% 0 no-repeat round;
      background-size: 7px 14px;
    }
    & *{
      background-color: $c-background-dd;
    }
  }
  &-16{
    p,span{
      color: $c-text-d;
      font-size: 14px;
      line-height: 14px;
      word-break: normal;
      letter-spacing: normal;
      margin-bottom: 0;
    }
    h2{
      color: $c-text-d;
      font-size: 18px;
      line-height: 18px;
      margin-bottom: 8px;
      text-align: center;
      letter-spacing: normal;
    }
    padding: 22px;
    position: relative;
    background:
            url("../img/Frame_card/15/15_l_u.svg")0 0 no-repeat,
            url("../img/Frame_card/15/15_r_u.svg")100% 0 no-repeat,
            url("../img/Frame_card/15/15_l_d.svg")0 100% no-repeat,
            url("../img/Frame_card/15/15_r_d.svg")100% 100% no-repeat;
    background-size: 30px 30px;
    background-color: $c-content-bg;
    &:before{
      content: "";
      position: absolute;
      top: 0;
      left: 30px;
      width: calc(100% - 60px);
      height: 100%;
      background:
              url("../img/Frame_card/15/15_u.svg")0 0 round no-repeat,
              url("../img/Frame_card/15/15_d.svg")0 100% round no-repeat;
      background-size: 32px 12px;
    }
    &:after{
      content: "";
      position: absolute;
      top: 30px;
      left: 0;
      width: 100%;
      height:calc(100% - 60px);
      background:
              url("../img/Frame_card/15/15_l.svg")0 0 no-repeat round,
              url("../img/Frame_card/15/15_r.svg")100% 0 no-repeat round;
      background-size:14px 32px;
    }
  }
  &-17{
    p,span{
      color: $c-text-d;
      font-size: 14px;
      line-height: 14px;
      word-break: normal;
      letter-spacing: normal;
      margin-bottom: 0;
    }
    h2{
      color: $c-text-d;
      font-size: 18px;
      line-height: 18px;
      margin-bottom: 8px;
      text-align: center;
      letter-spacing: normal;
    }
    padding: 20px;
    position: relative;
    background:
            url("../img/Frame_card/16/16_l_u.svg")0 0 no-repeat,
            url("../img/Frame_card/16/16_r_u.svg")100% 0 no-repeat,
            url("../img/Frame_card/16/16_l_d.svg")0 100% no-repeat,
            url("../img/Frame_card/16/16_r_d.svg")100% 100% no-repeat;
    background-size: 25px 25px;
    background-color: $c-content-bg;
    &:before{
      position: absolute;
      content: "";
      top: 0;
      left: 24px;
      width: calc(100% - 48px);
      height: 100%;
      background:
              url("../img/Frame_card/16/16_u.svg")0 0 round no-repeat,
              url("../img/Frame_card/16/16_d.svg")0 100% round no-repeat;
      background-size: 15px 12px;
    }
    &:after{
      content: "";
      position: absolute;
      top: 24px;
      left: 0;
      width: 100%;
      height: calc(100% - 48px);
      background:
              url("../img/Frame_card/16/16_l.svg")0 0 no-repeat round,
              url("../img/Frame_card/16/16_r.svg")100% 0 no-repeat round;
      background-size: 12px 15px;
    }
  }
}

//стили шрифтов
.fs{
  &-1{
    h2{@include text-global;}
  }
  &-2{
    h2{@include text-arnold-bocklinc;}
  }
  &-3{
    h2{@include text-herold-normal;}
  }
  &-4{
    h2{@include text-rodeo-bold;}
  }
  &-5{
    h2{@include text-elizabeta-modern;}
  }
  &-6{
    h2{@include text-eveagita;}
  }
  &-7{
    h2{@include text-goudy-decor-shodwnc;}
  }
  &-8{
    h2{@include text-herold-bold;}
  }
  &-9{
    h2{@include text-monti-decor-b;}
  }
  &-10{
    h2{@include text-petrarka;}
  }
  &-11{
    h2{@include text-proletariat;}
  }
  &-12{
    h2{@include text-windsor;}
  }
  &-13{
    h2{@include text-windsor;}
  }
  &-14{
    h2{@include text-windsor;}
  }
  &-15{
    h2{@include text-windsor;}
  }
  &-16{
    h2{@include text-windsor;}
  }
  &-17{
    h2{@include text-windsor;}
  }
  &-18{
    h2{@include text-windsor;}
  }
}

//размеры колонок
.wrapper{
  &-t1{
    .content__body__pages__line{
      &-first{
        width: 186px;
      }
      &-second,&-third{
        width: 340px;
      }
    }
  }
  &-t2{
    .content__body__pages__line{
      &-first,&-second,&-third{
        width: 288px;
      }
    }
  }
  &-t3{
    .content__body__pages__line{
      &-first,&-third{
        width: 243px;
      }
      &-second{
        width: 380px;
      }
    }
  }
}
