@media screen and (max-width: 1199px){
  .header__nav-bar a span{
    font-size: 13px;
  }
  #about-us:before{
    left: -370px;
  }
  .whu__poligon {
    transform: scale(0.8);
  }
  .services__table__control__point span{
    max-width: 80%;
  }
  .services__table__watch__point h2{
    font-size: 32px;
    line-height: 38px;
  }
  .footer__header {
    i{
      margin-right: 8px;
    }
    span{
      font-size: 15px;
      b{
        font-size: 18px;
      }
    }
  }
  .footer__nav-bar{
    height: 90px;
  }
  .footer__nav-bar .container{
    flex-wrap: wrap;
    padding-top: 20px;
  }
  .header__nav-bar{
    margin-left: 15px;
  }
  .copy-right{
    order: 1;
    margin-left: 0;
  }
}
@media screen and (max-width: 991px){
  .header .header__nav-bar{
    order: 2;
    margin: 0 auto;
    height: 0;
    overflow: hidden;
    &.collapse{
      height: auto;
      padding-bottom: 20px;
    }
    a:first-of-type{
      display: none;
    }
    a:before{
      width: 0;
    }
  }
  .header{
    &__logo{
      margin-left: 80px;
      margin-right: auto;
    }
    &__contact-btn{
      order: 1;
      height: 85px;
      display: flex;
      align-items: center;
    }
  }
  #collapse__nav-bar{
    display: block;
  }
  #lang-select:before{
    background-size: 430px;
    right: -510px;
  }
  #about-us .content{
    width: 500px;
    .sub-line-text{
      text-align: left;
    }
  }
  #about-us:before{
    background-size: 500px;
    top: -10px;
    left: -300px;
  }
  .whu__header + .whu__background {
    top: 80px;
    height: 500px;
  }
  .whu__header{
    margin: 0 auto 20px auto;
  }
  .whu__poligon{
    width: 330px;
    height: auto;
    background-size: contain;
    transform: scale(1);
    padding-top: 350px;
    &__text{
      top: 40px;
      transform: translate(-50%, 0%);
    }
    &__reason{
      width: 700px;
      left: 50%;
      transform: translate(-50%, 0%);
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      span,h2{
        text-align: left!important;
      }
      a{
        position: relative;
        top:0!important;
        left: 25%!important;
        width:calc(50% - 20px)!important;
        padding-left: 80px;
        min-height: 65px;
        margin-bottom: 20px;
        padding-top: 7px;
      }
    }
    &__ico{
      top:0!important;
      left: 0!important;
      div{
        display: none;
      }
    }
    &__coments{
      position: relative;
      margin-top: 20px;
      width: calc(100% + 75px);
      left: -75px;
      display: block!important;
    }
  }
  .whu__poligon + .whu__background{
    top: calc(100% - 80px);
  }
  #why-choose-us{
    margin-bottom: 80px;
  }
  #services{
    padding-top: 50px;
  }
  .services__table__control__point span {
    max-width: 75%;
  }
  .services__table div.row{
    justify-content: center;
  }
  .services__table{
    position: relative;
    &__control{
      padding-right: 1px;
      &__point.active{
        :before{
         width: 0;
        }
      }
    }
    &__watch{
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      top: 60px;
      &:before{
        content: "";
        left: 0;
        position: absolute;
        height: 70px;
        width: 15px;
        background-color: #1100C2;
        top: 40px;
        z-index: 1;
      }
    }
  }
  #our-process .content{
    margin-top: 10px;
    padding: 0;
  }
  .opr__images{
    width: 270px;
    height: 270px;
    background-size: contain;
  }
  .opr__point{
    width: 440px;
    &:nth-child(odd){
      height: 240px;
      .opr__images{
        right: -290px;
      }
    }
    &:nth-child(even) .opr__images{
      left: -290px;
    }
  }
  .footer__header:before{
    width: 1350px;
    top: -170px;
  }
  #contacts{
    margin-bottom: 120px;
  }
  .footer__header {
    .container{
      flex-direction: column;
      padding: 10px 0 10px 25%;
      justify-content: space-around;
      align-items: flex-start;
    }
  }
  .footer__nav-bar{
    .header__nav-bar{
      margin-left: auto;
      margin-bottom: 25px;
    }
    .header__logo{
      order: 1;
      margin-left: auto;
      margin-bottom: 10px;
    }
  }
  .copy-right{
    width: 100%;
    text-align: center;
    margin-bottom: 40px;
  }
}
@media screen and (max-width: 767px){
  #header-nav-bar{

  }
  .header__contact-btn{
    left: -30px;
    position: relative;
    .button-ghost{
      width: 0;
      padding: 0;
      border-color: transparent;
      span{
        display: none;
      }
    }
  }
  .header__logo{
    margin-left: auto;
  }
  #collapse__nav-bar{
    left: 30px;
  }
  .header .header__nav-bar.collapse{
    flex-wrap: wrap;
  }
  #lang-select{
    &:before{
      background-size: 310px;
      right: -620px;
      top: 40px;
    }
  }
  .lang-select{
    margin-top: 365px;
    padding-left: 20px;
  }
  #contact-us-now{
    padding-right: 25px;
    padding-left: 25px;
    h1{
      font-size: 28px;
      line-height: 36px;
      width: 100%;
      margin-bottom: 45px;
      &:before{
        font-size: 70px;
        bottom: -90px;
      }
    }
  }
  #about-us{
    margin-top: 70px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 500px;
    &:before{
      right: -300px;
      left: auto;
      transform: scale(-1,1);
    }
  }
  #why-choose-us{
    margin-top: 50px;
  }
  .whu__header + .whu__background{
    top: 100px;
    height: 600px;
  }
  .whu__header{
    margin: 0 auto 0 auto;
  }
  .whu__poligon{
    width: 100%;
    padding-top: 420px;
    &__text{
      width: 100%;
    }
  }
}