@import "var";
@import "mixin";
@import "btn";
body{
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}
a,a:hover{
  text-decoration: none;
  cursor: pointer;
  color: inherit;

}
.sub-line-text{
  display: block;
  @include text($font-rw,22px,26px,$text-color);
  margin-bottom: 30px;
}
.head-line-text{
  display: block;
  @include text($font-rw,36px,42px,$blue);
  margin-bottom: 20px;
  font-weight: 800;
}
#top{
  display: none;
}
#header-nav-bar{
  background-color: white;
  box-shadow: 0 5px 20px 0 rgba(75,101,129,0.4);
  position: fixed;
  z-index: 100;
}
.header{
  height: 85px;
  display: flex;
  align-items: center;
  &__logo{
    cursor: pointer;
  }
  &__nav-bar{
    display: flex;
    justify-content: center;
    a{
      text-decoration: none;
      margin: 0 10px;
      position: relative;
      border-bottom: solid 2px transparent;
      &:hover{
        border-bottom: solid 2px $blue;
      }
      &:first-child:before{
        width: 0;
      }
      &:last-child:before{
        width: 0;
      }
      &:before{
        content: "";
        position: absolute;
        right: -10px;
        bottom: 5px;
        width: 1px;
        height: 13px;
        background-color: $text-color;
      }
      i{
        color: $blue;
        font-size: 20px;
      }
      span{
        @include text($font-rw,14px,17px,$d-blue);
        text-transform: uppercase;
      }
    }
  }
  &__contact-btn{

  }
}
#lang-select{
  position: relative;
  &:before{
    content: "";
    position: absolute;
    top: 0;
    right: -430px;
    height: 900px;
    width: 915px;
    z-index: -1;
    background: url("../img/bg.png") no-repeat;
  }
}
.lang-select{
  margin-top: 185px;
  input{
    display: none;
  }
  label{
    height: 37px;
    width: 37px;
    border: solid 1px transparent;
    background-color: #CED4E0;
    border-radius: 20px;
    cursor: pointer;
    position: relative;
    margin-right: 10px;
    span{
      @include absolut-center;
      display: block;
      white-space: nowrap;
      @include text($font-op,16px,22px,$blue);
    }
    &:hover{
      background-color: transparent;
      border-color: $blue;
    }
  }
}
#lang-1:checked ~ label:nth-of-type(1),
#lang-2:checked ~ label:nth-of-type(2),
#lang-3:checked ~ label:nth-of-type(3){
  background-color: transparent;
  border-color: $blue;
}
#contact-us-now{
  .row{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  h1{
    @include text($font-rw,48px,56px,$blue);
    width: 552px;
    margin-bottom: 75px;
    position: relative;
    &:before{
      content: "syntelect";
      @include text($font-rw,120px,141px,#F4F5F8);
      position: absolute;
      bottom: -120px;
      left: 0;
      z-index: -1;
    }
  }
}
#about-us{
  margin-top: 320px;
  position: relative;
  &:before{
    content: "";
    z-index: -1;
    height: 770px;
    width: 780px;
    position: absolute;
    top: -80px;
    left: -270px;
    background: url("../img/foto_splash_text_1.png")no-repeat;
  }
  .content{
    width: 680px;
    margin-left: auto;
    h2{
      @include text($font-rw,36px,42px,$d-blue);
      margin-bottom: 17px;
    }
    p{
      @include text($font-op,15px,20px,#65738E);
      margin-bottom: 20px;
    }
  }
}
#why-choose-us{
  margin-top: 135px;
  position: relative;
}
.whu{
  &__header{
    margin: 0 auto 270px auto;
    max-width: 680px;
    & + .whu__background{
      top: 50px;
      height: 1000px;
    }
    h2,span{
      text-align: center;
    }
  }
  &__background{
    position: absolute;
    width: 100%;
    img{
      @include absolut-center;
      height: 100%;
    }
  }
  &__poligon{
    z-index: 1;
    width: 800px;
    height: 800px;
    margin: 0 auto 0 auto;
    position: relative;
    background: url("../img/bg_poly+spl.svg")no-repeat;
    &__text{
      @include absolut-center;
      width: 400px;
      h2{
        width: 225px;
        @include text($font-rw,24px,29px,$d-blue);
        text-align: center;
        margin: 0 auto 25px auto;
        font-weight: 800;
      }
      span{
        @include text($font-rw,14px,19px,$d-blue);
        text-align: center;
        display: block;
      }
    }
    &__reason{
      width: 100%;
      height: 100%;
      position: relative;
      a{
        display: block;
        position: absolute;
        cursor: pointer;
        span{
          @include text($font-rw,16px,19px,$text-color);
          text-align: center;
          display: block;
        }
        h2{
          @include text($font-rw,20px,24px,$blue);
          text-align: center;
          font-weight: 600;
        }
        &:hover{
          h2{
            color: $d-blue;
          }
          .whu__poligon__ico{
            background-color: #CFF1FF;
            img:nth-child(2){
              display: none;
            }
            img:nth-child(3){
              display: block;
            }
            & > div{
              border-bottom: solid 2px $d-blue;
              & > div{
                border-bottom: solid 2px $d-blue;
                & > div{
                  background-color: $blue;
                }
              }
            }
          }
        }
      }
    }
    &__ico{
      height: 63px;
      width: 63px;
      background-color: $blue;
      box-shadow: 5px 5px 20px 0 rgba(75,101,129,0.4);
      border-radius: 32px;
      position: absolute;
      img{
        @include absolut-center;
        z-index: 2;
      }
      img:nth-child(2){
        display: block;
      }
      img:nth-child(3){
        display: none;
      }
      & > div{
        transform-origin: left 50%;
        transform: rotate(50deg);
        z-index: -1;
        position: absolute;
        top: 50%;
        left: 50%;
        height: 1px;
        min-width: 100px;
        border-bottom: dashed 2px #6D94C0;
        & > div{
          transform-origin: left 50%;
          transform: rotate(50deg);
          position: absolute;
          top: 50%;
          left: 100%;
          height: 1px;
          min-width: 200px;
          border-bottom: dashed 2px #6D94C0;
          & > div{
            position: absolute;
            top: 1px;
            left: 100%;
            transform: translate(-50%,-50%);
            height: 12px;
            width: 12px;
            border-radius: 6px;
            background-color: $d-blue;
          }
        }
      }
    }
  }
}
#reason-1{
  top: -70px;
  left: 50%;
  transform: translateX(-50%);
  .whu__poligon__ico{
    top: 170px;
    left: calc(50% - 32px);
    & > div{
      transform: rotate(-55deg);
      width: 175px;
      & > div{
        transform: rotate(-125deg);
      }
    }
  }
}
#reason-2{
  width: 200px;
  top: 70px;
  left: 100%;
  transform: translateX(-50%);
  .whu__poligon__ico{
    top: 110px;
    left: -160px;
    & > div{
      transform: rotate(-40deg);
      width: 135px;
      & > div{
        transform: rotate(40deg);
        width: 250px;
      }
    }
  }
}
#reason-3{
  width: 200px;
  top: 70px;
  left: 100%;
  transform: translateX(-50%);
  .whu__poligon__ico{
    top: 110px;
    left: -160px;
    & > div{
      transform: rotate(-40deg);
      width: 135px;
      & > div{
        transform: rotate(40deg);
        width: 250px;
      }
    }
  }
}
#reason-4{
  width: 200px;
  top: 70px;
  left: 100%;
  transform: translateX(-50%);
  .whu__poligon__ico{
    top: 110px;
    left: -160px;
    & > div{
      transform: rotate(-40deg);
      width: 135px;
      & > div{
        transform: rotate(40deg);
        width: 250px;
      }
    }
  }
}
#reason-5{
  width: 200px;
  top: 70px;
  left: 100%;
  transform: translateX(-50%);
  .whu__poligon__ico{
    top: 110px;
    left: -160px;
    & > div{
      transform: rotate(-40deg);
      width: 135px;
      & > div{
        transform: rotate(40deg);
        width: 250px;
      }
    }
  }
}
#reason-6{
  width: 200px;
  top: 70px;
  left: 100%;
  transform: translateX(-50%);
  .whu__poligon__ico{
    top: 110px;
    left: -160px;
    & > div{
      transform: rotate(-40deg);
      width: 135px;
      & > div{
        transform: rotate(40deg);
        width: 250px;
      }
    }
  }
}
#reason-7{
  width: 200px;
  top: 70px;
  left: 100%;
  transform: translateX(-50%);
  .whu__poligon__ico{
    top: 110px;
    left: -160px;
    & > div{
      transform: rotate(-40deg);
      width: 135px;
      & > div{
        transform: rotate(40deg);
        width: 250px;
      }
    }
  }
}
#reason-8{
  width: 200px;
  top: 70px;
  left: 100%;
  transform: translateX(-50%);
  .whu__poligon__ico{
    top: 110px;
    left: -160px;
    & > div{
      transform: rotate(-40deg);
      width: 135px;
      & > div{
        transform: rotate(40deg);
        width: 250px;
      }
    }
  }
}
