@import "var";
@import "mixin";
@import "btn";
body{
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}
a,a:hover{
  text-decoration: none;
  cursor: pointer;
  color: inherit;

}
#top{
  display: none;
}
#header-nav-bar{
  background-color: white;
  box-shadow: 0 5px 20px 0 rgba(75,101,129,0.4);
  position: fixed;
  z-index: 100;
}
.header{
  height: 85px;
  display: flex;
  align-items: center;
  &__logo{
    cursor: pointer;
  }
  &__nav-bar{
    display: flex;
    justify-content: center;
    a{
      text-decoration: none;
      margin: 0 10px;
      position: relative;
      border-bottom: solid 2px transparent;
      &:hover{
        border-bottom: solid 2px $blue;
      }
      &:first-child:before{
        width: 0;
      }
      &:last-child:before{
        width: 0;
      }
      &:before{
        content: "";
        position: absolute;
        right: -10px;
        bottom: 5px;
        width: 1px;
        height: 13px;
        background-color: $text-color;
      }
      i{
        color: $blue;
        font-size: 20px;
      }
      span{
        @include text($font-rw,14px,17px,$d-blue);
        text-transform: uppercase;
      }
    }
  }
  &__contact-btn{

  }
}
#lang-select{
  position: relative;
  &:before{
    content: "";
    position: absolute;
    top: 0;
    right: -430px;
    height: 900px;
    width: 915px;
    z-index: -1;
    background: url("../img/bg.png") no-repeat;
  }
}
.lang-select{
  margin-top: 185px;
  input{
    display: none;
  }
  label{
    height: 37px;
    width: 37px;
    border: solid 1px transparent;
    background-color: #CED4E0;
    border-radius: 20px;
    cursor: pointer;
    position: relative;
    margin-right: 10px;
    span{
      @include absolut-center;
      display: block;
      white-space: nowrap;
      @include text($font-op,16px,22px,$blue);
    }
    &:hover{
      background-color: transparent;
      border-color: $blue;
    }
  }
}
#lang-1:checked ~ label:nth-of-type(1),
#lang-2:checked ~ label:nth-of-type(2),
#lang-3:checked ~ label:nth-of-type(3){
  background-color: transparent;
  border-color: $blue;
}
#contact-us-now{
  .row{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  h1{
    @include text($font-rw,48px,56px,$blue);
    width: 552px;
    margin-bottom: 75px;
    position: relative;
    &:before{
      content: "syntelect";
      @include text($font-rw,120px,141px,#F4F5F8);
      position: absolute;
      bottom: -120px;
      left: 0;
      z-index: -1;
    }
  }
}
#about-us{
  margin-top: 320px;
  position: relative;
  &:before{
    content: "";
    z-index: -1;
    height: 770px;
    width: 780px;
    position: absolute;
    top: -80px;
    left: -270px;
    background: url("../img/foto_splash_text_1.png")no-repeat;
  }
  .content{
    width: 680px;
    margin-left: auto;
    h2{
      @include text($font-rw,36px,42px,$d-blue);
      margin-bottom: 17px;
    }
    span{
      display: block;
      @include text($font-rw,22px,26px,#65738E);
      margin-bottom: 30px;
    }
    p{
      @include text($font-op,15px,20px,#65738E);
      margin-bottom: 20px;
    }
  }
}
