button, button:active, button:hover, button:visited,button:focus{
  outline: none;
  cursor: pointer;
}
.btn-ghost__red{
  background-color: transparent;
  border: 2px solid $color-red;
  color: $color-red;
  font-family: "Open Sans Condensed",sans-serif;
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  height: 42px;
  padding: 0 30px;
}
.btn-tabs{
  font-family: "Open Sans",sans-serif;
  font-size: 20px;
  font-weight: bold;
  line-height: 27px;
  color: $color-red;
  position: relative;
  margin-bottom: 30px;
  background-color: transparent;
  border: none;
  text-align: left;
  display: inline-block;
  &:before{
    content: "";
    position: absolute;
    height: 20px;
    width: 10px;
    background: url("../img/Svg/caret_right.svg")no-repeat;
    background-size: 10px 20px;
    bottom: 3px;
    right: -20px;
  }
  &.active{
    color: $color-blue;
  }
}