@import "var";
@import "mixin";
@import "btn";
body{
  height: 100%;
  margin: 0;
  padding: 0;
}
header{
  position: relative;
  padding-bottom: 47px;
}
a,a:hover,a:visited{
  text-decoration: none;
  color: inherit;
}
#header__gubarev{
  z-index: 10;
  background-color: #FFFFFF;
  box-shadow: 0 -1px 4px 0 rgba(15,52,111,0.1), 1px 2px 4px 0 rgba(15,52,111,0.25);
  height: 73px;
  position: fixed;
  top: 0;
  left: 0;
  .row{
    height: 73px;
  }
}
.header__gubarev{
  &__blue-block{
    background-color: #0F346F;
    height: 100%;
    h1{
      width: 100%;
      line-height: 72px;
      color: white;
      text-align: center;
      margin: 0;
      font-family: "Open Sans Condensed",sans-serif;
      font-size: 30px;
      font-weight: bold;
    }
  }
  &__social{
    a{
      margin: 0 12px;
      height: 20px;
      width: 20px;
      img{
        width: 20px;
      }
    }
  }
  display: flex;
  justify-content: space-between;
  align-items: center;
  h2{
    font-family: "Open Sans Condensed",sans-serif;
    font-size: 20px;
    line-height: 27px;
    color: $color-blue;
    font-weight: bold;
    margin: 0 0 0 50px;
    b{
      font-size: 20px;
      line-height: 27px;
      color: $color-red;
      font-weight: bold;
    }
  }
  p{
    font-family: "Open Sans Condensed",sans-serif;
    font-size: 20px;
    line-height: 27px;
    font-weight: 300;
    color: $color-blue;
    margin: 0;
  }
}
#gubarev__slovo{
  margin-top: 73px;
  background: url("../img/slider.png")0 0 no-repeat;
  background-size:auto 100%;
  height: 555px;
  background-color: #f5fffe;
}
.gubarev__slovo{
  padding-top: 90px;
  h3{
    font-family: "Open Sans",sans-serif;
    font-size: 36px;
    line-height: 49px;
    font-weight: bold;
    color: $color-blue;
    position: relative;
    margin: 0;
    &:before{
      content: "";
      position: absolute;
      top: 0;
      left: 320px;
      background: url("../img/flag.svg")no-repeat;
      width: 62px;
      height: 50px;
    }
  }
  h2{
    font-family: "Open Sans",sans-serif;
    font-size: 36px;
    line-height: 49px;
    font-weight: bold;
    color: $color-red;
    margin: 0;
  }
  p{
    margin: 40px 0 20px 0;
    font-family: "Open Sans",sans-serif;
    color: $color-text-d;
    font-size: 30px;
    font-weight: 600;
    line-height: 41px;
  }
  span{
    display: block;
    font-family: "Open Sans Condensed",sans-serif;
    font-weight: bold;
    text-align: right;
    color: $color-red;
    font-size: 20px;
    line-height: 27px;
  }
}
#nav-bar{
  position: absolute;
  left: 0;
  bottom: 0;
  height: 47px;
  background-color: $color-white;
  div{
    display: flex;
    justify-content: center;
  }
  a{
    font-family: "Open Sans Condensed",sans-serif;
    font-weight: bold;
    color: $color-blue;
    font-size: 18px;
    line-height: 47px;
    margin: 0 13px;
    img{
      height: 18px;
      width: 18px;
    }
  }
}
#gubarev-accost{
  height: 700px;
  box-shadow: 0 -1px 4px 0 rgba(15,52,111,0.1), 1px 2px 4px 0 rgba(15,52,111,0.25);
}
.gubarev-accost{
  &__foto{
    height: 700px;
    padding: 0;
    overflow: hidden;
    position: relative;
    img{
      position: absolute;
      top: 0;
      left: -225px;
    }
  }
  &__text{
    background-color: $color-red;
    height: 700px;
    padding: 50px;
    &__wrapper{
      height: 600px;
      overflow-y: auto;
      h2{
        font-family: "Open Sans",sans-serif;
        font-weight: bold;
        color: white;
        font-size: 24px;
        line-height: 26px;
        margin-bottom: 15px;
        text-transform: uppercase;
      }
      h3{
        font-family: "Open Sans",sans-serif;
        font-weight: bold;
        color: white;
        font-size: 16px;
        line-height: 18px;
        margin-bottom: 15px;
      }
      p{
        font-family: "Open Sans",sans-serif;
        font-weight: normal;
        color: white;
        font-size: 16px;
        line-height: 18px;
        margin-bottom: 15px;
      }
    }
  }
}
#biography{
padding-top: 75px;
  padding-bottom: 60px;
}
.biography{
  &__header{
    width: 100%;
    margin-bottom: 50px;
    font-family: "Open Sans Condensed",sans-serif;
    color: $color-blue;
    font-size: 30px;
    font-weight: bold;
    line-height: 41px;
    padding-left: 95px;
  }
  &__tabs{
    padding-left: 95px;
    padding-right: 180px;
    height: 550px;
  }
  &__content{
    height: 550px;
    &__point{
      float: right;
      overflow-y: auto;
      height: 550px;
      width: 515px;
      padding-right: 30px;
      display: none;
      p{
        font-family: "Open Sans",sans-serif;
        font-size: 16px;
        line-height: 18px;
        color: $color-text-d;
        margin-bottom: 15px;
      }
      &.active{
        display: block;
      }
    }
  }
  &__news{
    padding-top: 35px;
    display: flex;
    justify-content: space-between;
    &__card{
      width: 30%;
      &__img{
        height: 225px;
        overflow: hidden;
        margin-bottom: 20px;
        img{
          width: 100%;
        }
      }
      p{
        font-family: "Open Sans",sans-serif;
        font-size: 14px;
        font-style: italic;
        line-height: 19px;
        color: $color-text-g;
      }
    }
  }
}
#quote{
  background-color: $color-white;
  padding: 70px 0 50px 0;
}
.quote{
  width: 670px;
  margin: 0 auto;
  &__text{
    border: solid 5px white;
    position: relative;
    padding: 50px 30px;
    margin-bottom: 25px;
    position: relative;
    &:before{
      content: "";
      position: absolute;
      height: 32px;
      width: 45px;
      background: url("../img/Svg/quote.svg")no-repeat;
      background-size: 100%;
      top: -15px;
      left: 30px;
    }
    p{
      font-family: "Open Sans",sans-serif;
      font-size: 20px;
      font-style: italic;
      line-height: 27px;
      color: $color-text-d;
    }
  }
  h2{
    font-family: "Open Sans Condensed",sans-serif;
    font-size: 20px;
    line-height: 27px;
    font-weight: bold;
    color: $color-red;
    text-align: right;
    float: right;
  }
  &__radio{
    display: inline-block;
    &__imitation{
      width: 10px;
      height: 10px;
      background-color: #A9B8D0;
      border-radius: 5px;
      margin-right: 15px;
      display: inline-block;
      cursor: pointer;
      &.active{
        background-color: $color-red;
      }
    }
  }
}