@font-face {
  font-family: "Glober";
  src: url("../font/GloberRegular.otf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Glober";
  src: url("../font/GloberBold.otf");
  font-weight: bold;
  font-style: normal;
}