.container.test-js{
  position: relative;
}
.button-bar.test-js{
  position: relative;
}
.button-bar__btn.test-js{
  position: absolute;
  top: 50%;
  transform: translate(-50%,-50%);
  &:nth-child(1){
    left: -40%;
  }
  &:nth-child(2){
    left: calc(0% + 210px);
  }
  &:nth-child(3){
    left: 50%;
  }
  &:nth-child(4){
    left: calc(100% - 210px);
  }
  &:nth-child(5){
    left: 140%;
  }
}
#js-test-div{
  margin-top: 500px;
}