@media screen and (max-width: 1199px) {
  /* line 2, ../sass/media.scss */
  .header__nav-bar a span {
    font-size: 13px;
  }

  /* line 5, ../sass/media.scss */
  #about-us:before {
    left: -370px;
  }

  /* line 8, ../sass/media.scss */
  .whu__poligon {
    transform: scale(0.8);
  }

  /* line 11, ../sass/media.scss */
  .services__table__control__point span {
    max-width: 80%;
  }

  /* line 14, ../sass/media.scss */
  .services__table__watch__point h2 {
    font-size: 32px;
    line-height: 38px;
  }

  /* line 19, ../sass/media.scss */
  .footer__header i {
    margin-right: 8px;
  }
  /* line 22, ../sass/media.scss */
  .footer__header span {
    font-size: 15px;
  }
  /* line 24, ../sass/media.scss */
  .footer__header span b {
    font-size: 18px;
  }

  /* line 29, ../sass/media.scss */
  .footer__nav-bar {
    height: 90px;
  }

  /* line 32, ../sass/media.scss */
  .footer__nav-bar .container {
    flex-wrap: wrap;
    padding-top: 20px;
  }

  /* line 36, ../sass/media.scss */
  .header__nav-bar {
    margin-left: 15px;
  }

  /* line 39, ../sass/media.scss */
  .copy-right {
    order: 1;
    margin-left: 0;
  }
}
@media screen and (max-width: 991px) {
  /* line 45, ../sass/media.scss */
  .header .header__nav-bar {
    order: 2;
    margin: 0 auto;
    height: 0;
    overflow: hidden;
  }
  /* line 50, ../sass/media.scss */
  .header .header__nav-bar.collapse {
    height: auto;
    padding-bottom: 20px;
  }
  /* line 54, ../sass/media.scss */
  .header .header__nav-bar a:first-of-type {
    display: none;
  }
  /* line 57, ../sass/media.scss */
  .header .header__nav-bar a:before {
    width: 0;
  }

  /* line 62, ../sass/media.scss */
  .header__logo {
    margin-left: 80px;
    margin-right: auto;
  }
  /* line 66, ../sass/media.scss */
  .header__contact-btn {
    order: 1;
    height: 85px;
    display: flex;
    align-items: center;
  }

  /* line 73, ../sass/media.scss */
  #collapse__nav-bar {
    display: block;
  }

  /* line 76, ../sass/media.scss */
  #lang-select:before {
    background-size: 430px;
    right: -510px;
  }

  /* line 80, ../sass/media.scss */
  #about-us .content {
    width: 500px;
  }
  /* line 82, ../sass/media.scss */
  #about-us .content .sub-line-text {
    text-align: left;
  }

  /* line 86, ../sass/media.scss */
  #about-us:before {
    background-size: 500px;
    top: -10px;
    left: -300px;
  }

  /* line 91, ../sass/media.scss */
  .whu__header + .whu__background {
    top: 80px;
    height: 500px;
  }

  /* line 95, ../sass/media.scss */
  .whu__header {
    margin: 0 auto 20px auto;
  }

  /* line 98, ../sass/media.scss */
  .whu__poligon {
    width: 330px;
    height: auto;
    background-size: contain;
    transform: scale(1);
    padding-top: 350px;
  }
  /* line 104, ../sass/media.scss */
  .whu__poligon__text {
    top: 40px;
    transform: translate(-50%, 0%);
  }
  /* line 108, ../sass/media.scss */
  .whu__poligon__reason {
    width: 700px;
    left: 50%;
    transform: translate(-50%, 0%);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  /* line 115, ../sass/media.scss */
  .whu__poligon__reason span, .whu__poligon__reason h2 {
    text-align: left !important;
  }
  /* line 118, ../sass/media.scss */
  .whu__poligon__reason a {
    position: relative;
    top: 0 !important;
    left: 25% !important;
    width: calc(50% - 20px) !important;
    padding-left: 80px;
    min-height: 65px;
    margin-bottom: 20px;
    padding-top: 7px;
  }
  /* line 129, ../sass/media.scss */
  .whu__poligon__ico {
    top: 0 !important;
    left: 0 !important;
  }
  /* line 132, ../sass/media.scss */
  .whu__poligon__ico div {
    display: none;
  }
  /* line 136, ../sass/media.scss */
  .whu__poligon__coments {
    position: relative;
    margin-top: 20px;
    width: calc(100% + 75px);
    left: -75px;
    display: block !important;
  }

  /* line 144, ../sass/media.scss */
  .whu__poligon + .whu__background {
    top: calc(100% - 80px);
  }

  /* line 147, ../sass/media.scss */
  #why-choose-us {
    margin-bottom: 80px;
  }

  /* line 150, ../sass/media.scss */
  #services {
    padding-top: 50px;
  }

  /* line 153, ../sass/media.scss */
  .services__table__control__point span {
    max-width: 75%;
  }

  /* line 156, ../sass/media.scss */
  .services__table div.row {
    justify-content: center;
  }

  /* line 159, ../sass/media.scss */
  .services__table {
    position: relative;
  }
  /* line 161, ../sass/media.scss */
  .services__table__control {
    padding-right: 1px;
  }
  /* line 164, ../sass/media.scss */
  .services__table__control__point.active :before {
    width: 0;
  }
  /* line 169, ../sass/media.scss */
  .services__table__watch {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 60px;
  }
  /* line 174, ../sass/media.scss */
  .services__table__watch:before {
    content: "";
    left: 0;
    position: absolute;
    height: 70px;
    width: 15px;
    background-color: #1100C2;
    top: 40px;
    z-index: 1;
  }

  /* line 186, ../sass/media.scss */
  #our-process .content {
    margin-top: 10px;
    padding: 0;
  }

  /* line 190, ../sass/media.scss */
  .opr__images {
    width: 270px;
    height: 270px;
    background-size: contain;
  }

  /* line 195, ../sass/media.scss */
  .opr__point {
    width: 440px;
  }
  /* line 197, ../sass/media.scss */
  .opr__point:nth-child(odd) {
    height: 240px;
  }
  /* line 199, ../sass/media.scss */
  .opr__point:nth-child(odd) .opr__images {
    right: -290px;
  }
  /* line 203, ../sass/media.scss */
  .opr__point:nth-child(even) .opr__images {
    left: -290px;
  }

  /* line 207, ../sass/media.scss */
  .footer__header:before {
    width: 1350px;
    top: -170px;
  }

  /* line 211, ../sass/media.scss */
  #contacts {
    margin-bottom: 120px;
  }

  /* line 215, ../sass/media.scss */
  .footer__header .container {
    flex-direction: column;
    padding: 10px 0 10px 25%;
    justify-content: space-around;
    align-items: flex-start;
  }

  /* line 223, ../sass/media.scss */
  .footer__nav-bar .header__nav-bar {
    margin-left: auto;
    margin-bottom: 25px;
  }
  /* line 227, ../sass/media.scss */
  .footer__nav-bar .header__logo {
    order: 1;
    margin-left: auto;
    margin-bottom: 10px;
  }

  /* line 233, ../sass/media.scss */
  .copy-right {
    width: 100%;
    text-align: center;
    margin-bottom: 40px;
  }

  /* line 238, ../sass/media.scss */
  .services__table__control__point.active:before {
    width: 0;
  }
}
@media screen and (max-width: 767px) {
  /* line 246, ../sass/media.scss */
  .header__contact-btn {
    left: -30px;
    position: relative;
  }
  /* line 249, ../sass/media.scss */
  .header__contact-btn .button-ghost {
    width: 0;
    padding: 0;
    border-color: transparent;
  }
  /* line 253, ../sass/media.scss */
  .header__contact-btn .button-ghost span {
    display: none;
  }

  /* line 258, ../sass/media.scss */
  .header__logo {
    margin-left: auto;
  }

  /* line 261, ../sass/media.scss */
  #collapse__nav-bar {
    left: 30px;
  }

  /* line 264, ../sass/media.scss */
  .header .header__nav-bar.collapse {
    flex-wrap: wrap;
  }

  /* line 268, ../sass/media.scss */
  #lang-select:before {
    background-size: 310px;
    right: -620px;
    top: 40px;
  }

  /* line 274, ../sass/media.scss */
  .lang-select {
    margin-top: 365px;
    padding-left: 20px;
  }

  /* line 278, ../sass/media.scss */
  #contact-us-now {
    padding-right: 25px;
    padding-left: 25px;
  }
  /* line 281, ../sass/media.scss */
  #contact-us-now h1 {
    font-size: 28px;
    line-height: 36px;
    width: 100%;
    margin-bottom: 45px;
  }
  /* line 286, ../sass/media.scss */
  #contact-us-now h1:before {
    font-size: 70px;
    bottom: -90px;
  }

  /* line 292, ../sass/media.scss */
  #about-us {
    margin-top: 70px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 360px;
  }
  /* line 297, ../sass/media.scss */
  #about-us:before {
    left: auto;
    transform: scale(-1, 1);
    right: -70px;
    background-size: 350px;
    top: -40px;
  }

  /* line 305, ../sass/media.scss */
  #why-choose-us {
    margin-top: 50px;
    margin-bottom: 19px;
  }

  /* line 309, ../sass/media.scss */
  .whu__header + .whu__background {
    top: 100px;
    height: 600px;
  }

  /* line 313, ../sass/media.scss */
  .whu__header {
    margin: 0 auto 0 auto;
  }

  /* line 316, ../sass/media.scss */
  .whu__poligon {
    width: 100%;
    padding-top: 420px;
  }
  /* line 319, ../sass/media.scss */
  .whu__poligon__text {
    width: 100%;
  }
  /* line 322, ../sass/media.scss */
  .whu__poligon__reason {
    width: 100%;
    padding-left: 15px;
  }
  /* line 325, ../sass/media.scss */
  .whu__poligon__reason a {
    width: 100% !important;
    left: 0 !important;
    transform: translateX(0) !important;
  }

  /* line 332, ../sass/media.scss */
  .whu__poligon + .whu__background {
    height: 100px;
  }
  /* line 334, ../sass/media.scss */
  .whu__poligon + .whu__background img {
    top: auto;
    bottom: 0;
    transform: translate(-50%, 0);
    height: auto;
    width: 100%;
  }

  /* line 342, ../sass/media.scss */
  #services {
    padding-top: 30px;
  }

  /* line 345, ../sass/media.scss */
  .services__table__watch:before {
    top: 0;
    left: calc(50% - 38px);
    height: 10px;
    width: 75px;
  }

  /* line 351, ../sass/media.scss */
  .services__table__watch {
    padding: 20px 20px 20px 20px;
  }
  /* line 354, ../sass/media.scss */
  .services__table__watch__point h2 {
    font-size: 22px;
    line-height: 26px;
  }
  /* line 358, ../sass/media.scss */
  .services__table__watch__point p {
    font-size: 14px;
  }

  /* line 363, ../sass/media.scss */
  #services .sub-line-text {
    font-size: 18px;
    line-height: 20px;
  }

  /* line 367, ../sass/media.scss */
  .services__table__watch__point ul li {
    margin-left: 25px;
  }
  /* line 369, ../sass/media.scss */
  .services__table__watch__point ul li:before {
    left: -25px;
  }

  /* line 373, ../sass/media.scss */
  .services__table {
    margin-bottom: 40px;
  }

  /* line 376, ../sass/media.scss */
  #our-process {
    padding-top: 60px;
    margin-bottom: 50px;
  }

  /* line 381, ../sass/media.scss */
  .services__table + .whu__background img {
    top: -1px;
    transform: translate(-50%, 0);
    height: auto;
    width: 100%;
  }

  /* line 388, ../sass/media.scss */
  .opr__point {
    width: 100%;
    padding: 0 5px;
    height: auto !important;
    margin-bottom: 20px;
    overflow: hidden;
  }
  /* line 394, ../sass/media.scss */
  .opr__point:before {
    content: "";
    width: 110px;
    margin: 5px;
    height: 110px;
    float: left;
  }
  /* line 401, ../sass/media.scss */
  .opr__point h2 {
    text-align: left !important;
  }
  /* line 404, ../sass/media.scss */
  .opr__point span {
    text-align: left !important;
  }

  /* line 408, ../sass/media.scss */
  .opr__images {
    right: auto !important;
    left: 0 !important;
    top: 0 !important;
    bottom: auto !important;
    width: 110px !important;
    height: 110px !important;
  }

  /* line 416, ../sass/media.scss */
  #contacts form {
    margin: 0;
  }
}
