/* line 1, ../sass/_btn.scss */
button, button:focus {
  outline: none;
  cursor: pointer;
}

/* line 5, ../sass/_btn.scss */
.button-ghost {
  height: 45px;
  background-color: transparent;
  border-radius: 25px;
  border: solid 2px #1100C2;
  padding: 0 25px;
}
/* line 11, ../sass/_btn.scss */
.button-ghost:hover {
  background-color: #1100C2;
}
/* line 13, ../sass/_btn.scss */
.button-ghost:hover i {
  color: white;
}
/* line 16, ../sass/_btn.scss */
.button-ghost:hover span {
  color: white;
}
/* line 20, ../sass/_btn.scss */
.button-ghost i {
  font-size: 18px;
  color: #1100C2;
  margin-right: 8px;
}
/* line 25, ../sass/_btn.scss */
.button-ghost span {
  font-family: "Open sans", sans-serif;
  font-size: 15px;
  line-height: 20px;
  color: #1100C2;
}

/* line 29, ../sass/_btn.scss */
.button {
  height: 45px;
  background-color: #1100C2;
  border-radius: 25px;
  border: solid 2px #1100C2;
  padding: 0 25px;
  box-shadow: 0 2px 10px 0 #4D5AFF;
}
/* line 36, ../sass/_btn.scss */
.button:hover {
  background-color: #08005A;
  border-color: #08005A;
}
/* line 40, ../sass/_btn.scss */
.button i {
  font-size: 18px;
  color: white;
  margin-right: 8px;
}
/* line 45, ../sass/_btn.scss */
.button span {
  font-family: "Open sans", sans-serif;
  font-size: 15px;
  line-height: 20px;
  color: white;
}

/* line 49, ../sass/_btn.scss */
.button-lite {
  height: 25px;
  padding: 0 25px;
  border: solid 1px #1100C2;
  border-radius: 8px;
  font-family: "Open sans", sans-serif;
  font-size: 14px;
  line-height: 19px;
  color: #1100C2;
  opacity: 0.6;
  background-color: transparent;
}
/* line 57, ../sass/_btn.scss */
.button-lite:hover {
  background-color: #1100C2;
  color: white;
  opacity: 0.9;
}

/* line 4, ../sass/style.scss */
body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

/* line 10, ../sass/style.scss */
a, a:hover {
  text-decoration: none;
  cursor: pointer;
  color: inherit;
}

/* line 16, ../sass/style.scss */
input:focus {
  outline: none;
}

/* line 19, ../sass/style.scss */
.sub-line-text {
  display: block;
  font-family: "Raleway";
  font-size: 22px;
  line-height: 26px;
  color: #65738E;
  margin-bottom: 30px;
}
/* line 23, ../sass/style.scss */
.sub-line-text, .sub-line-text centre {
  text-align: center;
}

/* line 27, ../sass/style.scss */
.head-line-text {
  display: block;
  font-family: "Raleway";
  font-size: 36px;
  line-height: 42px;
  color: #1100C2;
  margin-bottom: 20px;
  font-weight: 800;
}
/* line 32, ../sass/style.scss */
.head-line-text, .head-line-text centre {
  margin-left: auto;
  margin-right: auto;
}

/* line 37, ../sass/style.scss */
#top {
  display: none;
}

/* line 40, ../sass/style.scss */
#header-nav-bar {
  background-color: white;
  box-shadow: 0 5px 20px 0 rgba(75, 101, 129, 0.4);
  position: fixed;
  z-index: 100;
}

/* line 46, ../sass/style.scss */
.header {
  height: 85px;
  display: flex;
  align-items: center;
}
/* line 50, ../sass/style.scss */
.header__logo {
  cursor: pointer;
}
/* line 53, ../sass/style.scss */
.header__nav-bar {
  display: flex;
  justify-content: center;
}
/* line 56, ../sass/style.scss */
.header__nav-bar a {
  text-decoration: none;
  margin: 0 10px;
  position: relative;
  border-bottom: solid 2px transparent;
}
/* line 61, ../sass/style.scss */
.header__nav-bar a:hover {
  border-bottom: solid 2px #1100C2;
}
/* line 64, ../sass/style.scss */
.header__nav-bar a:first-child:before {
  width: 0;
}
/* line 67, ../sass/style.scss */
.header__nav-bar a:last-child:before {
  width: 0;
}
/* line 70, ../sass/style.scss */
.header__nav-bar a:before {
  content: "";
  position: absolute;
  right: -10px;
  bottom: 5px;
  width: 1px;
  height: 13px;
  background-color: #65738E;
}
/* line 79, ../sass/style.scss */
.header__nav-bar a i {
  color: #1100C2;
  font-size: 20px;
}
/* line 83, ../sass/style.scss */
.header__nav-bar a span {
  font-family: "Raleway";
  font-size: 14px;
  line-height: 17px;
  color: #08005A;
  text-transform: uppercase;
}

/* line 93, ../sass/style.scss */
#lang-select {
  position: relative;
}
/* line 95, ../sass/style.scss */
#lang-select:before {
  content: "";
  position: absolute;
  top: 0;
  right: -430px;
  height: 900px;
  width: 915px;
  z-index: -1;
  background: url("../img/bg.png") no-repeat;
}

/* line 106, ../sass/style.scss */
.lang-select {
  margin-top: 185px;
}
/* line 108, ../sass/style.scss */
.lang-select input {
  display: none;
}
/* line 111, ../sass/style.scss */
.lang-select label {
  height: 37px;
  width: 37px;
  border: solid 1px transparent;
  background-color: #CED4E0;
  border-radius: 20px;
  cursor: pointer;
  position: relative;
  margin-right: 10px;
}
/* line 120, ../sass/style.scss */
.lang-select label span {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: block;
  white-space: nowrap;
  font-family: "Open sans", sans-serif;
  font-size: 16px;
  line-height: 22px;
  color: #1100C2;
}
/* line 126, ../sass/style.scss */
.lang-select label:hover {
  background-color: transparent;
  border-color: #1100C2;
}

/* line 132, ../sass/style.scss */
#lang-1:checked ~ label:nth-of-type(1),
#lang-2:checked ~ label:nth-of-type(2),
#lang-3:checked ~ label:nth-of-type(3) {
  background-color: transparent;
  border-color: #1100C2;
}

/* line 139, ../sass/style.scss */
#contact-us-now .row {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
/* line 144, ../sass/style.scss */
#contact-us-now h1 {
  font-family: "Raleway";
  font-size: 48px;
  line-height: 56px;
  color: #1100C2;
  width: 552px;
  margin-bottom: 75px;
  position: relative;
}
/* line 149, ../sass/style.scss */
#contact-us-now h1:before {
  content: "syntelect";
  font-family: "Raleway";
  font-size: 120px;
  line-height: 141px;
  color: #F4F5F8;
  position: absolute;
  bottom: -120px;
  left: 0;
  z-index: -1;
}

/* line 159, ../sass/style.scss */
#about-us {
  margin-top: 320px;
  position: relative;
}
/* line 162, ../sass/style.scss */
#about-us:before {
  content: "";
  z-index: -1;
  height: 770px;
  width: 780px;
  position: absolute;
  top: -80px;
  left: -270px;
  background: url("../img/foto_splash_text_1.png") no-repeat;
}
/* line 172, ../sass/style.scss */
#about-us .content {
  width: 680px;
  margin-left: auto;
}
/* line 175, ../sass/style.scss */
#about-us .content h2 {
  font-family: "Raleway";
  font-size: 36px;
  line-height: 42px;
  color: #08005A;
  margin-bottom: 17px;
}
/* line 179, ../sass/style.scss */
#about-us .content p {
  font-family: "Open sans", sans-serif;
  font-size: 15px;
  line-height: 20px;
  color: #65738E;
  margin-bottom: 20px;
}

/* line 185, ../sass/style.scss */
#why-choose-us {
  margin-top: 135px;
  position: relative;
  margin-bottom: 160px;
}

/* line 191, ../sass/style.scss */
.whu__header {
  margin: 0 auto 270px auto;
  max-width: 680px;
}
/* line 194, ../sass/style.scss */
.whu__header + .whu__background {
  top: 50px;
  height: 1000px;
}
/* line 198, ../sass/style.scss */
.whu__header h2, .whu__header span {
  text-align: center;
}
/* line 202, ../sass/style.scss */
.whu__background {
  position: absolute;
  width: 100%;
}
/* line 205, ../sass/style.scss */
.whu__background img {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  height: 100%;
}
/* line 210, ../sass/style.scss */
.whu__poligon {
  z-index: 1;
  width: 800px;
  height: 800px;
  margin: 0 auto 0 auto;
  position: relative;
  background: url("../img/bg_poly+spl.svg") no-repeat;
}
/* line 217, ../sass/style.scss */
.whu__poligon__text {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
}
/* line 220, ../sass/style.scss */
.whu__poligon__text h2 {
  width: 225px;
  font-family: "Raleway";
  font-size: 24px;
  line-height: 29px;
  color: #08005A;
  text-align: center;
  margin: 0 auto 25px auto;
  font-weight: 800;
}
/* line 227, ../sass/style.scss */
.whu__poligon__text span {
  padding: 0 20px 20px 20px;
  font-family: "Raleway";
  font-size: 14px;
  line-height: 19px;
  color: #08005A;
  text-align: center;
  display: block;
}
/* line 234, ../sass/style.scss */
.whu__poligon__reason {
  width: 100%;
  height: 100%;
  position: relative;
}
/* line 238, ../sass/style.scss */
.whu__poligon__reason a {
  display: block;
  position: absolute;
  cursor: pointer;
}
/* line 242, ../sass/style.scss */
.whu__poligon__reason a span {
  font-family: "Raleway";
  font-size: 16px;
  line-height: 19px;
  color: #65738E;
  text-align: center;
  display: block;
}
/* line 247, ../sass/style.scss */
.whu__poligon__reason a h2 {
  font-family: "Raleway";
  font-size: 20px;
  line-height: 24px;
  color: #1100C2;
  text-align: center;
  font-weight: 800;
}
/* line 253, ../sass/style.scss */
.whu__poligon__reason a:hover h2 {
  color: #08005A;
}
/* line 256, ../sass/style.scss */
.whu__poligon__reason a:hover .whu__poligon__ico {
  background-color: #CFF1FF;
}
/* line 258, ../sass/style.scss */
.whu__poligon__reason a:hover .whu__poligon__ico img:nth-child(2) {
  display: none;
}
/* line 261, ../sass/style.scss */
.whu__poligon__reason a:hover .whu__poligon__ico img:nth-child(3) {
  display: block;
}
/* line 264, ../sass/style.scss */
.whu__poligon__reason a:hover .whu__poligon__ico > div {
  border-bottom: solid 2px #08005A;
}
/* line 266, ../sass/style.scss */
.whu__poligon__reason a:hover .whu__poligon__ico > div > div {
  border-bottom: solid 2px #08005A;
}
/* line 268, ../sass/style.scss */
.whu__poligon__reason a:hover .whu__poligon__ico > div > div > div {
  background-color: #1100C2;
}
/* line 277, ../sass/style.scss */
.whu__poligon__ico {
  height: 63px;
  width: 63px;
  background-color: #1100C2;
  box-shadow: 5px 5px 20px 0 rgba(75, 101, 129, 0.4);
  border-radius: 32px;
  position: absolute;
}
/* line 284, ../sass/style.scss */
.whu__poligon__ico img {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
}
/* line 288, ../sass/style.scss */
.whu__poligon__ico img:nth-child(2) {
  display: block;
}
/* line 291, ../sass/style.scss */
.whu__poligon__ico img:nth-child(3) {
  display: none;
}
/* line 294, ../sass/style.scss */
.whu__poligon__ico > div {
  transform-origin: left 50%;
  transform: rotate(50deg);
  z-index: -1;
  position: absolute;
  top: 50%;
  left: 50%;
  height: 1px;
  min-width: 100px;
  border-bottom: dashed 2px #6D94C0;
}
/* line 304, ../sass/style.scss */
.whu__poligon__ico > div > div {
  transform-origin: left 50%;
  transform: rotate(50deg);
  position: absolute;
  top: 50%;
  left: 100%;
  height: 1px;
  min-width: 200px;
  border-bottom: dashed 2px #6D94C0;
}
/* line 313, ../sass/style.scss */
.whu__poligon__ico > div > div > div {
  position: absolute;
  top: 1px;
  left: 100%;
  transform: translate(-50%, -50%);
  height: 12px;
  width: 12px;
  border-radius: 6px;
  background-color: #08005A;
}
/* line 326, ../sass/style.scss */
.whu__poligon + .whu__background {
  top: 100%;
  height: 160px;
}

/* line 332, ../sass/style.scss */
#reason-1 {
  top: -70px;
  left: 50%;
  transform: translateX(-50%);
}
/* line 336, ../sass/style.scss */
#reason-1 .whu__poligon__ico {
  top: 170px;
  left: calc(50% - 32px);
}
/* line 339, ../sass/style.scss */
#reason-1 .whu__poligon__ico > div {
  transform: rotate(-55deg);
  width: 175px;
}
/* line 342, ../sass/style.scss */
#reason-1 .whu__poligon__ico > div > div {
  transform: rotate(-125deg);
}

/* line 348, ../sass/style.scss */
#reason-2 {
  width: 200px;
  top: 70px;
  left: calc(100% + 20px);
  transform: translateX(-50%);
}
/* line 353, ../sass/style.scss */
#reason-2 span, #reason-2 h2 {
  text-align: left;
}
/* line 356, ../sass/style.scss */
#reason-2 .whu__poligon__ico {
  top: 110px;
  left: -180px;
}
/* line 359, ../sass/style.scss */
#reason-2 .whu__poligon__ico > div {
  transform: rotate(-35deg);
  width: 155px;
}
/* line 362, ../sass/style.scss */
#reason-2 .whu__poligon__ico > div > div {
  transform: rotate(35deg);
  width: 230px;
}

/* line 369, ../sass/style.scss */
#reason-3 {
  width: 200px;
  top: 355px;
  left: calc(100% + 50px);
  transform: translateX(-50%);
}
/* line 374, ../sass/style.scss */
#reason-3 span, #reason-3 h2 {
  text-align: left;
}
/* line 377, ../sass/style.scss */
#reason-3 .whu__poligon__ico {
  top: -5px;
  left: -140px;
}
/* line 380, ../sass/style.scss */
#reason-3 .whu__poligon__ico > div {
  transform: rotate(15deg);
  width: 100px;
}
/* line 383, ../sass/style.scss */
#reason-3 .whu__poligon__ico > div > div {
  transform: rotate(-15deg);
  width: 210px;
}

/* line 390, ../sass/style.scss */
#reason-4 {
  width: 220px;
  top: calc(100% - 250px);
  left: calc(100% + 30px);
  transform: translateX(-50%);
}
/* line 395, ../sass/style.scss */
#reason-4 span, #reason-4 h2 {
  text-align: left;
}
/* line 398, ../sass/style.scss */
#reason-4 .whu__poligon__ico {
  top: -40px;
  left: -160px;
}
/* line 401, ../sass/style.scss */
#reason-4 .whu__poligon__ico > div {
  transform: rotate(35deg);
  width: 150px;
}
/* line 404, ../sass/style.scss */
#reason-4 .whu__poligon__ico > div > div {
  transform: rotate(-35deg);
  width: 230px;
}

/* line 411, ../sass/style.scss */
#reason-5 {
  width: 200px;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
}
/* line 416, ../sass/style.scss */
#reason-5 .whu__poligon__ico {
  top: -200px;
  left: calc(50% - 32px);
}
/* line 419, ../sass/style.scss */
#reason-5 .whu__poligon__ico > div {
  transform: rotate(125deg);
  width: 190px;
}
/* line 422, ../sass/style.scss */
#reason-5 .whu__poligon__ico > div > div {
  transform: rotate(-125deg);
  width: 230px;
}

/* line 429, ../sass/style.scss */
#reason-6 {
  width: 220px;
  top: calc(100% - 250px);
  left: -30px;
  transform: translateX(-50%);
}
/* line 434, ../sass/style.scss */
#reason-6 span, #reason-6 h2 {
  text-align: right;
}
/* line 437, ../sass/style.scss */
#reason-6 .whu__poligon__ico {
  top: -40px;
  left: calc(100% + 100px);
}
/* line 440, ../sass/style.scss */
#reason-6 .whu__poligon__ico > div {
  transform: rotate(145deg);
  width: 120px;
}
/* line 443, ../sass/style.scss */
#reason-6 .whu__poligon__ico > div > div {
  transform: rotate(35deg);
  width: 230px;
}

/* line 450, ../sass/style.scss */
#reason-7 {
  width: 240px;
  top: 330px;
  left: -50px;
  transform: translateX(-50%);
}
/* line 455, ../sass/style.scss */
#reason-7 span, #reason-7 h2 {
  text-align: right;
}
/* line 458, ../sass/style.scss */
#reason-7 .whu__poligon__ico {
  top: 15px;
  left: calc(100% + 70px);
}
/* line 461, ../sass/style.scss */
#reason-7 .whu__poligon__ico > div {
  transform: rotate(160deg);
  width: 100px;
}
/* line 464, ../sass/style.scss */
#reason-7 .whu__poligon__ico > div > div {
  transform: rotate(20deg);
  width: 260px;
}

/* line 471, ../sass/style.scss */
#reason-8 {
  width: 190px;
  top: 70px;
  left: -20px;
  transform: translateX(-50%);
}
/* line 476, ../sass/style.scss */
#reason-8 span, #reason-8 h2 {
  text-align: right;
}
/* line 479, ../sass/style.scss */
#reason-8 .whu__poligon__ico {
  top: 110px;
  left: calc(100% + 120px);
}
/* line 482, ../sass/style.scss */
#reason-8 .whu__poligon__ico > div {
  transform: rotate(-155deg);
  width: 145px;
}
/* line 485, ../sass/style.scss */
#reason-8 .whu__poligon__ico > div > div {
  transform: rotate(-25deg);
  width: 210px;
}

/* line 492, ../sass/style.scss */
#services {
  padding-top: 100px;
  position: relative;
}
/* line 495, ../sass/style.scss */
#services .head-line-text {
  margin-right: auto;
  margin-left: auto;
}
/* line 499, ../sass/style.scss */
#services .sub-line-text {
  text-align: center;
}

/* line 503, ../sass/style.scss */
.services__table {
  width: 100%;
  margin-top: 100px;
  margin-bottom: 145px;
}
/* line 507, ../sass/style.scss */
.services__table__control {
  background-color: rgba(45, 87, 149, 0.6);
  padding: 1px 0 0 0;
  align-self: flex-start;
}
/* line 511, ../sass/style.scss */
.services__table__control__point {
  background-color: #F4F5F8;
  margin-bottom: 1px;
  padding: 17px 20px 17px 0;
  border-left: solid 5px rgba(45, 87, 149, 0.6);
  cursor: pointer;
  position: relative;
}
/* line 518, ../sass/style.scss */
.services__table__control__point:hover {
  background-color: #CFF1FF;
  border-color: #1100C2;
}
/* line 522, ../sass/style.scss */
.services__table__control__point.active {
  background-color: white;
  border-color: #08005A;
}
/* line 525, ../sass/style.scss */
.services__table__control__point.active:before {
  content: "";
  position: absolute;
  height: calc(100% + 2px);
  width: 15px;
  background-color: #1100C2;
  top: -1px;
  right: -15px;
  z-index: 1;
}
/* line 536, ../sass/style.scss */
.services__table__control__point i {
  vertical-align: top;
  display: inline-block;
  margin-left: 15px;
  color: #1100C2;
  font-size: 20px;
}
/* line 543, ../sass/style.scss */
.services__table__control__point span {
  display: inline-block;
  font-family: "Raleway";
  font-size: 18px;
  line-height: 21px;
  color: #08005A;
  margin-left: 18px;
  max-width: 85%;
}
/* line 551, ../sass/style.scss */
.services__table__watch {
  box-shadow: 0 10px 25px 0 rgba(37, 56, 106, 0.3);
  background-color: white;
  padding: 40px 30px 30px 60px;
}
/* line 555, ../sass/style.scss */
.services__table__watch__point {
  display: none;
}
/* line 557, ../sass/style.scss */
.services__table__watch__point.active {
  display: block;
}
/* line 560, ../sass/style.scss */
.services__table__watch__point h2 {
  font-family: "Raleway";
  font-size: 36px;
  line-height: 42px;
  color: #08005A;
  margin-bottom: 20px;
}
/* line 564, ../sass/style.scss */
.services__table__watch__point span.sub-line-text {
  text-align: left;
  margin-bottom: 20px;
}
/* line 568, ../sass/style.scss */
.services__table__watch__point p {
  display: block;
  font-family: "Open sans", sans-serif;
  font-size: 15px;
  line-height: 20px;
  color: #65738E;
  margin-bottom: 10px;
  max-height: 100px;
  overflow: hidden;
}
/* line 575, ../sass/style.scss */
.services__table__watch__point ul {
  padding: 0;
  list-style-type: none;
}
/* line 578, ../sass/style.scss */
.services__table__watch__point ul span {
  font-family: "Raleway";
  font-size: 20px;
  line-height: 24px;
  color: #08005A;
  margin-bottom: 15px;
  display: block;
}
/* line 583, ../sass/style.scss */
.services__table__watch__point ul li {
  margin-left: 40px;
  position: relative;
  font-family: "Open sans", sans-serif;
  font-size: 14px;
  line-height: 19px;
  color: #65738E;
  margin-bottom: 10px;
}
/* line 588, ../sass/style.scss */
.services__table__watch__point ul li:before {
  content: "\f00c";
  font-family: FontAwesome;
  display: block;
  position: absolute;
  left: -40px;
  font-size: 20px;
  color: #1100C2;
}
/* line 599, ../sass/style.scss */
.services__table__watch__point__images {
  margin-bottom: 20px;
}
/* line 601, ../sass/style.scss */
.services__table__watch__point__images img {
  width: 100%;
}
/* line 607, ../sass/style.scss */
.services__table + .whu__background {
  height: 160px;
  bottom: -160px;
}

/* line 612, ../sass/style.scss */
#our-process {
  padding-top: 150px;
  margin-bottom: 145px;
}
/* line 615, ../sass/style.scss */
#our-process .content {
  margin-top: 60px;
  width: 100%;
  padding: 0 50px;
}
/* line 620, ../sass/style.scss */
#our-process .button-ghost {
  margin-left: auto;
  margin-right: auto;
}

/* line 626, ../sass/style.scss */
.opr__point {
  display: block;
  width: 490px;
  position: relative;
  margin-bottom: 55px;
}
/* line 631, ../sass/style.scss */
.opr__point h2 {
  font-family: "Raleway";
  font-size: 20px;
  line-height: 24px;
  color: #1100C2;
  margin-bottom: 10px;
  font-weight: 800;
}
/* line 636, ../sass/style.scss */
.opr__point span {
  font-family: "Raleway";
  font-size: 14px;
  line-height: 19px;
  color: #65738E;
  display: block;
}
/* line 640, ../sass/style.scss */
.opr__point:nth-child(odd) {
  height: 340px;
  margin-right: auto;
}
/* line 643, ../sass/style.scss */
.opr__point:nth-child(odd) h2 {
  text-align: right;
}
/* line 646, ../sass/style.scss */
.opr__point:nth-child(odd) span {
  text-align: right;
}
/* line 649, ../sass/style.scss */
.opr__point:nth-child(odd) .opr__images {
  top: 0;
  right: -400px;
}
/* line 654, ../sass/style.scss */
.opr__point:nth-child(even) {
  margin-left: auto;
}
/* line 656, ../sass/style.scss */
.opr__point:nth-child(even) h2 {
  text-align: left;
}
/* line 659, ../sass/style.scss */
.opr__point:nth-child(even) span {
  text-align: left;
}
/* line 662, ../sass/style.scss */
.opr__point:nth-child(even) .opr__images {
  bottom: 0;
  left: -400px;
}
/* line 668, ../sass/style.scss */
.opr__images {
  position: absolute;
  width: 340px;
  height: 340px;
  background: url("../img/ico_splash.svg") no-repeat;
}

/* line 675, ../sass/style.scss */
#contacts {
  margin-bottom: 280px;
}
/* line 677, ../sass/style.scss */
#contacts form {
  width: 100%;
}
/* line 679, ../sass/style.scss */
#contacts form .button {
  padding-right: 65px;
  padding-left: 65px;
}
/* line 683, ../sass/style.scss */
#contacts form h2 {
  font-family: "Raleway";
  font-size: 20px;
  line-height: 24px;
  color: #1100C2;
  margin-bottom: 15px;
  font-weight: 800;
}
/* line 688, ../sass/style.scss */
#contacts form p {
  font-family: "Open sans", sans-serif;
  font-size: 15px;
  line-height: 20px;
  color: #65738E;
  margin-bottom: 25px;
}
/* line 692, ../sass/style.scss */
#contacts form input, #contacts form textarea {
  height: 45px;
  background-color: white;
  border: 1px solid #9EAAC2;
  width: 100%;
  margin-bottom: 20px;
  padding-left: 10px;
  font-family: "Open sans", sans-serif;
  font-size: 16px;
  line-height: 22px;
  color: #1100C2;
}
/* line 701, ../sass/style.scss */
#contacts form textarea {
  min-height: 100px;
}
/* line 704, ../sass/style.scss */
#contacts form label {
  position: relative;
  height: 45px;
  background-color: white;
  border: 1px solid #9EAAC2;
  width: 100%;
  margin-bottom: 20px;
  padding-left: 10px;
}
/* line 712, ../sass/style.scss */
#contacts form label input {
  display: none;
}
/* line 715, ../sass/style.scss */
#contacts form label span {
  display: inline-block;
}
/* line 718, ../sass/style.scss */
#contacts form label span:first-of-type {
  font-family: "Open sans", sans-serif;
  font-size: 16px;
  line-height: 42px;
  color: #65738E;
}
/* line 721, ../sass/style.scss */
#contacts form label span:last-of-type {
  position: absolute;
  top: 0;
  right: 0;
  padding: 0 20px;
  margin-left: auto;
  background-color: #6D94C0;
  font-family: "Open sans", sans-serif;
  font-size: 14px;
  line-height: 44px;
  color: white;
}

/* line 737, ../sass/style.scss */
.footer__header {
  position: relative;
  width: 100%;
  height: 150px;
  border-top: 5px solid #CED4E0;
  border-bottom: 1px solid #CED4E0;
  background-color: #F4F5F8;
}
/* line 744, ../sass/style.scss */
.footer__header:before {
  content: "";
  z-index: -1;
  position: absolute;
  width: 2000px;
  height: 300px;
  background: url("../img/dots_wave.svg") no-repeat;
  background-size: 100%,1000px;
  left: 50%;
  transform: translateX(-50%);
  top: -290px;
}

/* line 764, ../sass/style.scss */
#bottom {
  display: none;
}
