/* line 1, ../sass/_btn.scss */
button, button:focus {
  outline: none;
  cursor: pointer;
}

/* line 5, ../sass/_btn.scss */
.button-ghost {
  height: 45px;
  background-color: transparent;
  border-radius: 25px;
  border: solid 2px #1100C2;
  padding: 0 25px;
}
/* line 11, ../sass/_btn.scss */
.button-ghost:hover {
  background-color: #1100C2;
}
/* line 13, ../sass/_btn.scss */
.button-ghost:hover i {
  color: white;
}
/* line 16, ../sass/_btn.scss */
.button-ghost:hover span {
  color: white;
}
/* line 20, ../sass/_btn.scss */
.button-ghost i {
  font-size: 18px;
  color: #1100C2;
  margin-right: 8px;
}
/* line 25, ../sass/_btn.scss */
.button-ghost span {
  font-family: "Open sans", sans-serif;
  font-size: 15px;
  line-height: 20px;
  color: #1100C2;
}

/* line 29, ../sass/_btn.scss */
.button {
  height: 45px;
  background-color: #1100C2;
  border-radius: 25px;
  border: solid 2px #1100C2;
  padding: 0 25px;
  box-shadow: 0 2px 10px 0 #4D5AFF;
}
/* line 36, ../sass/_btn.scss */
.button:hover {
  background-color: #08005A;
  border-color: #08005A;
}
/* line 40, ../sass/_btn.scss */
.button i {
  font-size: 18px;
  color: white;
  margin-right: 8px;
}
/* line 45, ../sass/_btn.scss */
.button span {
  font-family: "Open sans", sans-serif;
  font-size: 15px;
  line-height: 20px;
  color: white;
}

/* line 49, ../sass/_btn.scss */
.button-lite {
  height: 25px;
  padding: 0 25px;
  border: solid 1px #1100C2;
  border-radius: 8px;
  font-family: "Open sans", sans-serif;
  font-size: 14px;
  line-height: 19px;
  color: #1100C2;
  opacity: 0.6;
  background-color: transparent;
}
/* line 57, ../sass/_btn.scss */
.button-lite:hover {
  background-color: #1100C2;
  color: white;
  opacity: 0.9;
}

/* line 4, ../sass/style.scss */
body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

/* line 10, ../sass/style.scss */
a, a:hover {
  text-decoration: none;
  cursor: pointer;
  color: inherit;
}

/* line 16, ../sass/style.scss */
.sub-line-text {
  display: block;
  font-family: "Raleway";
  font-size: 22px;
  line-height: 26px;
  color: #65738E;
  margin-bottom: 30px;
}

/* line 21, ../sass/style.scss */
.head-line-text {
  display: block;
  font-family: "Raleway";
  font-size: 36px;
  line-height: 42px;
  color: #1100C2;
  margin-bottom: 20px;
  font-weight: 800;
}

/* line 27, ../sass/style.scss */
#top {
  display: none;
}

/* line 30, ../sass/style.scss */
#header-nav-bar {
  background-color: white;
  box-shadow: 0 5px 20px 0 rgba(75, 101, 129, 0.4);
  position: fixed;
  z-index: 100;
}

/* line 36, ../sass/style.scss */
.header {
  height: 85px;
  display: flex;
  align-items: center;
}
/* line 40, ../sass/style.scss */
.header__logo {
  cursor: pointer;
}
/* line 43, ../sass/style.scss */
.header__nav-bar {
  display: flex;
  justify-content: center;
}
/* line 46, ../sass/style.scss */
.header__nav-bar a {
  text-decoration: none;
  margin: 0 10px;
  position: relative;
  border-bottom: solid 2px transparent;
}
/* line 51, ../sass/style.scss */
.header__nav-bar a:hover {
  border-bottom: solid 2px #1100C2;
}
/* line 54, ../sass/style.scss */
.header__nav-bar a:first-child:before {
  width: 0;
}
/* line 57, ../sass/style.scss */
.header__nav-bar a:last-child:before {
  width: 0;
}
/* line 60, ../sass/style.scss */
.header__nav-bar a:before {
  content: "";
  position: absolute;
  right: -10px;
  bottom: 5px;
  width: 1px;
  height: 13px;
  background-color: #65738E;
}
/* line 69, ../sass/style.scss */
.header__nav-bar a i {
  color: #1100C2;
  font-size: 20px;
}
/* line 73, ../sass/style.scss */
.header__nav-bar a span {
  font-family: "Raleway";
  font-size: 14px;
  line-height: 17px;
  color: #08005A;
  text-transform: uppercase;
}

/* line 83, ../sass/style.scss */
#lang-select {
  position: relative;
}
/* line 85, ../sass/style.scss */
#lang-select:before {
  content: "";
  position: absolute;
  top: 0;
  right: -430px;
  height: 900px;
  width: 915px;
  z-index: -1;
  background: url("../img/bg.png") no-repeat;
}

/* line 96, ../sass/style.scss */
.lang-select {
  margin-top: 185px;
}
/* line 98, ../sass/style.scss */
.lang-select input {
  display: none;
}
/* line 101, ../sass/style.scss */
.lang-select label {
  height: 37px;
  width: 37px;
  border: solid 1px transparent;
  background-color: #CED4E0;
  border-radius: 20px;
  cursor: pointer;
  position: relative;
  margin-right: 10px;
}
/* line 110, ../sass/style.scss */
.lang-select label span {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: block;
  white-space: nowrap;
  font-family: "Open sans", sans-serif;
  font-size: 16px;
  line-height: 22px;
  color: #1100C2;
}
/* line 116, ../sass/style.scss */
.lang-select label:hover {
  background-color: transparent;
  border-color: #1100C2;
}

/* line 122, ../sass/style.scss */
#lang-1:checked ~ label:nth-of-type(1),
#lang-2:checked ~ label:nth-of-type(2),
#lang-3:checked ~ label:nth-of-type(3) {
  background-color: transparent;
  border-color: #1100C2;
}

/* line 129, ../sass/style.scss */
#contact-us-now .row {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
/* line 134, ../sass/style.scss */
#contact-us-now h1 {
  font-family: "Raleway";
  font-size: 48px;
  line-height: 56px;
  color: #1100C2;
  width: 552px;
  margin-bottom: 75px;
  position: relative;
}
/* line 139, ../sass/style.scss */
#contact-us-now h1:before {
  content: "syntelect";
  font-family: "Raleway";
  font-size: 120px;
  line-height: 141px;
  color: #F4F5F8;
  position: absolute;
  bottom: -120px;
  left: 0;
  z-index: -1;
}

/* line 149, ../sass/style.scss */
#about-us {
  margin-top: 320px;
  position: relative;
}
/* line 152, ../sass/style.scss */
#about-us:before {
  content: "";
  z-index: -1;
  height: 770px;
  width: 780px;
  position: absolute;
  top: -80px;
  left: -270px;
  background: url("../img/foto_splash_text_1.png") no-repeat;
}
/* line 162, ../sass/style.scss */
#about-us .content {
  width: 680px;
  margin-left: auto;
}
/* line 165, ../sass/style.scss */
#about-us .content h2 {
  font-family: "Raleway";
  font-size: 36px;
  line-height: 42px;
  color: #08005A;
  margin-bottom: 17px;
}
/* line 169, ../sass/style.scss */
#about-us .content p {
  font-family: "Open sans", sans-serif;
  font-size: 15px;
  line-height: 20px;
  color: #65738E;
  margin-bottom: 20px;
}

/* line 175, ../sass/style.scss */
#why-choose-us {
  margin-top: 135px;
  position: relative;
}

/* line 180, ../sass/style.scss */
.whu__header {
  margin: 0 auto 270px auto;
  max-width: 680px;
}
/* line 183, ../sass/style.scss */
.whu__header + .whu__background {
  top: 50px;
  height: 1000px;
}
/* line 187, ../sass/style.scss */
.whu__header h2, .whu__header span {
  text-align: center;
}
/* line 191, ../sass/style.scss */
.whu__background {
  position: absolute;
  width: 100%;
}
/* line 194, ../sass/style.scss */
.whu__background img {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  height: 100%;
}
/* line 199, ../sass/style.scss */
.whu__poligon {
  z-index: 1;
  width: 800px;
  height: 800px;
  margin: 0 auto 0 auto;
  position: relative;
  background: url("../img/bg_poly+spl.svg") no-repeat;
}
/* line 206, ../sass/style.scss */
.whu__poligon__text {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
}
/* line 209, ../sass/style.scss */
.whu__poligon__text h2 {
  width: 225px;
  font-family: "Raleway";
  font-size: 24px;
  line-height: 29px;
  color: #08005A;
  text-align: center;
  margin: 0 auto 25px auto;
  font-weight: 800;
}
/* line 216, ../sass/style.scss */
.whu__poligon__text span {
  font-family: "Raleway";
  font-size: 14px;
  line-height: 19px;
  color: #08005A;
  text-align: center;
  display: block;
}
/* line 222, ../sass/style.scss */
.whu__poligon__reason {
  width: 100%;
  height: 100%;
  position: relative;
}
/* line 226, ../sass/style.scss */
.whu__poligon__reason a {
  display: block;
  position: absolute;
  cursor: pointer;
}
/* line 230, ../sass/style.scss */
.whu__poligon__reason a span {
  font-family: "Raleway";
  font-size: 16px;
  line-height: 19px;
  color: #65738E;
  text-align: center;
  display: block;
}
/* line 235, ../sass/style.scss */
.whu__poligon__reason a h2 {
  font-family: "Raleway";
  font-size: 20px;
  line-height: 24px;
  color: #1100C2;
  text-align: center;
  font-weight: 600;
}
/* line 241, ../sass/style.scss */
.whu__poligon__reason a:hover h2 {
  color: #08005A;
}
/* line 244, ../sass/style.scss */
.whu__poligon__reason a:hover .whu__poligon__ico {
  background-color: #CFF1FF;
}
/* line 246, ../sass/style.scss */
.whu__poligon__reason a:hover .whu__poligon__ico img:nth-child(2) {
  display: none;
}
/* line 249, ../sass/style.scss */
.whu__poligon__reason a:hover .whu__poligon__ico img:nth-child(3) {
  display: block;
}
/* line 252, ../sass/style.scss */
.whu__poligon__reason a:hover .whu__poligon__ico > div {
  border-bottom: solid 2px #08005A;
}
/* line 254, ../sass/style.scss */
.whu__poligon__reason a:hover .whu__poligon__ico > div > div {
  border-bottom: solid 2px #08005A;
}
/* line 256, ../sass/style.scss */
.whu__poligon__reason a:hover .whu__poligon__ico > div > div > div {
  background-color: #1100C2;
}
/* line 265, ../sass/style.scss */
.whu__poligon__ico {
  height: 63px;
  width: 63px;
  background-color: #1100C2;
  box-shadow: 5px 5px 20px 0 rgba(75, 101, 129, 0.4);
  border-radius: 32px;
  position: absolute;
}
/* line 272, ../sass/style.scss */
.whu__poligon__ico img {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
}
/* line 276, ../sass/style.scss */
.whu__poligon__ico img:nth-child(2) {
  display: block;
}
/* line 279, ../sass/style.scss */
.whu__poligon__ico img:nth-child(3) {
  display: none;
}
/* line 282, ../sass/style.scss */
.whu__poligon__ico > div {
  transform-origin: left 50%;
  transform: rotate(50deg);
  z-index: -1;
  position: absolute;
  top: 50%;
  left: 50%;
  height: 1px;
  min-width: 100px;
  border-bottom: dashed 2px #6D94C0;
}
/* line 292, ../sass/style.scss */
.whu__poligon__ico > div > div {
  transform-origin: left 50%;
  transform: rotate(50deg);
  position: absolute;
  top: 50%;
  left: 100%;
  height: 1px;
  min-width: 200px;
  border-bottom: dashed 2px #6D94C0;
}
/* line 301, ../sass/style.scss */
.whu__poligon__ico > div > div > div {
  position: absolute;
  top: 1px;
  left: 100%;
  transform: translate(-50%, -50%);
  height: 12px;
  width: 12px;
  border-radius: 6px;
  background-color: #08005A;
}

/* line 316, ../sass/style.scss */
#reason-1 {
  top: -70px;
  left: 50%;
  transform: translateX(-50%);
}
/* line 320, ../sass/style.scss */
#reason-1 .whu__poligon__ico {
  top: 170px;
  left: calc(50% - 32px);
}
/* line 323, ../sass/style.scss */
#reason-1 .whu__poligon__ico > div {
  transform: rotate(-55deg);
  width: 175px;
}
/* line 326, ../sass/style.scss */
#reason-1 .whu__poligon__ico > div > div {
  transform: rotate(-125deg);
}

/* line 332, ../sass/style.scss */
#reason-2 {
  width: 200px;
  top: 70px;
  left: 100%;
  transform: translateX(-50%);
}
/* line 337, ../sass/style.scss */
#reason-2 .whu__poligon__ico {
  top: 110px;
  left: -160px;
}
/* line 340, ../sass/style.scss */
#reason-2 .whu__poligon__ico > div {
  transform: rotate(-40deg);
  width: 135px;
}
/* line 343, ../sass/style.scss */
#reason-2 .whu__poligon__ico > div > div {
  transform: rotate(40deg);
  width: 250px;
}

/* line 350, ../sass/style.scss */
#reason-3 {
  width: 200px;
  top: 70px;
  left: 100%;
  transform: translateX(-50%);
}
/* line 355, ../sass/style.scss */
#reason-3 .whu__poligon__ico {
  top: 110px;
  left: -160px;
}
/* line 358, ../sass/style.scss */
#reason-3 .whu__poligon__ico > div {
  transform: rotate(-40deg);
  width: 135px;
}
/* line 361, ../sass/style.scss */
#reason-3 .whu__poligon__ico > div > div {
  transform: rotate(40deg);
  width: 250px;
}

/* line 368, ../sass/style.scss */
#reason-4 {
  width: 200px;
  top: 70px;
  left: 100%;
  transform: translateX(-50%);
}
/* line 373, ../sass/style.scss */
#reason-4 .whu__poligon__ico {
  top: 110px;
  left: -160px;
}
/* line 376, ../sass/style.scss */
#reason-4 .whu__poligon__ico > div {
  transform: rotate(-40deg);
  width: 135px;
}
/* line 379, ../sass/style.scss */
#reason-4 .whu__poligon__ico > div > div {
  transform: rotate(40deg);
  width: 250px;
}

/* line 386, ../sass/style.scss */
#reason-5 {
  width: 200px;
  top: 70px;
  left: 100%;
  transform: translateX(-50%);
}
/* line 391, ../sass/style.scss */
#reason-5 .whu__poligon__ico {
  top: 110px;
  left: -160px;
}
/* line 394, ../sass/style.scss */
#reason-5 .whu__poligon__ico > div {
  transform: rotate(-40deg);
  width: 135px;
}
/* line 397, ../sass/style.scss */
#reason-5 .whu__poligon__ico > div > div {
  transform: rotate(40deg);
  width: 250px;
}

/* line 404, ../sass/style.scss */
#reason-6 {
  width: 200px;
  top: 70px;
  left: 100%;
  transform: translateX(-50%);
}
/* line 409, ../sass/style.scss */
#reason-6 .whu__poligon__ico {
  top: 110px;
  left: -160px;
}
/* line 412, ../sass/style.scss */
#reason-6 .whu__poligon__ico > div {
  transform: rotate(-40deg);
  width: 135px;
}
/* line 415, ../sass/style.scss */
#reason-6 .whu__poligon__ico > div > div {
  transform: rotate(40deg);
  width: 250px;
}

/* line 422, ../sass/style.scss */
#reason-7 {
  width: 200px;
  top: 70px;
  left: 100%;
  transform: translateX(-50%);
}
/* line 427, ../sass/style.scss */
#reason-7 .whu__poligon__ico {
  top: 110px;
  left: -160px;
}
/* line 430, ../sass/style.scss */
#reason-7 .whu__poligon__ico > div {
  transform: rotate(-40deg);
  width: 135px;
}
/* line 433, ../sass/style.scss */
#reason-7 .whu__poligon__ico > div > div {
  transform: rotate(40deg);
  width: 250px;
}

/* line 440, ../sass/style.scss */
#reason-8 {
  width: 200px;
  top: 70px;
  left: 100%;
  transform: translateX(-50%);
}
/* line 445, ../sass/style.scss */
#reason-8 .whu__poligon__ico {
  top: 110px;
  left: -160px;
}
/* line 448, ../sass/style.scss */
#reason-8 .whu__poligon__ico > div {
  transform: rotate(-40deg);
  width: 135px;
}
/* line 451, ../sass/style.scss */
#reason-8 .whu__poligon__ico > div > div {
  transform: rotate(40deg);
  width: 250px;
}
